.history-element__wrapper {
  flex: none;
  position: relative;
  background: rgba(244, 244, 244, 0.55);
  box-shadow: 0px 8px 8px 0px rgb(55, 69, 108, 0.04);
  padding: 0px 16px;
  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;

  // Main container of the user question
  .discussion__user {
    text-align: left;
    padding: 16px 0;
    margin-bottom: 0;
    font-weight: 400;

    .discussion__images-container {
      justify-content: start;

      img {
        max-height: 48px;
      }
    }
  }

  // child of the user question container
  .discussion__userspan {
    box-shadow: none;
    background: none;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  &.expanded .discussion__userspan {
    -webkit-line-clamp: unset;
    line-clamp: unset;
  }

  &.expanded .discussion__ai {
    max-height: 1000px; // Set max height to a large value to allow for expansion
    padding-bottom: 12px;
  }

  .discussion__ai {
    padding: 0;
    margin: 0;
    min-height: 0;
    max-height: 0px;
    overflow: hidden; // Ensure content is hidden when height is 0
  }
}
