@import "./historyElement.scss";

.history__container {
  height: 100vh; // fallback for browsers that don't support svh units
  height: 100dvh;
  margin: 0 -15px; // adding negative margin to leave space for the shadow of the children
  padding: 120px 15px 100px; // if the children have a shadow, the parent should have a padding to avoid cutting the shadow with the overflow
  overflow-y: auto;
  transition: opacity 200ms ease-in-out;

  @include media("<tablet") {
    padding: 120px 35px 80px;
  }

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    display: none;
  }

  // Hide scrollbar for IE, Edge and Firefox
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  // &.visible {
  //   transition: opacity 1200ms ease-in-out;
  //   opacity: 1;
  // }

  // &.hidden {
  //   opacity: 0;
  // }
}

.history__date {
  color: #9fb7cb;
  font-size: 48px;
  font-weight: 300;
  padding: 74px 0 24px;

  @include media("<tablet") {
    grid-column: span 1;
    padding: 20px 0 4px;
  }
}
