// Spacing
$paddingHor: 40px;
$paddingTop: 48px;
$paddingHorMobile: 20px;
$paddingTopMobile: 28px;

// Fonts
@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Book.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Medium.woff2");
  font-weight: 600;
}

// Reset all transitions
.preload * {
  transition: none !important;
}

body {
  color: $colorMain;
  height: 100vh;
  overflow: hidden;
  font-family: Circular;
  font-weight: 400;
  font-feature-settings: "liga" 0;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 1100ms $ease-in-out-cubic;
}

.page-blue {
  background: $backgroundColorBluePage;

  main {
    width: 100%;
    max-width: 696px;
  }
  &.hidden {
    transform: translateY(-100%);
  }
}

.page-grey {
  background-color: $backgroundColorGreyPage;

  main {
    padding-top: $paddingTop;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 870px;
    margin: 0 120px;
  }
  &.show {
    transform: translateY(-100%);
  }
}
