.login-page {
  position: fixed;
  color: $colorMain;
  z-index: 5;
  background: $backgroundColorGreyPage;
  inset: 0;
  /* Aligns horizontally */
  // display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  transition: transform 800ms ease-in-out;

  &.hidden {
    transform: translateY(-100%);
  }

  &.none {
    display: none;
  }

  .test {
    height: 250vh;
    background-color: red;
  }
}

.divgoogle {
  border: 1px solid #dedddc;
  border-radius: 60px;
}

.divlogin {
}

.divwaitlist {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnsave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba($colorBlack, 0.48);
}

.divloginbtn {
  // margin-bottom: 100px;
}

.divintroinfo {
  z-index: 10;
  position: fixed;
  display: flex;
  background-color: $backgroundColorGreyPage;
  justify-content: center;
  align-items: center;
  inset: 0;
}

.divtext {
  color: $colorBlack;
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: "SFPro";
  font-size: 24px;
  font-style: normal;
  font-weight: 450;
  line-height: 32px;
  letter-spacing: 0.6px;
  margin-top: 76px;

  @include media("<tablet") {
    font-size: 16px;
    line-height: 20px;
    margin-top: 0px;
  }
}

.divinfotext {
  color: $colorBlack;
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: "SFPro";
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.15px;
  margin-bottom: 40px;

  @include media("<tablet") {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15px;
    margin-bottom: 32px;
  }
}

.divlink {
  // display: none;
  color: rgba($colorBlack, 0.48);
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: "SFPro";
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 72px;

  @include media("<tablet") {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.45px;
    margin-bottom: 128px;
  }
}

.divwaitlistlogo {
  margin-bottom: 132px;

  @include media("<tablet") {
    margin-bottom: 80px;
  }
}

#divlottieanimation {
  svg path {
    fill: #003979;
  }
}

.divlottie,
.divwaitlisttext {
  color: $colorBlack;
  text-align: center;
  font-feature-settings: "liga" off;
  font-family: "SFPro";
  font-size: 24px;
  font-style: normal;
  font-weight: 450;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 48px;

  @include media("<tablet") {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}

.divwaitlistform {
  color: $colorBlack;
  // text-align: center;
  background: #ffffff;
  border-radius: 16px !important;
  padding: 16px;
  font-feature-settings: "liga" off;
  font-family: "SFPro";
  font-size: 24px;
  font-style: normal;
  font-weight: 450;
  line-height: 32px;
  letter-spacing: 1px;
  margin-bottom: 48px;

  @include media("<tablet") {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  input,
  textarea {
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    border: none;
    background: $backgroundColorGreyPage;
    border-radius: 8px;
    color: inherit;
    width: 350px;
    padding: 4px 8px 4px 8px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 28px;
  }

  label {
    font-size: 28px;
    opacity: 0.8;
  }
}

.error {
  border: 2px solid red !important;
}

.login__container {
  // margin-top: 96px;
  // max-width: 950px;

  .logo__main {
    display: flex;
    justify-content: center;
  }

  .logo__mobile {
    display: none;
  }

  p {
    margin: 80px 0 64px;
    font-size: 20px;
    font-weight: 450;
    line-height: 24px;
    text-align: center;
    max-width: 330px;
    color: $colorBlack;
  }
}

.divintrotext {
  color: $colorBlueText;
  font-family: "SFPro";
  font-size: 200px;
  font-weight: 600;
  letter-spacing: 1px;

  // margin-bottom: 100px;
  @include media("<tablet") {
    font-size: 80px;
  }
}

.divintrologo {
  display: none;
  color: $colorBlueText;
  font-feature-settings: "liga" off;
  font-family: "SFPro";
  font-size: 180px;
  font-style: normal;
  font-weight: 500;

  /* 111.111% */
  letter-spacing: 0.4px;
  position: relative;

  p {
    text-align: start;
    color: rgba($colorBlueText, 0.6);
    line-height: 100%;
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 48px;
    padding-left: 2px;

    @include media("<tablet") {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

  .co-logo {
    display: flex;
    gap: 26px;
    height: 300px;

    path {
      fill: $colorBlueText;
    }

    .asterizk {
      margin-left: 6px;
      width: 107px;
    }

    @include media("<tablet") {
      height: 121.75px;
      gap: 10px;
      .asterizk {
        margin-left: 2px;
        width: 43.46px;
      }
    }
  }

  // margin-bottom: 100px;
  @include media("<tablet") {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.08px;
    padding-bottom: 182px;
  }
}
