<button class="cancel-btn">
  <svg class="close-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect
      x="13.002"
      y="14.1318"
      width="1.6"
      height="17.6"
      rx="0.8"
      transform="rotate(-45 13.002 14.1318)"
      fill="white"
    />
    <rect x="13" y="25.4453" width="17.6" height="1.6" rx="0.8" transform="rotate(-45 13 25.4453)" fill="white" />
  </svg>
</button>