<div class="input__container {{labelPage}}">
  <div class="input__back gradient-border">
    <form>
        <div class="input-text__expand">
          <textarea class="input-text" rows="1" autofocus
            onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
        </div>
        <div class="input__controls">
          <div class="left">
          </div>
          <div class="right">
            <button type="submit" class="submit" aria-label="Submit" disabled>
              <img src="./icons/sub.svg" id="sub">
            </button>
          </div>
        </div>
    </form>
  </div>
</div>