<div class="heroBentoGrid__container">

  <div class="heroBentoGrid__wrapper">
    <h1> <span>Good Morning, </span> <br /> Alex</h1>
    <div class="heroBentoGrid__grid">
      <div class="heroBentoGrid__left">
        <div class="heroBentoGrid__row">
          <div class="heroBentoGrid__grid-item square-item">

          </div>
          <div class="heroBentoGrid__grid-item wide-item">

          </div></div>
        <div class="heroBentoGrid__row">
          <div class="heroBentoGrid__grid-item wide-item">

          </div>
          <div class="heroBentoGrid__grid-item square-item">

          </div>
        </div>
      </div>
      <div class="heroBentoGrid__right">
        <div class="heroBentoGrid__grid-item high-item">

        </div>
      </div>
    </div>
  </div>
</div>