<div class="input__container">
  <!-- Input front -->
  <div class="input__front">
    <form>
      <textarea
        class="input-text"
        rows="1"
        placeholder="How can I help you?"
        autofocus
        onInput="this.parentNode.dataset.replicatedValue = this.value"
      ></textarea>
    </form>
    <div class="buttons-container">
      <button class="camera-btn input-icon-btn" type="button">
        <img alt="camera-icon" src="/icons/image-icon.svg" />
      </button>
      <button class="video-btn input-icon-btn" type="button">
        <img alt="video-icon" src="/icons/camera-video.svg" />
      </button>
    </div>

    <!-- Input image -->
    <div class="input__image--container">
      <label for="file-upload-{{labelPage}}" class="icon-file-upload">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
          <path d="M0 0h40v40H0z" />
          <rect width="1.6" height="14.933" x="19.24" y="9.603" fill="#000" rx=".8" />
          <rect
            width="1.6"
            height="8.382"
            fill="#00254E"
            rx=".8"
            transform="scale(.98178 1.0179) rotate(45 .695 28.521)"
          />
          <rect
            width="8.382"
            height="1.6"
            fill="#00254E"
            rx=".8"
            transform="scale(.98178 1.0179) rotate(45 .695 28.521)"
          />
          <path
            stroke="#00254E"
            stroke-linecap="round"
            stroke-width="1.6"
            d="M15.2 18.67h-2.6a1.6 1.6 0 0 0-1.6 1.6v10.133a1.6 1.6 0 0 0 1.6 1.6h14.8a1.6 1.6 0 0 0 1.6-1.6V20.27a1.6 1.6 0 0 0-1.6-1.6h-2.45"
          />
        </svg>
      </label>
      <input id="file-upload-{{labelPage}}" class="input__file-upload" type="file" accept="image/*" multiple />
      <input class="input__image" type="text" placeholder="Paste an image link, drag an image" />
      <button class="input__image--closeBtn">
        <svg
          class="close-icon"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="13.002"
            y="14.1318"
            width="1.6"
            height="17.6"
            rx="0.8"
            transform="rotate(-45 13.002 14.1318)"
            fill="white"
          />
          <rect x="13" y="25.4453" width="17.6" height="1.6" rx="0.8" transform="rotate(-45 13 25.4453)" fill="white" />
        </svg>
      </button>
    </div>
  </div>

  <button class="phone-btn" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.69031 2.22833C4.45164 2.16014 4.3323 2.12604 4.23202 2.06546C4.11023 1.99186 4.00814 1.88977 3.93454 1.76798C3.87396 1.6677 3.83986 1.54836 3.77167 1.30969C3.56107 0.572618 3.45578 0.204084 3.30466 0.0969979C3.12214 -0.0323327 2.87786 -0.0323326 2.69534 0.096998C2.54422 0.204084 2.43893 0.572618 2.22833 1.30969C2.16014 1.54837 2.12604 1.6677 2.06546 1.76798C1.99186 1.88977 1.88977 1.99186 1.76798 2.06546C1.6677 2.12604 1.54836 2.16014 1.30969 2.22833C0.572618 2.43893 0.204084 2.54422 0.096998 2.69534C-0.0323326 2.87786 -0.0323327 3.12214 0.0969979 3.30466C0.204084 3.45578 0.572618 3.56107 1.30969 3.77167C1.54837 3.83986 1.6677 3.87396 1.76798 3.93454C1.88977 4.00814 1.99186 4.11023 2.06546 4.23202C2.12604 4.3323 2.16014 4.45164 2.22833 4.69031C2.43893 5.42738 2.54422 5.79592 2.69534 5.903C2.87786 6.03233 3.12214 6.03233 3.30466 5.903C3.45578 5.79592 3.56107 5.42738 3.77167 4.69031C3.83986 4.45163 3.87396 4.33229 3.93454 4.23202C4.00814 4.11023 4.11023 4.00814 4.23202 3.93454C4.33229 3.87396 4.45163 3.83986 4.69031 3.77167C5.42738 3.56107 5.79592 3.45578 5.903 3.30466C6.03233 3.12214 6.03233 2.87786 5.903 2.69534C5.79592 2.54422 5.42738 2.43893 4.69031 2.22833Z"
        fill="white"
      />
    </svg>
    <img alt="phone-icon" src="/icons/phone-icon.svg" />
  </button>
</div>