<div class="input__container">
  <p class="record-counter">00:00</p>
  <!-- Input front -->
  <div class="input__front">
    <button class="camera-btn" type="button">
      <svg class="icon-camera" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
        <path
          stroke="#000"
          stroke-opacity=".72"
          stroke-width="1.6"
          d="M26 22v-9a2 2 0 0 0-2-2h-2.5l-1.224-2.447A1 1 0 0 0 19.382 8h-6.764a1 1 0 0 0-.894.553L10.5 11H8a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
        />
        <circle cx="16" cy="17" r="3" stroke="#000" stroke-opacity=".72" stroke-width="1.6" />
      </svg>
    </button>
    <button class="center-btn" type="button">Type away</button>
    {{#if (isBlue labelPage)}}
      <button class="mic-btn" type="button">
        <svg class="icon-mic" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
          <path
            fill="#000"
            fill-opacity=".72"
            fill-rule="evenodd"
            d="M9.6 13.916a.8.8 0 0 0-1.6 0v2.415a8.301 8.301 0 0 0 7.5 8.262V28h1.6v-3.407a8.301 8.301 0 0 0 7.5-8.262v-2.415a.8.8 0 0 0-1.6 0v2.415a6.7 6.7 0 0 1-13.4 0v-2.415Z"
            clip-rule="evenodd"
          />
          <rect
            width="6.971"
            height="15.098"
            x="12.8"
            y="4.8"
            stroke="#000"
            stroke-linejoin="round"
            stroke-opacity=".72"
            stroke-width="1.6"
            rx="3.486"
          />
        </svg>
      </button>
    {{else}}
      <button class="phone-btn" type="button">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.335 13.0087L18.3406 13.0146L18.3464 13.0203L18.3472 13.0211C18.3751 13.0489 18.5282 13.2013 18.2461 13.8237C17.9662 14.4412 17.3441 15.2811 16.2973 16.3264C15.2505 17.3716 14.4091 17.9929 13.7904 18.2725C13.1652 18.555 13.0116 18.4013 12.9834 18.3731L12.9828 18.3724C12.3562 17.7469 11.4905 17.6403 10.7348 17.7923C9.9765 17.9447 9.22221 18.3687 8.63231 18.9749C7.66063 19.9463 7.19375 20.8253 7.20006 21.6634C7.2065 22.5188 7.70654 23.0772 8.00618 23.3764H8.00617C8.43959 23.8091 9.58692 24.8926 11.648 24.7937C13.6603 24.6971 16.3448 23.4817 19.9176 19.9145C23.4928 16.3606 24.7022 13.671 24.7943 11.6526C24.8884 9.5898 23.8075 8.43717 23.386 8.01637C23.0939 7.72469 22.5355 7.21312 21.6782 7.20024C20.8321 7.18754 19.9481 7.66009 18.9744 8.6484C18.3785 9.24429 17.9456 9.99049 17.7828 10.7475C17.6195 11.5064 17.7179 12.3669 18.335 13.0087Z"
            stroke="black"
            stroke-width="1.6"
          />
        </svg>
      </button>
    {{/if}}
  </div>
  <!-- Input image -->
  <div class="input__image--container">
    <label for="file-upload-{{labelPage}}" class="icon-file-upload">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
        <path fill="#fff" d="M0 0h40v40H0z" />
        <rect width="1.6" height="14.933" x="19.24" y="9.603" fill="#000" rx=".8" />
        <rect width="1.6" height="8.382" fill="#000" rx=".8" transform="scale(.98178 1.0179) rotate(45 .695 28.521)" />
        <rect width="8.382" height="1.6" fill="#000" rx=".8" transform="scale(.98178 1.0179) rotate(45 .695 28.521)" />
        <path
          stroke="#000"
          stroke-linecap="round"
          stroke-width="1.6"
          d="M15.2 18.67h-2.6a1.6 1.6 0 0 0-1.6 1.6v10.133a1.6 1.6 0 0 0 1.6 1.6h14.8a1.6 1.6 0 0 0 1.6-1.6V20.27a1.6 1.6 0 0 0-1.6-1.6h-2.45"
        />
      </svg>
    </label>
    <input id="file-upload-{{labelPage}}" class="input__file-upload" type="file" accept="image/*" />
    <input class="input__image" type="text" placeholder="Paste an image link, drag an image" />
    <button class="input__image--closeBtn">
      <svg class="close-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect
          x="13.002"
          y="14.1318"
          width="1.6"
          height="17.6"
          rx="0.8"
          transform="rotate(-45 13.002 14.1318)"
          fill="white"
        />
        <rect x="13" y="25.4453" width="17.6" height="1.6" rx="0.8" transform="rotate(-45 13 25.4453)" fill="white" />
      </svg>
    </button>
  </div>
  <!-- Input back -->
  <div class="input__back">
    <form>
      <div class="input-text__expand">
        <textarea
          class="input-text"
          rows="1"
          autofocus
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </div>
      <div class="input__controls">
        <div class="left">
          <button class="camera-btn" type="button">
            <svg class="icon-camera" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
              <path
                stroke="#000"
                stroke-opacity=".72"
                stroke-width="1.6"
                d="M26 22v-9a2 2 0 0 0-2-2h-2.5l-1.224-2.447A1 1 0 0 0 19.382 8h-6.764a1 1 0 0 0-.894.553L10.5 11H8a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2Z"
              />
              <circle cx="16" cy="17" r="3" stroke="#000" stroke-opacity=".72" stroke-width="1.6" />
            </svg>
          </button>
          <div class="mic-btn__container">
            {{!-- {{#if (isBlue labelPage)}}
			  <p>Helo</p>
                <!-- Your code here will render if labelPage is 'blue' -->
              {{else}} --}}
            <button class="mic-btn" type="button">
              <svg class="icon-mic" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
                <path
                  fill="#000"
                  fill-opacity=".72"
                  fill-rule="evenodd"
                  d="M9.6 13.916a.8.8 0 0 0-1.6 0v2.415a8.301 8.301 0 0 0 7.5 8.262V28h1.6v-3.407a8.301 8.301 0 0 0 7.5-8.262v-2.415a.8.8 0 0 0-1.6 0v2.415a6.7 6.7 0 0 1-13.4 0v-2.415Z"
                  clip-rule="evenodd"
                />
                <rect
                  width="6.971"
                  height="15.098"
                  x="12.8"
                  y="4.8"
                  stroke="#000"
                  stroke-linejoin="round"
                  stroke-opacity=".72"
                  stroke-width="1.6"
                  rx="3.486"
                />
              </svg>
            </button>
            <p class="small-record-counter">00:00</p>
          </div>
        </div>
        <div class="right">
          <button type="submit" class="submit" aria-label="Submit" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="none">
              <path
                fill="#fff"
                fill-rule="evenodd"
                d="M6.997.75a.797.797 0 0 0-.563.234l-5.94 5.94a.8.8 0 0 0 1.131 1.131L6.2 3.481V16.45a.8.8 0 0 0 1.6 0V3.482l4.574 4.574a.8.8 0 1 0 1.13-1.132l-5.92-5.92A.798.798 0 0 0 6.997.75Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>