<div class="input__container {{labelPage}}">
  <p class="record-counter">00:00</p>
  <!-- Input front -->

  <div class="input__front">
    <form>
      <div class="input-text">
        <textarea
          class="input-text"
          rows="1"
          placeholder="How can I help you?"
          autofocus
          onInput="this.parentNode.dataset.replicatedValue = this.value"
        ></textarea>
      </div>
    </form>
    <button class="camera-btn input-icon-btn" type="button">
      <img alt="camera-icon" src="/icons/image-icon.svg" />
    </button>
    <button class="video-btn input-icon-btn" type="button">
      <img alt="video-icon" src="/icons/camera-video.svg" />
    </button>

    <!-- Input image -->
    <div class="input__image--container">
      <label for="file-upload-{{labelPage}}" class="icon-file-upload">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
          <path d="M0 0h40v40H0z" />
          <rect width="1.6" height="14.933" x="19.24" y="9.603" fill="#000" rx=".8" />
          <rect
            width="1.6"
            height="8.382"
            fill="#00254E"
            rx=".8"
            transform="scale(.98178 1.0179) rotate(45 .695 28.521)"
          />
          <rect
            width="8.382"
            height="1.6"
            fill="#00254E"
            rx=".8"
            transform="scale(.98178 1.0179) rotate(45 .695 28.521)"
          />
          <path
            stroke="#00254E"
            stroke-linecap="round"
            stroke-width="1.6"
            d="M15.2 18.67h-2.6a1.6 1.6 0 0 0-1.6 1.6v10.133a1.6 1.6 0 0 0 1.6 1.6h14.8a1.6 1.6 0 0 0 1.6-1.6V20.27a1.6 1.6 0 0 0-1.6-1.6h-2.45"
          />
        </svg>
      </label>
      <input id="file-upload-{{labelPage}}" class="input__file-upload" type="file" accept="image/*" multiple />
      <input class="input__image" type="text" placeholder="Paste an image link, drag an image" />
      <button class="input__image--closeBtn">
        <svg
          class="close-icon"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="13.002"
            y="14.1318"
            width="1.6"
            height="17.6"
            rx="0.8"
            transform="rotate(-45 13.002 14.1318)"
            fill="white"
          />
          <rect x="13" y="25.4453" width="17.6" height="1.6" rx="0.8" transform="rotate(-45 13 25.4453)" fill="white" />
        </svg>
      </button>
    </div>

    {{! Input form -only shown after click on center-btn }}

  </div>

  <button class="phone-btn" type="button">
    <img alt="phone-icon" src="/icons/phone-icon.svg" />
  </button>
</div>