<header class="header-nav dark{{theme}}">
  <div class="header-nav__wrapper">
    <button class="user-logo">
      <img src="/images/logo/co_logo.svg" alt="CO logo" />
    </button>

    <div class="header-nav__history-container">
      <button class="header-nav__history-button">
        History
      </button>
      <button class="header-nav__chevron">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 48 48" fill="none">
          <path
            d="M32 27L24 19L16 27"
            stroke="#676E7F"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</header>