<div class="phone__container">
  <button class="phone__pause">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.5 14L15.5 26" stroke="black" stroke-width="1.2" stroke-linecap="round" />
      <path d="M24.5 14L24.5 26" stroke="black" stroke-width="1.2" stroke-linecap="round" />
    </svg>

  </button>
  <div class="phone__center">
	<p class="phone__info"></p>
  </div>
  <button class="phone__close">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M15.6797 24.2959L25.2258 14.7498"
        stroke="black"
        stroke-opacity="0.72"
        stroke-width="1.23752"
        stroke-linecap="round"
      />
      <path
        d="M25.0469 24.5703L15.5008 15.0242"
        stroke="black"
        stroke-opacity="0.72"
        stroke-width="1.23752"
        stroke-linecap="round"
      />
    </svg>
  </button>
</div>