<div class="phone__debug">
  <button id="btn-toConnected">To connected</button>
  <button id="btn-toTalkToMe">To Talk to me</button>
  <button id="btn-toListening">To Listening</button>
  <button id="btn-finishTalk">Finish talk</button>
  <button id="btn-finishProcessing">Finish processing</button>
</div>

<div class="phone__wrapper">
  <div class="phone__container">
    <div class="phone__info-container">
      <p class="phone__info active">HELLO</p>
      <p class="phone__info">not active</p>
    </div>
    <div class="phone__buttons-container">
      <button class="phone__pause">Pause</button>
      <button class="phone__close">Close</button>
    </div>
  </div>
</div>