<div class="preLoginContent__container">
  <div class="x-container">
    <div class="header">
      <h2>I can help you</h2>
      <button class="preLoginContent__button">
        <a href="/blog/index.html">Learn More</a>
      </button>
    </div>
  </div>
  <div class="preLoginContent__slider">
    <div class="preLoginContent__gutter preLoginContent__left-gutter"></div>

    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card last">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>

    <div class="preLoginContent__right-gutter"></div>
  </div>

  <div id="divloginbtn" class="divloginbtn">
    <button id="divgoogle" class="divgoogle">
      <img src="../images/googlesignin.svg" />
    </button>
  </div>
</div>