<div class="preLoginContent__container">
  <h2 class="x-container">

    I can help you
  </h2>
  <div id="divloginbtn" class="divloginbtn">
    <button id="divgoogle" class="divgoogle">
      <img src="../images/googlesignin.svg" />
    </button>
  </div>
</div>