<div class="preLoginContent__container">

  <div class="preLoginContent__ctas">
    <p>Join Wait List</p>
    <button id="divgoogle" class="divgoogle">
      <img src="../images/logo/google-logo.svg" />
      <p>Sign In with Google</p>
    </button>
  </div>

  <div class="header x-container">
    <h2>I can help you</h2>
    <button class="preLoginContent__button">
      <a href="/blog/index.html">Learn More</a>
    </button>
  </div>

  <div class="preLoginContent__slider">
    <div class="preLoginContent__gutter preLoginContent__left-gutter"></div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content first">
        <h3>Get things done</h3>
        <div class="CO-logo-gradient">
          <svg viewBox="0 0 280 170" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M107.42 85.8549C107.42 74.6571 107.22 63.4544 107.501 52.2667C107.651 46.3695 108.057 40.357 109.381 34.6352C111.543 25.298 116.788 17.6206 124.039 11.277C132.243 4.10107 141.861 0.345099 152.592 0.0542497C162.948 -0.22657 172.536 2.69697 180.905 9.1107C194.435 19.476 200.081 33.5421 200.136 50.1606C200.212 73.8047 200.141 97.4537 200.156 121.098C200.161 130.054 198.271 138.589 193.657 146.266C188.668 154.576 181.878 161.095 172.982 165.342C163.369 169.935 153.435 170.653 143.2 168.326C134.485 166.345 127.048 161.897 120.995 155.438C116.783 150.945 113.263 145.915 110.916 140.028C108.704 134.477 107.541 128.83 107.486 122.953C107.375 110.587 107.451 98.221 107.451 85.8549C107.441 85.8549 107.425 85.8549 107.415 85.8549H107.42ZM171.412 85.3434H171.427C171.427 74.1457 171.463 62.9479 171.402 51.7553C171.387 49.0072 171.232 46.2341 170.816 43.5212C169.512 35.0214 163.68 29.6306 154.789 28.4823C148.365 27.6549 140.612 32.4338 137.97 39.5095C136.716 42.8693 136.109 46.6604 136.084 50.2609C135.919 73.4035 135.949 96.5511 136.039 119.699C136.059 124.397 136.831 129.001 139.584 133.068C145.151 141.297 156.168 143.829 164.437 136.814C169.341 132.657 171.538 127.396 171.458 120.937C171.307 109.073 171.412 97.208 171.412 85.3434Z"
              fill="url(#paint0_linear_4838_14475)"
            />
            <path
              d="M28.4347 84.9671C28.4347 96.245 28.3344 107.528 28.4799 118.806C28.5451 123.981 29.0866 129.061 32.296 133.579C39.818 144.17 53.7437 142.951 60.1975 132.882C62.8402 128.76 63.7228 124.292 63.8833 119.558C63.9435 117.803 63.9083 116.048 64.0136 114.298C64.1992 111.374 65.6434 109.78 68.5068 109.739C75.2715 109.644 82.0413 109.664 88.8111 109.739C90.6314 109.759 92.221 110.752 92.3514 112.658C93.1788 124.974 91.7597 136.904 84.9849 147.575C79.2331 156.636 71.4052 163.381 61.2055 167.072C55.4988 169.138 49.5665 169.87 43.4937 169.554C32.6069 168.992 23.3298 164.745 15.2863 157.514C10.8032 153.487 7.36821 148.683 4.76059 143.323C1.77186 137.17 0.0819232 130.61 0.0618646 123.745C0.00168881 98.3462 -0.0484572 72.947 0.0819236 47.5478C0.142099 35.8185 3.71253 25.1674 11.42 16.1611C18.5007 7.88195 27.4218 2.74194 38.2083 0.746108C45.0232 -0.512568 51.803 -0.151514 58.322 1.62367C66.9221 3.97053 74.2736 8.67928 80.2661 15.4591C90.0347 26.5164 92.5771 39.7801 92.3213 53.9314C92.2511 57.6974 90.6214 59.1718 86.9356 59.1868C81.0885 59.2069 75.2364 59.2018 69.3894 59.1818C65.6434 59.1667 64.139 57.6674 63.8933 53.9164C63.6426 50.0952 63.8081 46.1587 62.9205 42.483C61.2656 35.628 57.1135 30.6635 49.9426 28.9635C40.2894 26.6718 31.253 32.5741 29.4276 42.4178C28.8209 45.6874 28.51 49.0522 28.4749 52.3719C28.3595 63.2336 28.4297 74.0953 28.4347 84.9571V84.9671Z"
              fill="url(#paint1_linear_4838_14475)"
            />
            <path
              d="M256.621 55.4962C256.501 56.5393 256.27 57.5873 256.285 58.6304C256.325 61.9701 256.431 65.3099 256.556 68.6446C256.676 71.7487 255.563 73.228 252.449 73.4437C249.706 73.6342 246.933 73.6091 244.185 73.4737C241.642 73.3484 240.359 71.7938 240.384 69.1712C240.414 65.6659 240.534 62.1557 240.524 58.6504C240.524 57.5573 240.218 56.459 239.922 54.4783C235.876 57.2413 232.426 59.4829 229.101 61.91C226.227 64.0111 225.701 64.0312 223.459 61.1828C222.065 59.4127 220.686 57.6325 219.307 55.8573C216.795 52.6128 217.196 50.3261 220.701 48.1398C224.096 46.0236 227.526 43.9525 230.926 41.8363C231.759 41.3198 232.536 40.7131 233.865 39.7753C231.829 37.7945 230.189 35.8087 228.173 34.3445C225.21 32.1982 222.015 30.3528 218.831 28.5275C216.86 27.3992 216.188 26.2959 217.773 24.265C219.979 21.4468 222 18.4781 224.106 15.5796C225.33 13.8997 226.463 13.4484 228.359 15.0481C231.583 17.761 235.083 20.158 238.548 22.5701C238.864 22.7907 239.988 22.3394 240.334 21.8881C240.675 21.4468 240.554 20.6093 240.544 19.9424C240.489 15.5997 240.529 11.252 240.284 6.91936C240.148 4.5374 241.377 3.24864 243.322 3.14333C246.963 2.94776 250.639 3.1333 254.284 3.36899C256.3 3.49937 257.007 4.83327 256.847 6.88426C256.481 11.5429 256.25 16.2165 256.07 20.8852C256.04 21.6925 256.531 22.5199 256.787 23.3373C257.539 22.9612 258.351 22.6653 259.038 22.194C262.594 19.7418 266.089 17.2044 269.689 14.8224C270.071 14.5717 271.254 14.9278 271.625 15.3741C274.493 18.8191 277.307 22.3093 279.949 25.9299C280.21 26.2859 279.413 27.9057 278.721 28.377C276.239 30.062 273.596 31.5012 271.013 33.0406C270.01 33.6374 268.977 34.199 268.014 34.8559C263.301 38.0854 263.351 39.991 268.15 42.759C270.682 44.2183 273.19 45.7127 275.677 47.2522C279.784 49.7896 280.23 52.1515 277.282 55.8673C275.737 57.818 274.107 59.7035 272.462 61.574C271.154 63.0633 269.72 63.3091 268.135 61.8799C267.458 61.2681 266.671 60.7666 265.903 60.2702C263.095 58.4599 260.272 56.6747 257.459 54.8794C257.178 55.0901 256.897 55.2957 256.616 55.5063L256.621 55.4962Z"
              fill="url(#paint2_linear_4838_14475)"
            />
            <defs>
              <linearGradient
                id="paint0_linear_4838_14475"
                x1="140"
                y1="0"
                x2="140"
                y2="169.625"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" />
                <stop offset="1" stop-color="#777777" />
              </linearGradient>
              <linearGradient
                id="paint1_linear_4838_14475"
                x1="140"
                y1="0"
                x2="140"
                y2="169.625"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" />
                <stop offset="1" stop-color="#777777" />
              </linearGradient>
              <linearGradient
                id="paint2_linear_4838_14475"
                x1="140"
                y1="0"
                x2="140"
                y2="169.625"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white" />
                <stop offset="1" stop-color="#777777" />
              </linearGradient>
            </defs>
          </svg>

        </div>
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content second">

      </div>
      <h4>Multitask. Always by your side.</h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content third">

      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content fourth">
        <video autoplay muted loop>
          <source
            src="https://res.cloudinary.com/dfdqiqn98/video/upload/v1715271196/Home/Card-Video_ykznpu.webm"
            type="video/webm"
          />
        </video>
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content fifth">
        <h2>How did <br /> Real Madrid <br /> do last night</h2>
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content sixth">

      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card last">
      <div class="preLoginContent__slider-content seventh">
        <p>
          Hello.
        </p>

      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>

    <div class="preLoginContent__right-gutter"></div>
  </div>

  <div class="preLoginContent__footer x-container">
    <div class="header">
      <h2>Blog</h2>

    </div>
    <div class="preLoginContent__announcingCO-container">
      <div class="CO-logo">
        <img src="/images/logo/CO-logo.svg" />
      </div>
      <p>Announcing</p>
    </div>
  </div>

  <div class="preLoginContent__ctas-placeholder"></div>

</div>