<div class="preLoginContent__container">

  <div class="header x-container">
    <h2>I can help you</h2>
    <button class="preLoginContent__button">
      <a href="/blog/index.html">Learn More</a>
    </button>
  </div>

  <div class="preLoginContent__slider">
    <div class="preLoginContent__gutter preLoginContent__left-gutter"></div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>
    <div class="preLoginContent__slider-card last">
      <div class="preLoginContent__slider-content">
        <img src="/images/accor/bg-islands.png" />
      </div>
      <h4>I am your Personal AI Assistant. </h4>
    </div>

    <div class="preLoginContent__right-gutter"></div>
  </div>

  <div class="preLoginContent__footer x-container">
    <div class="header">
      <h2>Blog</h2>

      <div class="preLoginContent__ctas">
        <a href="#" class="preLoginContent__button">Join Wait List</a>
        <button id="divgoogle" class="divgoogle">
          <img src="../images/logo/google-logo.svg" />
          <p>Sign In with Google</p>
        </button>
      </div>
    </div>
    <div class="preLoginContent__announcingCO-container">
      <div class="CO-logo">
        <img src="/images/logo/CO-logo.svg" />
      </div>
      <p>Announcing</p>
    </div>
  </div>

</div>