<div class="slider">
  <button class="slider__questions">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 8.8C8 8.35817 8.35817 8 8.8 8H23.2C23.6418 8 24 8.35817 24 8.8C24 9.24183 23.6418 9.6 23.2 9.6H8.8C8.35817 9.6 8 9.24183 8 8.8Z"
        fill="black"
      />
      <path
        d="M15.2031 9.59961H16.8031V24.7996C16.8031 25.2414 16.445 25.5996 16.0031 25.5996C15.5613 25.5996 15.2031 25.2414 15.2031 24.7996V9.59961Z"
        fill="black"
      />
    </svg>
  </button>
  <button class="slider__close">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"><rect
        width="1.6"
        height="17.6"
        y="1.132"
        fill="#000"
        rx=".8"
        transform="rotate(-45 0 1.132)"
      /><rect width="17.6" height="1.6" y="12.445" fill="#000" rx=".8" transform="rotate(-45 0 12.445)" />
    </svg>
  </button>
  <button class="slider__prev"><svg width="28" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M6.24164 10.5742C5.92922 10.2617 5.92922 9.75522 6.24164 9.4428C6.55406 9.13038 7.06059 9.13038 7.37301 9.4428L13.0219 15.0917C13.3343 15.4041 13.3343 15.9107 13.0219 16.2231C12.7095 16.5355 12.203 16.5355 11.8906 16.2231L6.24164 10.5742Z"
        fill="black"
      />
      <path
        d="M6.23431 10.5659C5.9219 10.2534 5.9219 9.74692 6.23431 9.4345L11.8906 3.77826C12.203 3.46584 12.7095 3.46584 13.0219 3.77826C13.3343 4.09068 13.3343 4.59721 13.0219 4.90963L7.36569 10.5659C7.05327 10.8783 6.54673 10.8783 6.23431 10.5659Z"
        fill="black"
      />
      <rect x="6" y="9.2002" width="16" height="1.6" rx="0.8" fill="black" />
    </svg>
  </button>
  <button class="slider__next">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="none"><path
        fill="#000"
        d="M21.758 10.574a.8.8 0 0 0-1.131-1.131l-5.649 5.649a.8.8 0 0 0 1.131 1.131l5.65-5.649Z"
      />
      <path
        fill="#000"
        d="M21.766 10.566a.8.8 0 0 0 0-1.132l-5.657-5.656a.8.8 0 1 0-1.13 1.132l5.655 5.656a.8.8 0 0 0 1.132 0Z"
      />
      <rect width="16" height="1.6" fill="#000" rx=".8" transform="matrix(-1 0 0 1 22 9.2)" />
    </svg>
  </button>
  <div class="slider__content"></div>
  <div class="slider__contentQuestionsWrapper">
    <div class="slider__contentQuestions"></div>
  </div>

  {{! Icon }}

  <div class="icon-badge">
    <svg
      class="selected-icon"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 12C0 5.37258 5.37258 0 12 0V0C18.6274 0 24 5.37258 24 12V12C24 18.6274 18.6274 24 12 24V24C5.37258 24 0 18.6274 0 12V12Z"
        class="background"
      />
      <path
        d="M8.07031 12.8516L10.8987 15.68L16.5556 10.0231"
        stroke-width="1.8"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="stroke"
      />
    </svg>

    <svg
      class="unselected-icon"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_4218_8737)">
        <circle cx="12" cy="12" r="11" stroke="#00254E" stroke-width="2" />
      </g>
      <defs>
        <clipPath id="clip0_4218_8737">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
</div>