<div class="task-manager__debug">
</div>

{{! <div class="task-manager__notification-container hidden">
  <p class="task-manager__notification-label">
    Text input required  
  </p>

    <button class="task-manager__notification-closeBtn">
     <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.800781" y="1.47949" width="0.96" height="10.56" rx="0.48" transform="rotate(-45 0.800781 1.47949)" fill="white"/>
      <rect x="0.799805" y="8.26758" width="10.56" height="0.96" rx="0.48" transform="rotate(-45 0.799805 8.26758)" fill="white"/>
    </svg>
  </button>
</div> }}

<div class="task-manager__container closed">
  <div class="task-manager__header">
    <h2>Task Manager</h2>
    <div class="relative">
      <button class="task-manager__fullscreen-icon icon">
        <img src="/icons/fullscreen.svg" alt="fullscreen icon" />
      </button>
      <button class="task-manager__closeFullscreen-icon icon hidden">
        <img src="/icons/exit-fullscreen.svg" alt="fullscreen icon" />
      </button>
    </div>
    <button class="task-manager__closing-icon icon">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="1.13184" width="1.6" height="17.6" rx="0.8" transform="rotate(-45 0 1.13184)" fill="black" />
        <rect y="12.4453" width="17.6" height="1.6" rx="0.8" transform="rotate(-45 0 12.4453)" fill="black" />
      </svg>
    </button>
  </div>

  <div class="task-manager__content">
    <h2>Task Manager</h2>
    <ul class="task-manager__accordion-container">
      {{! <li class="task-manager__accordion">
      </li> }}
    </ul>
  </div>
</div>

<button class="task-manager__button hidden"></button>