<div class="task-manager__debug">
</div>

<div class="task-manager__container closed">
  <div class="task-manager__header">
    <button class="task-manager__fullscreen-icon icon">
      <img src="/icons/fullscreen.svg" alt="fullscreen icon">
    </button>
    <button class="task-manager__closing-icon icon">
      <img src="/images/close.svg" alt="close icon">
    </button>
  </div>

  <div class="task-manager__content">
    <h2>Task Manager</h2>
    <h3>Active Task: <span class="">1</span> </h3>
    <ul class="task-manager__accordion-container">
    
      <li class="task-manager__accordion">
        <div class="task-manager__accordion-header">
          <h4> Flight to Bali? </h4>
          <div>
            <p class="task-manager__status-pill"> In Progress </p>
            <button class="task-manager__accordion-chevron">
              <img src="/images/down.svg" alt="chevron down icon">
            </button>
          </div>
        </div>

        <div class="task-manager__accordion-panel">
          <div class="task-manager__status-container">
            <p class="task-manager__status-title">Planning:</p>
            <p class="task-manager__status-description">
              lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna velum ipsum do sint occaecat cupidatat non proident, sunt
              in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </li>
      <li class="task-manager__accordion">
        <div class="task-manager__accordion-header">
          <h4> Flight to Bali? </h4>
          <div>
            <p class="task-manager__status-pill"> In Progress </p>
            <button class="task-manager__accordion-chevron">
              <img src="/images/down.svg" alt="chevron down icon">
            </button>
          </div>
        </div>

        <div class="task-manager__accordion-panel">
          <div class="task-manager__status-container">
            <p class="task-manager__status-title">Planning:</p>
            <p class="task-manager__status-description">
              lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna velum ipsum do sint occaecat cupidatat non proident, sunt
              in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </li>
      <li class="task-manager__accordion">
        <div class="task-manager__accordion-header">
          <h4> Flight to Bali? </h4>
          <div>
            <p class="task-manager__status-pill"> In Progress </p>
            <button class="task-manager__accordion-chevron">
              <img src="/images/down.svg" alt="chevron down icon">
            </button>
          </div>
        </div>

        <div class="task-manager__accordion-panel">
          <div class="task-manager__status-container">
            <p class="task-manager__status-title">Planning:</p>
            <p class="task-manager__status-description">
              lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna velum ipsum do sint occaecat cupidatat non proident, sunt
              in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </li>
   
    </ul>
  </div>
</div>

<button class="task-manager__button hidden"></button>