<!-- Video input -->
<div class="input__video--container">
  <div class="input__video--phone-container">
    <div class="content"></div>
  </div>
  <div class="input__video--camera">
    <video>Video stream not available.</video>
  </div>
  <div class="input__video--footer">
    <div class="input__video--buttons-wrapper">
      <button class="input__video--button">To Talk to me</button>
      <button class="input__video--button">To Talk to me</button>
      <button class="input__video--button">To Talk to me</button>

    </div>
  </div>
</div>