<div class="phone__debug">
  <button id="btn-toConnected">To connected</button>
  <button id="btn-toTalkToMe">To Talk to me</button>
  <button id="btn-toListening">To Listening</button>
  <button id="btn-finishTalk">Finish talk</button>
  <button id="btn-finishProcessing">Finish processing</button>
</div>

<div class="phone__wrapper">
  <div class="phone__container">
    <div class="phone__info-container">
      <p class="phone__info active"></p>
      <p class="phone__info">not active</p>
    </div>
    <div class="phone__buttons-container">
      <button class="phone__pause">
        <img src="/icons/speaker-icon.svg" alt="speaker icon" />
      </button>
      <button class="phone__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
          <path
            d="M1.05025 1.94975L6 6.89949M10.9497 11.8492L6 6.89949M6 6.89949L1.05025 11.8492L10.9497 1.94975"
            stroke="#676E7F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</div>