<div class="accor__container">
  <section class="accorPartners__container">
    <h5>OUR PARTNERS</h5>
    <h2>Always more points with our Partners.</h2>
    <div class="accorPartners__partners-wrapper">
      <div class="accorPartners__partner">
        <div class="accorPartners__partner-logo qatar">
          <img src="/images/logo/qatar_airways-logo.png" alt="partner logo" />
        </div>
        <h3>Limitless world of privileges</h3>
        <p>Link your accounts to amplify your rewards.</p>
      </div>
      <div class="accorPartners__partner">
        <div class="accorPartners__partner-logo europcar">
          <img src="/images/logo/europcar-logo.png" alt="partner logo" />
        </div>
        <h3>Quick and easy car rental</h3>
        <p>Join ALL and get access to online Europcar rentals and exclusive discounts.</p>
      </div>
      <div class="accorPartners__partner">
        <div class="accorPartners__partner-logo">
          <img src="/images/logo/grab-logo.png" alt="partner logo" />
        </div>
        <h3>Earn on all your rides</h3>
        <p>Hit the open road! Join ALL and earn points for all your rides with GRAB.</p>
      </div>
    </div>
  </section>
</div>

<section class="accorOffers__container">

  <div class="accor__container">
    <h5>OFFERS</h5>
    <h2>Our Current Offers</h2>

    <div class="accorOffers__bento-container">
      <div class="accorOffers__main-item">
        <a href ="#">
          <div class="accorOffers__main-item-img img-container">
            <img
              src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1712761245/Accor/Pool_couple_eq77rn.png"
              alt="couple in a swimming pool"
            />
          </div>

          <h3>Join Accor Plus for only 4,499 Reward Points</h3>
          <h4>Enjoy 20 Bonus status nights on us!</h4>
        </a>
      </div>
      <div class="accorOffers__items-grid">
        <div class="accorOffers__item">
          <a href ="#">
            <div class="img-container">
              <img
                src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1712761191/Accor/Tokyo_street_lu9zse.png"
                alt="couple in a swimming pool"
              />
            </div>
            <p>Japan, ALL ways on my mind.</p>
          </a>
        </div>
        <div class="accorOffers__item">
          <a href ="#">
            <div class="img-container">
              <img
                src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1712761194/Accor/Hotel_room_qkjjlm.png"
                alt="couple in a swimming pool"
              />
            </div>
            <p>New Hotels. More Points.</p>
          </a>
        </div>
        <div class="accorOffers__item">
          <a href ="#">
            <div class="img-container">
              <img
                src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1712761200/Accor/Rome_couple_hgj3dq.png"
                alt="couple in a swimming pool"
              />
            </div>
            <p>Delight in the unexpected this season.</p>
          </a>
        </div>
        <div class="accorOffers__item">
          <a href ="#">
            <div class="img-container">
              <img
                src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1712761037/Accor/Beach_family_op15dy.png"
                alt="couple in a swimming pool"
              />
            </div>
            <p>Enjoy your member benefits like never before.</p>
          </a>
        </div>
      </div>
    </div>

    <div class="accorOffers__footer">
      <div class="accorOffers__newsletter-container">
        <h3>Exclusive Offers</h3>
        <h4>Sign up to our newsletter to receive our latest offers</h5>

        <form class="accorOffers__newsletter-form">
          <input type="email" placeholder="email@domain.com" />
          <button>SIGN UP</button> 
        </form>
      </div>

      <div class="accorOffers__contacts">
        <div class="accorOffers__contacts-links">
          <h3>Need Help?</h3>
          <ul>
            <li><a href="#">Manage Booking</a></li>
            <li><a href="#">Support</a></li>
          </ul>
         
        </div>
        <div class="accorOffers__contacts-infos">
          <h3>You want to book?</h3>
          <ul>
            <li>          
              <p>From Singapore: 800 6161 367</p>
            </li>
            <li>      
              <p>From Malaysia: 1800 80 25 78 (**)</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>