<section class="accorFooter__container">
  <div class="accor__container">
    <div class="accorFooter__siteMap">
      <div class="accorFooter__siteMap-item">
        <h3>Company</h3>
        <ul>
          <li><a href="#">Accor Group</a></li>
          <li><a href="#">Management & Franchises</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Sustainable Development</a></li>
          <li><a href="#">Affiliate Programme</a></li>
        </ul>
      </div>
      <div class="accorFooter__siteMap-item">
        <h3>Professional <br /> Solutions</h3>
        <ul>
          <li><a href="#">Business Travel</a></li>
          <li><a href="#">Meetings & Events</a></li>
          <li><a href="#">Travel Professionals</a></li>
        </ul>
      </div>
      <div class="accorFooter__siteMap-item">
        <h3>Navigation</h3>
        <ul>
          <li><a href="#">Web Accessibility</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">All our Services</a></li>
          <li><a href="#">All Languages</a></li>
        </ul>
      </div>
      <div class="accorFooter__siteMap-item">
        <h3>Mobile App</h3>
        <ul>
          <li><a href="#">Mobile Services</a></li>
          <li><a href="#">iOS App</a></li>
          <li><a href="#">Android App</a></li>
        </ul>
      </div>
    </div>

    <ul class="accorFooter__utilLinks">
      <li><a href="#">T&Cs</a></li>
      <li><a href="#">Adagio T&Cs</a></li>
      <li><a href="#">Membership T&Cs</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Legal Notice</a></li>
      <li><a href="#">Do Not Sell My Personal Information</a></li>
    </ul>

    <p class="accorFooter__disclaimer">
      *Prices start from, based on a one night stay in a standard double room for two guests. Supplementary services,
      breakfast and tourist/city tax are not included. Price observed on all.accor.com within the past 24 hours, for a
      one night stay within the next eight days, starting tomorrow. Price subject to the hotel conditions, period and
      availability. Depending on the country, these prices may not include taxes, may include VAT only or may include
      all taxes (VAT and tourist/city tax). When prices do not include all taxes, the relevant taxes (VAT and
      tourist/city tax) will be stated in the forthcoming stages of the reservation process. The price is only
      guaranteed at the time of reservation.
      <br />
      <br />
      ** Note 2Available 24/7. Calls to this number will cost 13 pence per minute plus your providers access charge
      (only for Accor hotels).
    </p>
  </div>
</section>