<div class="accor__container">
  <section class="accorPartners__container">
    <h5>OUR PARTNERS</h5>
    <h2>Always more points with our Partners.</h2>
    <div class="accorPartners__partners-wrapper">
      <div class="accorPartners__partner">
        <div class="accorPartners__partner-logo qatar">
          <img src="/images/logo/qatar_airways-logo.png" alt="partner logo" />
        </div>
        <h3>Limitless world of privileges</h3>
        <p>Link your accounts to amplify your rewards.</p>
      </div>
      <div class="accorPartners__partner">
        <div class="accorPartners__partner-logo europcar">
          <img src="/images/logo/europcar-logo.png" alt="partner logo" />
        </div>
        <h3>Quick and easy car rental</h3>
        <p>Join ALL and get access to online Europcar rentals and exclusive discounts.</p>
      </div>
      <div class="accorPartners__partner">
        <div class="accorPartners__partner-logo">
          <img src="/images/logo/grab-logo.png" alt="partner logo" />
        </div>
        <h3>Earn on all your rides</h3>
        <p>Hit the open road! Join ALL and earn points for all your rides with GRAB.</p>
      </div>
    </div>
  </section>
</div>

<section class="accorOffers__container">
  <h5>OFFERS</h5>
  <h2>Our Current Offers</h2>

</section>