<div class="phone__debug">
  <button id="btn-toConnected">To connected</button>
  <button id="btn-toTalkToMe">To Talk to me</button>
  <button id="btn-toListening">To Listening</button>
  <button id="btn-finishTalk">Finish talk</button>
  <button id="btn-finishProcessing">Finish processing</button>
</div>

<nav class="accorNavbar__container">
  <div class="accorNavbar__item accorNavbar__logo">
    <img src="/images/logo/accor-logo.png" alt="Accor Logo" />
  </div>

  <div class="accorNavbar__item accorSearchBar__wrapper minimized">
    <div class="accorNavbar__mainBar">
      <div class="accorSearchBar__container accorSearchBar__item-container">
        {{! MINIMIZED STATE ELEMENTS }}
        <button class="accorSearchBar__write-btn">
          Tell me?
          <br />
          <span class="hidden">Where & When</span>
        </button>

        <button class="accorSearchBar__expand-btn">
          <img src="/icons/arrow-right.svg" alt="arrow left icon" />
          <span>Options</span>
        </button>

        {{! TEXT-INPUT ELEMENT }}
        <form class="accorSearchBar__text-input-container">
          <input type="text" class="accorSearchBar__text-input" placeholder="Where & When" />
        </form>

        {{! STANDARD OPTIONS }}
        <button class="accorSearchBar__input-btn standard-input" data-type="calendar" data-key="departureDate">
          Check In
          <br />
          <span class="hidden">Add Dates</span>
        </button>

        <button class="accorSearchBar__input-btn standard-input" data-type="calendar" data-key="arrivalDate">
          Check Out
          <br />
          <span class="hidden">Add Dates</span>
        </button>
        <button class="accorSearchBar__input-btn standard-input">
          Guests
          <br />
          <span class="hidden">Add Guests</span>
        </button>

        {{! ACTION BTN STAYS ON EVERY STATE }}
        <button class="accorSearchBar__action-btn phone-btn">
          <img src="/icons/phone-icon.svg" class="phone-icon" alt="phone icon" />
          <img src="/icons/arrow-right.svg" class="arrow-icon" alt="arrow icon" />
        </button>
      </div>
      <button class="accorSearchBar__advanced-btn switch-btn">
        Advanced
      </button>
    </div>

    <div class="accorBar__secondaryBar">
      {{! Advanced Bar }}
      <div class="accorBar__advancedBar-wrapper none">
        <div class="accorSearchBar__advancedBar">
          <button class="accorSearchBar__input-btn advanced-input">
            Travellers
            <br />
            <span class="hidden">Subscription Number</span>
          </button>
          <button class="accorSearchBar__input-btn advanced-input">
            Professional Travellers
            <br />
            <span class="hidden">Business Client</span>
          </button>
          <button class="accorSearchBar__input-btn advanced-input">
            Access Code
            <br />
            <span class="hidden">10 Characters</span>
          </button>
          <button class="accorSearchBar__input-btn advanced-input">
            Special Rates
            <br />
            <span class="hidden">Choose a Rate</span>
          </button>

          <button class="accorSearchBar__action-btn phone-btn secondary-action-btn">
            <img src="/icons/phone-icon.svg" class="phone-icon" alt="phone icon" />
          </button>
        </div>
        <button class="accorSearchBar__standard-btn switch-btn">
          Standard
        </button>
      </div>

      {{! Phone Bar }}
      <div class="accorSearchBar__phoneBar none">
        <div class="phone-bar__container">
          <div class="phone__container">
            <div class="phone__top">
              <div class="phone-bar__container">
                <div class="phone-bar__one">
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
                <div class="phone-bar__processing">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
                <div class="phone-bar__AI">
                </div>
                <div class="phone-bar__pause">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>
            </div>

            <div class="phone__bottom">
              <p class="phone__info active"></p>
              <p class="phone__info">not active</p>
            </div>
          </div>
        </div>

        <button class="accorSearchBar__action-btn accorSearchBar__phoneClose">
          <img src="/icons/phone-icon.svg" class="phone-icon" alt="phone icon" />
          <img src="/icons/arrow-right.svg" class="arrow-icon" alt="arrow icon" />
        </button>
      </div>
    </div>

    {{! CALENDAR }}
    <div class="accorSearchBar__calendar-wrapper input-wrapper">
      <button class="cal-btn back">
        <img src="/public/icons/arrow-right.svg" />
      </button>
      <div class="date_picker_calendar">
        <div class="calendar_header">

        </div>
        <div class="cal_wrapper">
          <div class="cal_days"></div>
          <div class="calendar_main"></div>
        </div>
      </div>
      <div class="date_picker_calendar">
        <div class="calendar_header">

          <span></span>

        </div>
        <div class="cal_wrapper">
          <div class="cal_days"></div>
          <div class="calendar_main"></div>
        </div>
      </div>
      <button class="cal-btn front">
        <img src="/public/icons/arrow-right.svg" />
      </button>
    </div>
  </div>

  <ul class="accorNavbar__item accorNavbar__navlist">
    <li>
      <a href="#">
        JOIN
      </a>
    </li>
    <li>
      <a href="#">
        SIGN UP
      </a>
    </li>
  </ul>

</nav>