<nav class="accorNavbar__container">
  <div class="accorNavbar__item accorNavbar__logo">
    <img src="/images/logo/accor-logo.png" alt="Accor Logo" />
  </div>

  <div class="accorNavbar__item accorSearchBar__container">
    <div class="accorSearchBar__callBar accorSearchBar__item-container">
      <button class="accorSearchBar__write-btn">
        Tell me?
        <br />
        <span>Where & When</span>
      </button>

      <button class="accorSearchBar__expand-btn">
        <img src="/icons/arrow-right.svg" alt="arrow left icon" />
      </button>

      <button class="accorSearchBar__phone-btn">
        <img src="/icons/phone-icon.svg" alt="phone icon" />
      </button>
    </div>
    <button class="accorSearchBar__advanced-btn">
      Advanced
    </button>
  </div>

  <ul class="accorNavbar__item accorNavbar__navlist">
    <li>
      <a href="#">
        JOIN
      </a>
    </li>
    <li>
      <a href="#">
        SIGN UP
      </a>
    </li>
  </ul>

</nav>