.discussion__wrapper {
  margin: 0 auto;
  max-width: $maxWidth;
  width: 100%;
}

.discussion__container::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.discussion__container,
.history__container {
  padding-top: 21px;

  .discussion__user,
  .discussion__ai {
    font-family: "Noto Sans";
    position: relative;
    overflow-wrap: anywhere;
    margin-bottom: 24px;
    line-height: 28px;
    color: $colorBlueText !important;
    font-feature-settings: "liga" off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.75px;

    p {
      overflow-wrap: break-word;
    }

    .bold {
      font-weight: 600;
    }

    @include media("<tablet") {
      font-size: 16px;
      line-height: 26px; /* 162.5% */
    }
  }

  .discussion__userspan {
    background: rgba(0, 48, 100, 0.03);
    border-radius: 16px;
    padding: 16px;
    display: inline-block;
    text-align: left;
    @include media("<tablet") {
      padding: 12px;
    }
  }

  .discussion__user {
    color: rgba($colorBlack, 0.72);
    text-align: right;
    margin-left: auto;
    padding-left: 112px;

    .images__container {
      justify-content: flex-end;
    }

    @include media("<desktop") {
      padding-right: 16px;
    }

    @include media("<tablet") {
      padding-left: 48px;
      padding-right: $paddingHorMobile;
    }
  }

  .discussion__ai {
    color: $colorBlack;
    // For cursor
    min-height: 24px;
    padding-right: 112px;

    .text-beforeLink {
      margin-right: 4px;
    }

    a {
      color: $colorBlack;
      text-decoration: underline;
      display: inline-block;
    }

    .AIword {
      opacity: 0;
      animation: fadeIn 0.2s $ease-in forwards;
    }

    strong {
      font-weight: 600;
    }

    &.discussion__ai--task-created {
      position: relative;
      margin-left: 48px;

      &::before {
        content: url("/icons/timer.svg");
        position: absolute;
        top: 50%;
        padding-right: 40px;
        transform: translate(-50%, -50%);
      }
    }

    @include media("<tablet") {
      padding-left: $paddingHorMobile;
      padding-right: 48px;
      margin-right: unset;

      &.discussion__ai--task-created {
        position: relative;
        margin-left: 24px;

        &::before {
          padding-right: 40px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.main-content__container {
  position: relative;
}

.discussion__container {
  min-height: calc(100vh - 96px);
  padding-bottom: 124px;

  @include media("<tablet") {
    min-height: calc(100vh - 96px); // fallback for browsers that don't support svh units
    min-height: calc(100svh - 96px);
    padding-bottom: 80px;
  }
}

.history__container {
  transition: opacity 200ms ease-in-out;

  &.visible {
    transition: opacity 1200ms ease-in-out;
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
