.flight-toggle-button-container {
  display: flex;
  margin-bottom: 24px;
  /* border-radius: 20px; */
  /* overflow: hidden; */
  font-family: "SFPro";
  color: $colorBlueText;
}

.flight-toggle-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.flight-toggle-button.active {
  border-radius: var(--24, 24px);
  background: var(--B6-W8, rgba(0, 0, 0, 0.06));
}

.FlightContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0;
  opacity: 0;
  align-self: flex-start;
  animation: fadeIn 0.3s ease-in-out forwards;
  animation-delay: 1000ms;

  @include media("<tablet") {
    max-width: 315px;
  }
}

.FlightContainer:not(.Travellers-Mini) {
  /* min-width: 900px; */
}

.flightResult {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  gap: 0 1.2rem;

  @include media("<tablet") {
    justify-content: center;
  }
}

.flightCard {
  width: 48%;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 16px 16px 12px 16px;
  margin-bottom: 2.2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  gap: 10px;
  opacity: 1;
  // color: rgba(0, 0, 0, 0.72);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.2px;
  opacity: 80%;
}

.flightCard:hover {
  cursor: pointer;
  opacity: 100;
}

@include media("<tablet") {
  .flightCard {
    width: 100%;
  }
}

.recommand {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-35%, -50%);
  padding: 4px 12px;
  border-radius: 24px;
  background-color: #007aff;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-style: normal;
  // font-weight: 100;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.rowFlightCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* align-items: center; */
}

.logoFight {
  display: flex;
}

.flghtCost {
  text-align: right;
}

.currency {
  font-size: 12px;
  // font-style: normal;
  opacity: 0.6;
}

.big {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.8px;
  margin: 0;

  @include media("<tablet") {
    font-size: 24px;
    line-height: 28px;
  }
}

.small {
  // color: var(--B60--W80, rgba(0, 0, 0, 0.6));
  opacity: 0.6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 1.2px;
  margin: 0;

  @include media("<tablet") {
    font-size: 12px;
    line-height: 20px;
  }
}

.flightimg {
  @include media("<tablet") {
    height: 24px;
    width: 24px;
  }
}

.duration {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .timeHourMin {
    position: relative;
    bottom: -6px;
    margin-bottom: 0;
  }

  .direction {
    font-size: 0.8rem;
    position: relative;
    top: -6px;
    margin-bottom: 0;
  }
}

.dDirection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.destination {
  text-align: right;
}

.site {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(30%, 140%);
  // color: rgba(0, 0, 0, 0.48);
  opacity: 0.6;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 100;
  line-height: 16px;
  letter-spacing: 1.2px;
}
