.flight-toggle-button-container {
  display: flex;
  margin-bottom: 24px;
  /* border-radius: 20px; */
  /* overflow: hidden; */
  font-family: "SFPro";
  color: $colorBlueText;
}

.flight-toggle-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.flight-toggle-button.active {
  border-radius: var(--24, 24px);
  background: var(--B6-W8, rgba(0, 0, 0, 0.06));
}

.FlightContainer {
  display: flex;
  margin: 20px auto;
  opacity: 0;
  // animation: fadeIn 0.3s ease-in-out forwards;
  animation: fadeIn 0.2s ease-in-out forwards;
  // animation-delay: 1000ms;

  p {
    margin: 0;
  }

  @include media("<tablet") {
    max-width: 348px;
  }
}

.flightResult {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;

  @include media("<tablet") {
    max-width: 348px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.flightCard {
  position: relative;
  border-radius: 20px;
  background: rgba(246, 246, 248, 0.5);
  box-shadow: 0px 10px 30px 0px rgba(183, 183, 183, 0.25);
  gap: 10px;
}

.flightCard__main {
  border-radius: 20px;
  height: 150px;
  border: 0.5px solid rgba($colorLight, 0.4);
  background: rgba(248, 248, 248, 0.5);
  box-shadow: 0px 10px 30px -9px rgba(55, 69, 108, 0.1);
}

.flightCard__main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  color: $colorGreyLight;
}

.flightCard__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  color: $colorGreyLight;
  padding: 10px 16px 12px;

  .flightCard__price {
    display: flex;
    gap: 8px;
  }

  .flightCard__price-value {
    color: $colorMain;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px; /* 117.647% */
  }
}
