* {
  font-family: "Times New Roman", Times, serif;
}

@font-face {
  font-family: "SFPro";
  // src: url("/fonts/SF_Pro/SF-Pro-Display-Medium.otf");
  src: url("https://res.cloudinary.com/dfdqiqn98/raw/upload/v1715796389/fonts/SF-Pro-Display-Medium_heugey.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SFPro";
  // src: url("/fonts/SF_Pro/SF-Pro-Display-Semibold.otf");
  src: url("https://res.cloudinary.com/dfdqiqn98/raw/upload/v1715796389/fonts/SF-Pro-Display-Semibold_xbwty3.otf");
  font-weight: 600;
}

* {
  font-family: "SFPro";
}

h1 {
  text-align: center;
  font-family: "SFPro";
  font-size: clamp(40px, 7vw, 96px);
  font-weight: 500;
  line-height: 104%; /* 104.167% */
  letter-spacing: 1px;

  @include media("<phone") {
    font-size: 40px;
    line-height: 48px; /* 120% */
  }
}

h2 {
  font-family: "SFPro";
  font-size: 28px;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  letter-spacing: 1px;

  @include media("<tablet") {
    font-size: 24px;
    line-height: 28px; /* 116.667% */
  }
}

h3 {
  font-family: "SFPro";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 1px;
}

.page-phone__main-container {
  overflow: scroll;
  // height: 100vh;
  position: relative;
  // scroll-snap-type: y mandatory;

  // & > section {
  //   scroll-snap-align: start;
  // }
}
