.phonePage__popup-container {
  display: none;
  background-color: transparent;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
}

.phonePage__popup-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.01);
  backdrop-filter: blur(10px);
}

// Mixin for theme styles
@mixin themeStyles($background, $primaryColor, $secondaryColor) {
  background-color: $background;
  color: $primaryColor;

  .phonePage__popup-exit-btn {
    &:hover {
      background-color: rgba($primaryColor, 0.1);
    }

    rect {
      fill: $primaryColor;
    }
  }

  // ----- FIRST STATE : FORM -----
  .phonePage__popup-persona-preview {
    background-color: $secondaryColor;
    color: $primaryColor;
  }

  .phonePage__popup-form {
    & > * {
      background-color: $secondaryColor;
      color: $primaryColor;
    }

    input::placeholder,
    textarea::placeholder {
      color: rgba($primaryColor, 0.4);
    }
  }

  .phonePage__popup-input {
    svg path {
      fill: $primaryColor;
    }

    span {
      color: rgba($primaryColor, 0.4);

      &.selected {
        color: $primaryColor;
      }
    }

    .country__select-dropdown {
      background-color: $secondaryColor;
      color: $primaryColor;

      & li:hover,
      & input:checked ~ label {
        background-color: rgba($primaryColor, 0.1);
      }
    }

    .phoneNb__prefix-dropdown {
      background-color: $secondaryColor;
      color: $primaryColor;

      & li:hover,
      & input:checked ~ label {
        background-color: rgba($primaryColor, 0.1);
      }
    }

    .phoneNb__prefix {
      color: $primaryColor;
    }
  }

  .phonePage__popup-phone-button {
    background-color: #007aff;

    svg path {
      fill: white;
    }

    &:disabled {
      background-color: $secondaryColor;

      svg path {
        fill: rgba($primaryColor, 0.4);
      }
    }
  }

  // ----- SECOND STATE : DISCUSSION -----
  &.discussion {
    .phonePage__popup-discussion-container {
      background-color: $secondaryColor;
    }

    .phonePage__popup-discussion-wrapper {
      color: $primaryColor;

      .message-role {
        color: rgba($primaryColor, 0.6);
      }
    }

    .phonePage__popup-discussion-wrapper.user .message-content {
      background-color: $background;
    }
  }
}

// POPUP GLOBAL STYLING
.phonePage__popup-wrapper {
  z-index: 1;
  position: relative;
  border-radius: 35px;
  height: 812px;
  max-height: 95vh;
  overflow: auto;
  padding: 104px 32px 0;
  width: 600px;

  @include media("<tablet") {
    width: 100%;
    border-radius: 0;
    max-height: 100vh;
    height: 100vh;
    padding: 84px 24px 60px;
  }

  .phonePage__popup-discussion-ai-title {
    display: none;
  }

  .phonePage__popup-discussion-container {
    display: none;
  }

  //  ------ FIRST STATE : FORM ------
  &.dark {
    .phonePage__popup-persona-preview {
      display: block;
    }

    .phonePage__popup-input.intro {
      display: none;
    }

    .phonePage__popup-input.prompt {
      display: none;
    }
  }

  &.light {
    .phonePage__popup-persona-preview {
      display: none;
    }

    .phonePage__popup-input.intro {
      display: block;
    }

    .phonePage__popup-input.prompt {
      display: block;
    }
  }

  .phonePage__popup-exit-btn {
    position: absolute;
    top: 28px;
    right: 20px;
    padding: 13px;
    border-radius: 50px;
    transition: background-color 0.2s ease-out;
  }

  .phonePage__popup-persona-preview {
    padding: 24px 16px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 1px;
    margin-bottom: 24px;

    .persona__preview-avatar-picture {
      width: 100px;
      border-radius: 8px;
      overflow: hidden;
    }

    h3 {
      margin: 24px 0 20px;
    }

    p {
      font-family: "SFPro";
      font-size: 16px;
      font-weight: 500;
      line-height: 20px; /* 125% */
      letter-spacing: 1px;
    }
  }

  .phonePage__popup-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

    & > * {
      padding: 20px 16px;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px; /* 125% */
      letter-spacing: 1px;
    }

    .phonePage__popup-input {
      position: relative;
      border-radius: 16px;
      overflow: hidden;

      .chevron-down-icon {
        align-self: center;
        flex: none;
        width: 12px;
        height: 12px;
      }

      input,
      textarea {
        width: 100%;
        font-family: "SFPro";
        font-size: 16px;
        font-weight: 500;
        line-height: 20px; /* 125% */
        letter-spacing: 1px;
      }

      textarea {
        height: calc(216px - 40px);
        resize: none;
      }

      &.country {
        overflow: visible;

        .country__select-button {
          display: flex;
          justify-content: space-between;
          padding-right: 24px;
          cursor: pointer;

          span {
            text-align: center;
          }

          .check-icon {
            opacity: 0;
            width: 14px;
          }
        }

        .country__select-dropdown {
          position: absolute;
          left: 0;
          padding-right: 24px;
          top: 100%;
          width: 100%;
          border-radius: 12px;
          max-height: 224px;
          overflow: auto;
          opacity: 0;
          z-index: 1;
          visibility: hidden;
          transition: 0.2s ease-out;

          li {
            display: flex;
            justify-content: center;

            input {
              display: none;
            }

            label {
              text-align: center;
              width: 100%;
              padding: 8px 10px;
              cursor: pointer;
            }
          }
        }

        &.open {
          .chevron-down-icon {
            transform: rotate(180deg);
          }

          .country__select-dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &.phoneNb {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        overflow: visible;
        justify-content: center;

        input {
          grid-column: span 8;
          flex: 1;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px; /* 125% */
          letter-spacing: 1px;
        }

        .phoneNb__prefix-wrapper {
          grid-column: span 2;
          position: relative;
          height: 100%;
          left: 0;
          top: 0;
        }

        .phoneNb__prefix-button {
          display: flex;
          align-items: center;
          height: 100%;
          gap: 8px;
          cursor: pointer;
        }

        .phoneNb__prefix-dropdown {
          position: absolute;
          left: -16px;
          top: calc(100% + 20px);
          width: calc(100% + 16px);
          border-radius: 4px;
          max-height: 224px;
          overflow: auto;
          opacity: 0;
          z-index: 1;
          visibility: hidden;
          transition: 0.2s ease-out;

          li {
            display: flex;

            input {
              display: none;
            }

            label {
              text-align: center;
              width: 100%;
              padding: 8px 10px;
              cursor: pointer;
            }
          }
        }

        &.open {
          .chevron-down-icon {
            transform: rotate(180deg);
          }

          .phoneNb__prefix-dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &.email input {
        text-align: center;
      }
    }
  }

  .phonePage__popup-phone-button {
    padding: 18px;
    border-radius: 40px;
    width: fit-content;
    margin: 60px auto 0;

    svg {
      width: 24px;
      height: 24px;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  //  ------ SECOND STATE : DISCUSSION ------
  &.discussion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 40px 32px 32px;

    @include media("<tablet") {
      gap: 24px;
      padding: 32px 24px 24px;
    }

    .phonePage__popup-persona-preview,
    .phonePage__popup-form,
    .phonePage__popup-phone-button {
      display: none;
    }

    .phonePage__popup-discussion-ai-title {
      display: block;
    }

    .phonePage__popup-discussion-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 24px 16px 24px 24px;
      border-radius: 16px;
      width: 100%;
      height: 100%;
      overflow: auto;

      @include media("<tablet") {
        padding: 16px 8px 16px 16px;
      }
    }

    .phonePage__popup-discussion-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      font-family: "SFPro";
      font-size: 18px;
      font-weight: 510;
      line-height: 28px; /* 155.556% */
      letter-spacing: 1px;

      @include media("<tablet") {
        font-size: 16px;
        line-height: 26px; /* 150% */
      }

      .message-role {
        line-height: 100%;
      }
    }

    .phonePage__popup-discussion-wrapper.user {
      align-self: flex-end;

      .message-role {
        padding-right: 8px;
        text-align: right;
      }

      .message-content {
        padding: 16px;
        border-radius: 16px;
        margin-left: 90px;

        @include media("<tablet") {
          padding: 12px;
          margin-left: 24px;
        }
      }
    }
  }

  // THEME MANAGEMENT
  &.dark {
    @include themeStyles(#222222, white, #333333);
  }

  &.light {
    @include themeStyles(#f1f1f1, #00254e, white);
  }
}
