.phonePage__popup-container {
  background-color: transparent;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phonePage__popup-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.01);
  backdrop-filter: blur(10px);
}

// Mixin for theme styles
@mixin themeStyles($background, $primaryColor, $secondaryColor) {
  background-color: $background;
  color: $primaryColor;

  .phonePage__popup-form {
    & > * {
      background-color: $secondaryColor;
      color: $primaryColor;
    }

    input::placeholder,
    textarea::placeholder {
      color: rgba($primaryColor, 0.4);
    }
  }

  .phonePage__popup-input {
    svg path {
      fill: $primaryColor;
    }

    span {
      color: rgba($primaryColor, 0.4);

      &.selected {
        color: $primaryColor;
      }
    }

    .country__select-dropdown {
      background-color: $secondaryColor;
      color: $primaryColor;

      & li:hover,
      & input:checked ~ label {
        background-color: rgba($primaryColor, 0.1);
      }
    }

    .phoneNb__prefix-dropdown {
      background-color: $secondaryColor;
      color: $primaryColor;

      & li:hover,
      & input:checked ~ label {
        background-color: rgba($primaryColor, 0.1);
      }
    }

    .phoneNb__prefix {
      color: $primaryColor;
    }
  }

  .phonePage__popup-phone-button {
    background-color: $secondaryColor;

    svg path {
      fill: $primaryColor;
    }
  }
}

// POPUP GLOBAL STYLING
.phonePage__popup-wrapper {
  z-index: 1;
  border-radius: 35px;
  max-height: 95vh;
  overflow: auto;
  padding: 104px 32px 60px;

  .phonePage__popup-form {
    min-width: 536px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

    & > * {
      padding: 20px 16px;
      border-radius: 16px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px; /* 125% */
      letter-spacing: 1px;
    }

    .phonePage__popup-input {
      position: relative;
      border-radius: 16px;
      overflow: hidden;

      .chevron-down-icon {
        align-self: center;
        flex: none;
        width: 12px;
        height: 12px;
      }

      input,
      textarea {
        width: 100%;
      }

      textarea {
        height: calc(216px - 40px);
        resize: none;
      }

      &.country {
        overflow: visible;

        .country__select-button {
          display: flex;
          justify-content: space-between;
          padding-right: 24px;
          cursor: pointer;

          span {
            text-align: center;
          }

          .check-icon {
            opacity: 0;
            width: 14px;
          }
        }

        .country__select-dropdown {
          position: absolute;
          left: 0;
          padding-right: 24px;
          top: 100%;
          width: 100%;
          border-radius: 12px;
          max-height: 224px;
          overflow: auto;
          opacity: 0;
          z-index: 1;
          visibility: hidden;
          transition: 0.2s ease-out;

          li {
            display: flex;
            justify-content: center;

            input {
              display: none;
            }

            label {
              text-align: center;
              width: 100%;
              padding: 8px 10px;
              cursor: pointer;
            }
          }
        }

        &.open {
          .chevron-down-icon {
            transform: rotate(180deg);
          }

          .country__select-dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &.phoneNb {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        overflow: visible;
        justify-content: center;

        input {
          grid-column: span 8;
          flex: 1;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px; /* 125% */
          letter-spacing: 1px;
        }

        .phoneNb__prefix-wrapper {
          grid-column: span 2;
          position: relative;
          height: 100%;
          left: 0;
          top: 0;
        }

        .phoneNb__prefix-button {
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: center;
          gap: 8px;
          cursor: pointer;
        }

        .phoneNb__prefix-dropdown {
          position: absolute;
          left: -16px;
          top: calc(100% + 20px);
          width: calc(100% + 16px);
          border-radius: 4px;
          max-height: 224px;
          overflow: auto;
          opacity: 0;
          z-index: 1;
          visibility: hidden;
          transition: 0.2s ease-out;

          li {
            display: flex;

            input {
              display: none;
            }

            label {
              text-align: center;
              width: 100%;
              padding: 8px 10px;
              cursor: pointer;
            }
          }
        }

        &.open {
          .chevron-down-icon {
            transform: rotate(180deg);
          }

          .phoneNb__prefix-dropdown {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &.email input {
        text-align: center;
      }
    }
  }

  .phonePage__popup-phone-button {
    padding: 18px;
    border-radius: 40px;
    width: fit-content;
    margin: 60px auto 0;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  // THEME MANAGEMENT
  &.dark {
    @include themeStyles(#222222, white, #333333);
  }

  &.light {
    @include themeStyles(#f1f1f1, #00254e, white);
  }
}
