@import "./include-media";

$minimum: 400px;
$phone: 640px;
$tablet: 820px;
$desktop: 1024px;
$large: 1200px;
$maximum: 1600px;

$breakpoints: (
  minimum: $minimum,
  phone: $phone,
  tablet: $tablet,
  desktop: $desktop,
  large: $large,
  maximum: $maximum,
);

:export {
  desktop: $desktop;
  tablet: $tablet;
}
