$colorMain: #12192b;
$blue: #2c40e9;

// old variables
$backgroundColorBluePage: #648ff2;
$backgroundColorGreyPage: #d9d9e1; // #eaeced;

$colorBlueText: #00254e;
$colorPink: #ff00ff;
$colorOrange: #ff7a00;
$colorLightOrange: rgba(255, 122, 0, 0.67);
$colorBlue: rgba(9, 80, 162, 0.72);
$colorBlack: rgba(0, 0, 0, 1); //rgba(0, 0, 0, 0.72);
$colorBlackForGreyPage: rgba(0, 0, 0, 0.4);
$blogMainColor: rgba(0, 0, 0, 0.4);
$colorGrey: #c2c2c2;

// Blog colors
$blogSecondary: #007aff;

// Accor colors
$accorMain: rgb(18, 17, 49);
$accorLight: rgba(18, 17, 49, 0.6);
$accorExtraLight: rgba(18, 17, 49, 0.4);
$accorExtraExtraLight: rgba(18, 17, 49, 0.16);
$accorSecondary: #f9cc7d;

:export {
  colorMain: $colorMain;
  backgroundColorBluePage: $backgroundColorBluePage;
  backgroundColorGreyPage: $backgroundColorGreyPage;
}
