$backgroundColorBluePage: #648ff2;
$backgroundColorGreyPage:#F8F6F2;// #eaeced;
$colorMain: #fff;
// $colorBlue: #4d79ec;
$colorPink: #ff00ff;
$colorBlue: #0047ff;
$colorBlack: rgba(0, 0, 0, 1);//rgba(0, 0, 0, 0.72);
$colorBlackForGreyPage: rgba(0, 0, 0, 0.4);
$colorGrey: #c2c2c2;

:export {
  colorMain: $colorMain;
  backgroundColorBluePage: $backgroundColorBluePage;
  backgroundColorGreyPage: $backgroundColorGreyPage;
}
