<section class="blogHero__container">

  <div class="blogHero__loadingAnimation">
    <img class="" src="/images/asterizk.svg"/>    
    <img class="" src="/images/asterizk.svg"/>    
    <img class="" src="/images/asterizk.svg"/>    
  </div>

  <div class="blogHero__content">
    <p class="blogHero__headline">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    </p>

    <button class="blogHero__cta">
      Book a Demo
    </button>
  </div>
</section>