<div class="blogHero__container">
  <div class="blogHero__videoBg">
    <video class="blogHero__video desktop-video static-video" autoplay loop muted playsinline>
      <source src="/videos/blog/Clock_Work-desktop.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <video class="blogHero__video mobile-video static-video" autoplay loop muted playsinline>
      <source src="/videos/blog/Clock_Work-mobile.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>