<div class="blogClockVideo__container">
  <div class="blogClockVideo__videoBg">
    {{! <img src="/images/blog/blog_hero_placeholder-desktop.png" class="desktop-poster" />
    <img src="/images/blog/blog_hero_placeholder-mobile.png" class="mobile-poster" /> }}

    <video class="blogClockVideo__video desktop-video static-video" autoplay loop muted playsinline>
      <source
        src="https://player.vimeo.com/progressive_redirect/playback/924947288/rendition/720p/file.mp4?loc=external&signature=ab23a22926dedd5ed226323655c0b85676d3a4856746fe10aef74fb1552eaafe"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>

    <video class="blogClockVideo__video mobile-video static-video" autoplay loop muted playsinline>
      <source
        src="https://player.vimeo.com/progressive_redirect/playback/924947253/rendition/540p/file.mp4?loc=external&signature=1ac3b9615414a3836482d3065790a9f4477d850995f5d7e54d32f81d2cec1a43"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>

  </div>
</div>