<div class="blog__container">
  <section class="blog__pinkTitle-container">
    <h1>
      We live in a world of broken tech promises. Apps, search engines,
      <br class="desktop-break" />
      and so-called smart assistants waste our most precious
      <br class="desktop-break" />
      resource –
      <span> Time.</span>
      <br /><br />
      <span class="anim-gradient"> But today that changes. </span>
    </h1>
  </section>
</div>

<section class="blog__blackBlock-container">
  <div class="blog__blackBlock-content">
    <p class="blog__blackBlock-introducing">Introducing</p>
    <div class="blog__blackBlock-co">
      <svg width="230" viewBox="0 0 230 420" fill="none" xmlns="http://www.w3.org/2000/svg" class="letter">
        <path
          d="M70.406 210.383C70.406 238.308 70.1577 266.245 70.5177 294.17C70.6792 306.984 72.0201 319.562 79.9667 330.749C98.5915 356.973 133.072 353.956 149.052 329.023C155.596 318.817 157.781 307.754 158.179 296.033C158.328 291.687 158.241 287.341 158.501 283.008C158.961 275.769 162.537 271.82 169.627 271.721C186.377 271.485 203.139 271.535 219.901 271.721C224.408 271.771 228.344 274.229 228.667 278.947C230.716 309.442 227.202 338.981 210.427 365.404C196.186 387.841 176.803 404.541 151.548 413.679C137.418 418.795 122.729 420.608 107.693 419.826C80.7366 418.435 57.7659 407.918 37.8498 390.013C26.7494 380.043 18.2441 368.148 11.7875 354.875C4.38722 339.639 0.202846 323.399 0.15318 306.4C0.0041816 243.511 -0.119983 180.621 0.202847 117.731C0.351846 88.6887 9.19243 62.316 28.2767 40.0159C45.8088 19.5161 67.8979 6.78919 94.6059 1.8474C111.48 -1.26915 128.267 -0.375157 144.409 4.0203C165.703 9.83124 183.906 21.4904 198.743 38.2775C222.931 65.656 229.226 98.4978 228.593 133.537C228.419 142.862 224.384 146.513 215.257 146.55C200.78 146.599 186.29 146.587 171.812 146.537C162.537 146.5 158.812 142.788 158.203 133.5C157.583 124.039 157.992 114.292 155.795 105.19C151.697 88.2169 141.416 75.9245 123.661 71.7153C99.7587 66.0409 77.3841 80.6552 72.8645 105.029C71.3621 113.124 70.5922 121.456 70.5053 129.676C70.2197 156.57 70.3936 183.464 70.406 210.358V210.383Z"
          fill="white"
        />
      </svg>
      <svg width="231" viewBox="0 0 231 420" fill="none" xmlns="http://www.w3.org/2000/svg" class="letter">
        <path
          d="M0.979103 212.582C0.979103 184.855 0.482446 157.117 1.17777 129.416C1.55027 114.814 2.55601 99.9263 5.83398 85.759C11.1855 62.6394 24.1732 43.6297 42.1275 27.9227C62.441 10.1547 86.256 0.85467 112.827 0.13451C138.468 -0.560816 162.208 6.67803 182.931 22.5588C216.431 48.2238 230.412 83.0522 230.549 124.201C230.735 182.745 230.561 241.301 230.598 299.845C230.611 322.021 225.93 343.154 214.506 362.164C202.152 382.738 185.34 398.879 163.313 409.396C139.511 420.77 114.913 422.545 89.5712 416.784C67.9912 411.88 49.5775 400.866 34.5907 384.874C24.1608 373.748 15.4444 361.295 9.63344 346.718C4.15774 332.972 1.27711 318.991 1.14052 304.439C0.867361 273.82 1.0536 243.201 1.0536 212.582C1.02877 212.582 0.991546 212.582 0.966713 212.582H0.979103ZM159.427 211.315H159.464C159.464 183.589 159.551 155.863 159.402 128.149C159.365 121.345 158.98 114.478 157.949 107.761C154.721 86.7151 140.28 73.3673 118.266 70.5239C102.36 68.4752 83.1642 80.3081 76.6207 97.8279C73.5166 106.147 72.0142 115.534 71.9521 124.449C71.5423 181.751 71.6168 239.066 71.8403 296.381C71.89 308.015 73.8022 319.414 80.6188 329.483C94.4012 349.859 121.68 356.129 142.155 338.759C154.299 328.465 159.737 315.44 159.538 299.448C159.166 270.07 159.427 240.693 159.427 211.315Z"
          fill="white"
        />
      </svg>
      <div class="asterizk">
        <img src="/images/asterizk_pink.svg" alt="pink asterisk" />
      </div>
    </div>

    <div class="blog__blackBlock-footer">
      <p>
        A personal assistant
        <br />
        for everyone.
      </p>
    </div>
  </div>
</section>