<section class="blogMarquee__container">
  <div class="blogMarquee__header">
    <p>Here are the problems.</p>
    <h1>Endless Maze Of Apps</h1>
  </div>

  <div class="blogMarquee__app-marquees">
    <div class="blogMarquee__app-marquee">
      <div class="marquee__content">
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/gmail-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/whatsapp-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/snapchat-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/airbnb-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/telegram-logo.png" />
        </div>
        <div class="blogMarquee__app-logo teams-logo">
          <img src="/images/logo/teams-logo.png" />
        </div>
        <div class="blogMarquee__app-logo outlook-logo">
          <img src="/images/logo/outlook-logo.png" />
        </div>
      </div>
      <div class="marquee__content">
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/gmail-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/whatsapp-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/snapchat-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/airbnb-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/telegram-logo.png" />
        </div>
        <div class="blogMarquee__app-logo teams-logo">
          <img src="/images/logo/teams-logo.png" />
        </div>
        <div class="blogMarquee__app-logo outlook-logo">
          <img src="/images/logo/outlook-logo.png" />
        </div>
      </div>
    </div>
    <div class="blogMarquee__app-marquee">
      <div class="marquee__content reverse">
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/page-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/booking-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/fandango-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/gmail-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/hopper-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/page-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/booking-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/fandango-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/gmail-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/hopper-logo.png" />
        </div>
      </div>
      <div class="marquee__content reverse">
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/page-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/booking-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/fandango-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/gmail-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/hopper-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/page-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/booking-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/fandango-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/gmail-logo.png" />
        </div>
        <div class="blogMarquee__app-logo">
          <img src="/images/logo/hopper-logo.png" />
        </div>
      </div>
    </div>
  </div>

  <p class="blogMarquee__footer">
    Endless apps, promising
    <span> convenience </span>, delivering
    <span> complexity. </span>
    <br class="desktop-break" />
    We're trapped in a
    <span> frustrating, disconnected maze. </span>
  </p>
</section>