<section class="blogContent__container">
  <h2>Drowning in a sea of <span> Blue links. </span></h2>

  <div class="blogContent__videos-grid">
    <div class="blogContent__video-container">
      <div class="blogContent__video"> 
        <video class="desktop-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <video class="mobile-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <p class="blogContent__video-description">
        Getting answers shouldn't be a <span>scavenger hunt.</span> 
        <br class="mobile-break" /> <br class="mobile-break" /> 
        Google's endless blue links waste your <span> precious time. </span>
        There has to be a <span> better way. </span>
      </p>
    </div>

    <div class="blogContent__video-container">
      <div class="blogContent__video"> 
        <video class="desktop-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_2.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        
        <video class="mobile-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_2.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <p class="blogContent__video-description">
        Google does not understand <span> context. </span>  <br class="desktop-break"/>
        <br class="mobile-break" /> <br class="mobile-break" /> 
        Our time is too valuable for <span> digital drudgery. </span>
      </p>
    </div>
  </div>
</section>

<section class="blogContent__container">
  <div class="blogContent__text-grid">
    <h2>Not even ChatGPT.</h2>

    <ul class="blogContent__points">
      <li>
        ChatGPT provides knowledge, but knowledge alone is <span> insufficient. </span> There's a difference between
        information and <span> true assistance. </span>
      </li>
      <li>Can it turn knowledge into action?</li>
      <li>
        Imagine an AI that not only understands but <span> proactively assists you </span>, adapting seamlessly 
        to your need <span> in real time. </span>"
      </li>
      <li>That's the difference between a chatbot and a <span> true in-the-moment assistant. </span></li>
    </ul>
  </div>
</section>