<div class="blogClockVideo__container video-container">
  <div class="blogClockVideo__videoBg">
    {{! <img src="/images/blog/blog_hero_placeholder-desktop.png" class="desktop-poster" />
    <img src="/images/blog/blog_hero_placeholder-mobile.png" class="mobile-poster" /> }}

    <video class="blogClockVideo__video desktop-video static-video" autoplay loop muted playsinline>
      <source
        src="https://res.cloudinary.com/dfdqiqn98/video/upload/q_auto:good/v1712692579/blog/Clock_Video_REDO_v3_webm_ulgiuc.webm"
        type="video/webm"
      />
      Your browser does not support the video tag.
    </video>

    <video class="blogClockVideo__video mobile-video static-video" autoplay loop muted playsinline>
      <source
        src="https://res.cloudinary.com/dfdqiqn98/video/upload/q_auto:best/v1712695650/blog/Clock_Work-mobile_webm_taxqk1.webm"
        type="video/webm"
      />
      Your browser does not support the video tag.
    </video>

  </div>
</div>