<section class="blogContent__container">
  <h2>Drowning in a sea of <span><br class="mobile-break" /> blue links. </span></h2>

  <div class="blogContent__videos-grid">
    <div class="blogContent__video-container">
      <div class="blogContent__video">
        <video class="desktop-video static-video" loop muted playsinline>
          <source src="/videos/blog/Google_Links_1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

        <video class="mobile-video static-video" loop muted playsinline>
          <source src="/videos/blog/Google_Links_1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="blogContent__video-description desktop-paragraph">
        Getting answers shouldn't be a
        <br class="desktop-break" />
        <span>scavenger hunt.</span>

        Google's endless
        <br class="desktop-break" />
        blue links waste your
        <span> precious time. </span>
        <br class="desktop-break" />
        There has to be a
        <span> better way. </span>
      </div>

      {{! Had to add a new div for the mobile version for animation purposes }}
      <div class="blogContent__video-description mobile-paragraph">
        <p>
          Getting answers shouldn't be a

          <span>scavenger hunt.</span>
        </p>
        <p>
          Google's endless blue links waste your
          <span> precious time. </span>

          There has to be a
          <span> better way. </span>
        </p>
      </div>
    </div>

    <div class="blogContent__video-container">
      <div class="blogContent__video">
        <video class="desktop-video static-video" loop muted playsinline>
          <source src="/videos/blog/Google_Links_2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

        <video class="mobile-video static-video" loop muted playsinline>
          <source src="/videos/blog/Google_Links_2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

      <p class="blogContent__video-description desktop-paragraph">
        Google does not understand
        <span> context. </span>
        <br class="desktop-break" />
        Our time is too valuable
        <br class="desktop-break" />
        for
        <span> digital drudgery. </span>
      </p>

      {{! Had to add a new div for the mobile version for animation purposes }}
      <div class="blogContent__video-description mobile-paragraph">
        <p>
          Google does not understand
          <span> context. </span>
        </p>
        <p>
          Our time is too valuable for
          <span> digital drudgery. </span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="blogContent__container blogContent__notChatGpt">
  <h2>Not even ChatGPT.</h2>
  <p>
    ChatGPT knows, but can it do ?  Imagine an AI that assists, not just informs. That's the power of a true
    in-the-moment assistant.
  </p>
</section>