<div class="blogSliders__container">

</div>

<div class="blog__container">
  <div class="blogSliders__footer">
    <h1>
      Anytime. Anywhere.
      <br />
      All the time.</h1>
  </div>
</div>

<div class="blog__footer">
  <div class="gradient-wrapper">
    <h1 class="blog__footer-desktop">
      Experience the magic of personal assistance. Tasks get done like magic. Time returns.
      <br class="desktop-break" />
      CO* transforms your day.
      <br class="desktop-break" />
      From work to play. For a future
      <br class="desktop-break" />
      where everything feels effortless.
    </h1>

    <div class="blog__footer-mobile">
      <h1>
        Experience the magic of personal assistance.
        Tasks get done like magic.
        Time returns. CO*  transforms your day. From work to play.
        For a future where everything feels effortless.
    </div>
  </div>
</div>

<div class="blog__container">
  <div class="blogSliders__footer">
    <h1>
      Welcome to the future of personal
      <br />
      assistance. Today.
    </h1>

    <a class="blogNav__logo" href="/index.html">
      Try CO*
    </a>

  </div>
</div>