<section class="blogIntro__container"> 
  <h1>
    We crave freedom. <br class="desktop-break"/>
    Not the frustration of endless apps. 
  </h1>

  <p>
    We long for the <span> gift of time </span> – to pursue passions, connect with loved ones, <br class="desktop-break"/>
    and find moments <span> to simply breathe. </span> 
    <br class="mobile-break"/> <br class="mobile-break" /> <br class="mobile-break" />
    Yet, today's software <span> steals that promise. </span>  <br class="desktop-break"/>
    The life we want –<span> focused, connected </span> and <span> truly present </span> – <br class="desktop-break"/>
    lies buried beneath the clutter.
  </p>

  <h3>
    It's time to reclaim that promise with tech that finally <span> puts us first. </span>
  </h3>
</section>