<nav class="blogNav__container">
  <div>
    <a class="blogNav__logo" href="/index.html">
      <img src="/images/asterizk_pink.svg" alt="pink asterizk" />
    </a>

    <button class="blogNav__hamburger">
      <div class="blogNav__hamburger-line"></div>
      <div class="blogNav__hamburger-line"></div>
    </button>
  </div>
</nav>