<section class="blogHero__container">

  <div class="blogHero__videoBg">
    <video class="blogHero__video" autoplay loop muted>
      <source src="/public/placeholder/placeholder.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="blogHero__content"> 
    <div class="blogHero__lottieAnimation"></div> 
    <p class="blogHero__headline">Hello,World! Time is running out.</p>
  </div>

  <button class="blog__cta">
    Book a Demo
  </button>

</section>