<section class="blogContent__container">
  <h2>Drowning in a sea of <span> blue links. </span></h2>

  <div class="blogContent__videos-grid">
    <div class="blogContent__video-container">
      <div class="blogContent__video">
        <video class="desktop-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

        <video class="mobile-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_1.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

      <p class="blogContent__video-description">
        Getting answers shouldn't be a
        <br class="desktop-break" />
        <span>scavenger hunt.</span>
        <br class="mobile-break" />
        <br class="mobile-break" />
        Google's endless
        <br class="desktop-break" />
        blue links waste your
        <span> precious time. </span>
        <br class="desktop-break" />
        There has to be a
        <span> better way. </span>
      </p>
    </div>

    <div class="blogContent__video-container">
      <div class="blogContent__video">
        <video class="desktop-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

        <video class="mobile-video" autoplay loop muted playsinline>
          <source src="/videos/blog/Google_Links_2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

      <p class="blogContent__video-description">
        Google does not understand
        <span> context. </span>
        <br class="desktop-break" />
        <br class="mobile-break" />
        <br class="mobile-break" />
        Our time is too valuable
        <br class="desktop-break" />
        for
        <span> digital drudgery. </span>
      </p>
    </div>
  </div>
</section>

<section class="blogContent__container blogContent__notChatGpt">
  <h2>Not even ChatGPT.</h2>
  <p>
    ChatGPT knows, but can it do ?  Imagine an AI that assists, not just informs. That's the power of a true
    in-the-moment assistant.
  </p>
</section>