<section class="blogCards__container">
  <h2 class="blogCards__text">
    <span class="blogCards__highlight">Every task is a</span>
    multi-app marathon.
  </h2>

  <div class="blogCards__cards">
    {{! first card }}
    <div class="blogCards__card">
      <div class="blogCards__card-header">
        <h3> Draft a proposal? </h3>
        <p class="blogCards__highlight"> Need a Word Processor.</p>
      </div>

      <div class="blogCards__card-images">
        <div class="blogCards__card-image">
          <img src="/images/logo/word-logo.png" alt="word logo" />
        </div>
        <div class="blogCards__card-image">
          <img src="/images/logo/page-logo.png" alt="word logo" />
        </div>
      </div>
    </div>

    {{! second card }}
    <div class="blogCards__card">
      <div class="blogCards__card-header">
        <h3> Want to share it? </h3>
        <p class="blogCards__highlight"> Switch to email. </p>
      </div>

      <div class="blogCards__card-images twisted">
        <div class="blogCards__card-image">
          <img src="/images/logo/word-logo.png" alt="word logo" />
        </div>
        {{! <div class="blogCards__card-image">
          <img src="/public/images/logo/word-logo.png" alt="word logo">
        </div> }}
        <div class="blogCards__card-image">
          <img src="/images/logo/gmail-logo.png" alt="word logo" />
        </div>
      </div>
    </div>

    {{! third card }}
    <div class="blogCards__card">
      <div class="blogCards__card-header">
        <h3> Movie Night? </h3>
        <p class="blogCards__highlight"> A different app, plus the hassle of coordinating </p>
      </div>

      <div class="blogCards__card-images twisted">
        <div class="blogCards__card-image">
          <img src="/images/logo/fandango-logo.png" alt="word logo" />
        </div>
        <div class="blogCards__card-image">
          <img src="/images/logo/whatsapp-logo.png" alt="word logo" />
        </div>
        <div class="blogCards__card-image">
          <img src="/images/logo/snapchat-logo.png" alt="word logo" />
        </div>
      </div>
    </div>

    {{! fourth card }}
    <div class="blogCards__card">
      <div class="blogCards__card-header">
        <h3> Dream Vacation? </h3>
        <p class="blogCards__highlight"> Scrounging for flights, hotels and building your own itinerary </p>
      </div>

      <div class="blogCards__card-images twisted">
        <div class="blogCards__card-image">
          <img src="/images/logo/hopper-logo.png" alt="word logo" />
        </div>
        <div class="blogCards__card-image">
          <img src="/images/logo/booking-logo.png" alt="word logo" />
        </div>
        <div class="blogCards__card-image">
          <img src="/images/logo/airbnb-logo.png" alt="word logo" />
        </div>
      </div>
    </div>
  </div>
</section>