<div class="blogClockVideo__container">
  <div class="blogClockVideo__videoBg">
    {{! <img src="/images/blog/blog_hero_placeholder-desktop.png" class="desktop-poster" />
    <img src="/images/blog/blog_hero_placeholder-mobile.png" class="mobile-poster" /> }}

    <video class="blogClockVideo__video desktop-video static-video" autoplay loop muted playsinline>
      <source
        src="https://res.cloudinary.com/dmpdhkdwu/video/upload/q_auto:best/v1712169871/Clock_Work-desktop_lwdli1.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>

    <video class="blogClockVideo__video mobile-video static-video" autoplay loop muted playsinline>
      <source
        src="https://res.cloudinary.com/dfdqiqn98/video/upload/q_auto:best/v1712325578/Clock_Work-mobile_gmcmqu.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>

  </div>
</div>