<div class="blogSlider__container">
  <div class="blogSlider__slides-container">
    <div class="blogSlider__slide"></div>
    <div class="blogSlider__slide"></div>
    <div class="blogSlider__slide">
    </div>
    <div class="blogSlider__slide"></div>
    <div class="blogSlider__slide"></div>
    <div class="blogSlider__slide"></div>
    <div class="blogSlider__slide"></div>
  </div>
  
  <div class="blogSlider__footer"> 
    <p class="blogSlider__slide-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit.
    </p>

    <div class="blogSlider__navigation">
      <button class="blogSlider__button prev">
        <img src="/icons/arrow-left.svg" alt="Previous Slide">
      </button>

      <p class="blogSlider__pagination">
        <span class="blogSlider__pagination-current">1</span> of <span class="blogSlider__pagination-total">6</span>
      </p>

      <button class="blogSlider__button next">
        <img src="/icons/arrow-right.svg" alt="Next Slide">
      </button>
    </div>
  </div>
</div>