.blogContent__container h2 {
  margin-bottom: 80px;

  @include media("<phone") {
    margin-bottom: 40px;
  }
  span {
    color: $colorBlue;
  }
}

.blogContent__videos-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);

  @include media("<phone") {
    gap: 0;
  }
}

.blogContent__video-container {
  @include media("<phone") {
    grid-column: span 2;

    &:first-of-type {
      margin-bottom: 40px;
    }
  }

  .blogContent__video {
    border-radius: 21.76px;
    overflow: hidden;
    box-shadow: 2px 0px 12px 2px #00000014;

    video {
      object-fit: cover;
      transform: scale(1.1);
    }
  }

  .blogContent__video-description {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    padding-right: 8px;
    line-height: 28px;

    span {
      display: inline;
      color: $colorBlack;
    }

    .mobile-break {
      display: none;
    }

    &.mobile-paragraph {
      display: none;
    }

    @include media("<phone") {
      font-size: 20px;
      line-height: 24px;

      .desktop-break {
        display: none;
      }

      .mobile-break {
        display: inline;
      }

      &.desktop-paragraph {
        display: none;
      }

      &.mobile-paragraph {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}

.blogContent__notChatGpt {
  margin-bottom: 60px;

  @include media("<phone") {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 16px;
  }

  p {
    max-width: 740px;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}
