.blogSliders__container {
  margin-top: 180px;

  @include media("<tablet") {
    margin-top: 80px;
  }
}

.blogSlider__section {
  margin-top: 100px;

  &:first-of-type {
    margin-top: 0;
  }
}

.blogSlider__header {
  margin-bottom: 40px;

  @include media("<tablet") {
    margin-bottom: 80px;
  }

  h1 {
    margin-bottom: 40px;
    line-height: calc(100% + 6px);

    &.centered {
      text-align: center;

      @include media("<phone") {
        text-align: left;
      }
    }
  }

  h4 {
    font-size: 27px;
    font-weight: 600px;
    margin-bottom: 16px;

    span {
      margin-left: 16px;
      font-size: 18px;
      letter-spacing: 1px;
      opacity: 0.5;
    }

    @include media("<phone") {
      font-size: 18px;
      margin-bottom: 12px;

      span {
        margin-left: 8px;
        font-size: 10px;
      }
    }
  }

  p {
    font-size: 28px;
    line-height: 32px;
    color: #000000b8;

    &.centered {
      text-align: center;

      @include media("<phone") {
        text-align: left;
      }
    }

    @include media("<phone") {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}

.blogSlider__section:first-of-type {
  .blogSlider__header h1 {
    margin-bottom: 48px;
  }
}

.blogSliders__footer {
  height: 100vh;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.blog__footer {
  background-color: $colorBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // in case the browser doesn't support svh
  min-height: 100svh;
  padding: 24px;

  h1 {
    max-width: 996px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: white;
    background: -webkit-linear-gradient(45deg, #fa00ff, #fed7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blog__footer-mobile {
    display: none;
    flex-direction: column;
    gap: 16px;
  }

  @include media("<tablet") {
    .blog__footer-desktop {
      display: none;
    }
    .blog__footer-mobile {
      display: flex;
      line-height: calc(100% - 1.8px);
      letter-spacing: -1.3px;
    }
  }
}
