$sliderHeight: 70vh;
$sliderPaddingX: calc((100vw - $sliderHeight * 16 / 9) / 2);

.blogSlider__container{
  width: 100vw;
  margin-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blogSlider__slides-container{
  width: 100%;
  padding: 0 $sliderPaddingX;
  display: flex;
  gap:12px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  align-items: center;
  // Hide scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blogSlider__slide{
  scroll-snap-align: center;
  flex: 0 0 auto;
  height: $sliderHeight;
  width: calc($sliderHeight * 16 / 9);
  padding: 0 24px;
  background-color: lightsalmon;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
  }

  &.mobile{
    flex: 0 0 auto;
    width: calc($sliderHeight * 9 / 16);
  }
}

.blogSlider__footer{
  display: flex;
  padding: 0 max($sliderPaddingX, 24px);
  min-height: 10%;
  align-items: start;
  justify-content: space-between; 
}

.blogSlider__slide-description{
  width: max(75%, 540px);
  font-size: 18px;
  font-weight: 450;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.blogSlider__navigation{
  display: flex;
  align-items: center;
  gap: 32px;
}

.blogSlider__button{
  padding: 20px 24px;
  border-radius: 800px;

  img{
    width: 7.5px;
  }

  &:hover{
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:disabled{
    cursor: not-allowed;
    opacity: 0.3;
  }
}

@include media(">maximum") {
  .blogSlider__slides-container{
    padding: 40px calc((100vw - 1176px) / 2) 0px;
  }

  .blogSlider__footer{
    padding: 0 calc((100vw - 1176px) / 2);
  }
}

@include media("<large") {
  .blogSlider__slide{
    width: calc(100vw - 48px);
    height: calc(100vw * 9 / 16);
    border-radius: 16px;
  }
}

@include media("<desktop") {
  .blogSlider__slides-container{
    padding: 0 24px;
  }

  .blogSlider__footer{
    padding: 0 28px;
  }

  .blogSlider__navigation{
    gap: 12px;
  }
}

@include media("<tablet") {
  .blogSlider__container{
    margin-top: 0;
  }

  .blogSlider__slide-description{
    width: 70%;
  }

  .blogSlider__navigation{
    gap: 4px;
  }
}

@media screen and (max-width: 560px){
  .blogSlider__container{
    // height: 100svh;
    // background-color: red;
  }
}

