.blogHero__container {
  position: relative;
  height: calc(85vh - 124px); // Fallback for browsers not supporting svh
  height: calc(85svh - 124px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  padding: 0 24px 37px;

  @include media("<tablet") {
    height: calc(100vh - 124px); // Fallback for browsers not supportingsdvh
    height: calc(100svh - 120px);
    padding: 0 24px 92px;
  }
}

.blogHero__videoBg {
  position: absolute;
  top: -124px;
  left: 0;
  width: 100%;
  height: calc(100% + 124px);
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.mobile-video {
    display: none;
  }

  @include media("<tablet") {
    top: -120px;
    height: calc(100% + 120px);
  }

  @include media("<phone") {
    &.desktop-video {
      display: none;
    }

    &.mobile-video {
      display: block;
    }
  }
}

.blogHero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 740px;
  gap: 24px;
}

.blogHero__lottieAnimation {
  position: relative;
  width: min(400px, 35vh);
  height: min(400px, 35vh);

  @include media("<tablet") {
    margin-top: 22px;
    width: 311px;
    height: 311px;
  }

  @media screen and (max-height: 720px) {
    height: 30vh; // Fallback for browsers not supporting svh
    width: 30vh; // fallback for browsers not supporting svh
    width: 30svh;
    height: 30svh;
  }
}

.blogHero__headline {
  order: 1;
  text-align: center;
  font-size: 28px;
  font-weight: 450;
  line-height: 36px;
  color: $colorMain;

  @include media("<desktop") {
    font-size: 24px;
    line-height: 120%;
  }

  @include media("<tablet") {
    font-size: 20px;
    font-weight: 450;
    line-height: 28px;
  }
}
