.blogSliders__container {
  margin-top: 180px;

  @include media("<tablet") {
    margin-top: 80px;
  }
}

.blogSlider__section {
  margin-top: 100px;

  &:first-of-type {
    margin-top: 0;
  }
}

.blogSlider__header {
  margin-bottom: 40px;

  @include media("<tablet") {
    margin-bottom: 80px;
  }

  h1 {
    margin-bottom: 40px;
    line-height: calc(100% + 6px);

    & span {
      display: inline;

      @include media("<phone") {
        display: block;
        margin-bottom: 16px;
      }
    }

    &.centered {
      text-align: center;

      @include media("<phone") {
        text-align: left;
      }
    }
  }

  h4 {
    font-size: 27px;
    font-weight: 600px;
    margin-bottom: 16px;

    span {
      margin-left: 16px;
      font-size: 18px;
      letter-spacing: 1px;
      opacity: 0.5;
    }

    @include media("<phone") {
      font-size: 18px;
      margin-bottom: 12px;

      span {
        margin-left: 8px;
        font-size: 10px;
      }
    }
  }

  p {
    font-size: 28px;
    line-height: 32px;
    color: #000000b8;

    &.centered {
      text-align: center;

      @include media("<phone") {
        text-align: left;
      }
    }

    @include media("<phone") {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}

.blogSlider__section:first-of-type {
  .blogSlider__header h1 {
    margin-bottom: 48px;
  }
}

.blogSliders__footer {
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;

  h1 {
    text-align: center;
  }

  .blogNav__logo {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
    padding: 18px 40px;

    @include media("<phone") {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      padding: 10px 28px;
    }
  }

  &.last-footer h1 {
    color: rgba(0, 0, 0, 0.72);
  }
}

.blog__footer {
  background-color: $colorBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; // in case the browser doesn't support svh
  min-height: 100svh;
  padding: 24px;

  .gradient-wrapper {
    max-width: 996px;
    font-weight: 600;
    letter-spacing: 0.3px;
    background: -webkit-linear-gradient(315deg, #000000 40%, rgba(250, 0, 255, 1) 75%, #fed7ff 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-family: "SFPro";
    max-width: 996px;
  }

  @include media("<phone") {
    padding: 22px;

    h1 {
      letter-spacing: 0.4px;
    }
  }
}
