.blogHero__container {
  background-color: $colorBlack;
  color: $colorMain;

  .blogHero__section {
    height: 100vh; // backup for browsers that don't support svh
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media("<phone") {
      height: 60vh;
      height: 60svh; // backup for browsers that don't support svh
      justify-content: left;
      padding: 40vh 22px 0;
    }
  }

  h1 {
    text-align: center;
    color: white;
    line-height: 106%;
    letter-spacing: 0.5px;

    @include media("<phone") {
      transform-origin: left;
      text-align: left;
    }
  }
}
