.blogSliders__container {
  margin-top: 180px;

  @include media("<tablet") {
    margin-top: 80px;
  }
}

.blogSlider__section {
  margin-top: 100px;

  &:first-of-type {
    margin-top: 0;
  }
}

.blogSlider__header {
  margin-bottom: 40px;

  @include media("<tablet") {
    margin-bottom: 80px;
  }

  h1 {
    margin-bottom: 40px;

    &.centered {
      text-align: center;
    }
  }

  h4 {
    font-size: 27px;
    font-weight: 600px;
    margin-bottom: 16px;

    span {
      margin-left: 16px;
      font-size: 18px;
      letter-spacing: 1px;
    }

    @include media("<phone") {
      font-size: 18px;
      margin-bottom: 12px;

      span {
        font-size: 10px;
      }
    }
  }

  p {
    font-size: 28px;
    line-height: 32px;
    color: #000000b8;

    &.centered {
      text-align: center;
    }
  }
}

.blogSlider__section:first-of-type {
  .blogSlider__header h1 {
    margin-bottom: 48px;
  }
}

.blogSliders__footer {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.blog__footer {
  background-color: $colorBlack;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // in case the browser doesn't support svh
  height: 100svh;
  padding: 0 24px;

  h1 {
    max-width: 996px;
    color: white;
    background: -webkit-linear-gradient(45deg, #fa00ff, #fed7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
