.blogIntro__container {
  h1 {
    margin-bottom: 60px;
    font-size: clamp(36px, 7vw, 60px);
  }

  span {
    color: $colorBlack;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
    color: $blogMainColor;

    .mobile-break {
      display: none;
    }

    @include media("<tablet") {
      font-size: 22px;

      .desktop-break {
        display: none;
      }

      .mobile-break {
        display: inline;
      }
    }
  }

  h3 {
    margin-top: 80px;
    color: $blogMainColor;

    @include media("<tablet") {
      margin-top: 60px;
      font-size: 22px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.5px;
    }
  }
}
