// Fonts
@font-face {
  font-family: "SFPro";
  src: url("/fonts/SF_Pro/SF-Pro-Display-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "SFPro";
  src: url("/fonts/SF_Pro/SF-Pro-Display-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/fonts/SF_Pro/SF-Pro-Display-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: "Circular";
//   src: url("/fonts/CircularStd-Medium.woff2");
//   font-weight: 500;
// }

// @font-face {
//   font-family: "Antwerp";
//   src: url("/fonts/Antwerp_Light.otf");
//   font-weight: 300;
// }

h1 {
  font-size: clamp(32px, 7vw, 60px);
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
}

h2 {
  font-size: clamp(28px, 5vw, 40px);
  font-weight: 600;
  line-height: 124%;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.5px;
}

p {
  letter-spacing: 0.5px;
  font-weight: 600;
  color: $blogMainColor;
}

img {
  width: 100%;
}

.mobile-break {
  display: none;
}

.sm-mobile-break {
  display: none;
}

@include media("<tablet") {
  .desktop-break {
    display: none;
  }

  .desktop-paragraph {
    display: none;
  }

  .mobile-break {
    display: inline;
  }

  .mobile-paragraph {
    display: inline;
  }
}

@include media("<minimum") {
  .sm-mobile-break {
    display: inline;
  }
}

.mobile-video {
  display: none;
}

@include media("<tablet") {
  .desktop-video {
    display: none;
  }

  .mobile-video {
    display: block;
  }
}

section {
  margin-top: 150px;

  &.first-section {
    margin-top: 250px; // we remove the size of the navbar that takes up space
  }

  @include media("<tablet") {
    margin-top: 80px;

    &.first-section {
      margin-top: 60px;
    }
  }
}

.video-container {
  position: relative;
}

.blog__unmute-btn {
  position: absolute;
  top: 60px;
  right: 48px;
  z-index: 1;
  padding: 10px 7px;

  svg {
    fill-opacity: 0.72;
    height: 20px;

    path {
      fill: black;
    }
  }

  &.muted svg {
    fill-opacity: 0.6;
  }

  @include media("<phone") {
    right: 24px;

    svg {
      height: 12px;
    }
  }
}

.blog__preload {
  position: fixed;
  background-color: $colorBlack;
  inset: 0;
  z-index: 10;
}

.blog__container {
  margin: 0 auto;
  max-width: 972px;
  font-family: "SFPro";

  @include media("<desktop") {
    max-width: none;
    margin: 0 clamp(24px, 4vw, 108px);
  }
}

.blog__cta {
  color: $colorMain;
  font-family: "SFPro";
  width: fit-content;
  padding: 16px 32px;
  background: rgba(0, 0, 0, 0.72);
  border-radius: 800px;
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 0.6px;

  &:hover {
    background: rgba(0, 0, 0, 1);
  }
}

@include media("<tablet") {
  video {
    pointer-events: none;
  }
}
