.blogCards__container {
  overflow: hidden;
}

.blogCards__highlight {
  color: $blogMainColor;
}

.blogCards__text {
  margin-bottom: 40px;
}

.blogCards__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.blogCards__card {
  padding: 12px 12px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  height: 230px;
  background-color: rgba(248, 246, 242, 1);

  .blogCards__card-header h3 {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.3820755183696747px;
  }
}

.blogCards__card-images {
  display: flex;
  padding: 0 14px;
  justify-content: center;
  position: relative;

  .blogCards__card-image {
    max-width: 76px;
    max-height: 76px;
    background-color: $colorMain;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
    box-shadow: 2.500000238418579px 5.000000476837158px 5.000000476837158px 0px rgba(0, 0, 0, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.blogCards__card:first-of-type .blogCards__card-images {
  gap: 30px;
}

.blogCards__card-images.twisted {
  padding: 0;

  .blogCards__card-image:first-of-type {
    transform: rotate(-12deg) translateX(10px);
    z-index: 2;
  }

  .blogCards__card-image:nth-of-type(2) {
    transform: translateY(-10px);
    z-index: 1;
  }

  .blogCards__card-image:last-of-type {
    transform: rotate(12deg) translateX(-10px);
  }
}

@include media("<large") {
  .blogCards__cards {
    gap: 24px;
  }
}

@include media("<desktop") {
  .blogCards__cards {
    max-width: calc(300px * 2 + 40px);
    margin: 0 auto;
  }

  .blogCards__card {
    padding: 16px 16px 40px;
    height: 300px;
    grid-column: span 2;
  }

  .blogCards__card-images .blogCards__card-image {
    flex: none;
    max-width: 100px;
    max-height: 100px;
  }
}

// the tablet breakpoint set in include-media was too big for this component
@media screen and (max-width: 640px) {
  .blogCards__cards {
    max-width: 327px;
  }

  .blogCards__card {
    max-height: 327px;
    grid-column: span 4;
  }
}
