
.blogContent__container h2{
  margin-bottom: 80px;

  @include media("<phone"){
    margin-bottom: 40px;
  }
  span{
    color: $colorBlue;
  } 
}

.blogContent__videos-grid{
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}

.blogContent__video-container{

  @include media ("<phone"){
    grid-column: span 2;

    &:first-of-type{
      margin-bottom: 40px;
    }
  }

  .blogContent__video{
    border-radius: 21.76px;
    overflow: hidden;
    box-shadow: 2px 0px 12px 2px #00000014;

    video{
      object-fit: cover;
      transform: scale(1.1);
    }
  }



  .blogContent__video-description{
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    span{
      color: $colorBlack;
    }

    .mobile-break{
      display: none;
    }

    @include media("<phone"){
      font-size: 20px;
      line-height: 24px;

      .desktop-break{
        display: none;
      }

      .mobile-break{
        display: inline;
      }
    }
  }
}

.blogContent__text-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  h2{
    grid-column: span 2;
  }

  ul{
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: 32px
  }

  li{
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: $colorBlackForGreyPage;

    &:nth-of-type(2){
      color: $colorBlack;
    }

    span{
      color: $colorBlack;
    }
  }
}