.blogNav__container {
  position: absolute;
  right: 48px;
  padding-top: 24px;
  display: flex;
  justify-content: end;
  transition: opacity 0.3s $ease-out;
  z-index: 3;

  @include media("<tablet") {
    right: 24px;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.blogNav__logo {
  font-family: "SFPro";
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.72);
  border-radius: 50px;
  background-color: rgba(248, 246, 242, 1);
  transition: background-color 0.2s $ease-in;

  &:hover {
    background-color: rgb(237, 235, 232);
  }

  @include media("<tablet") {
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.5px;
  }
}
