.blog__pinkTitle-container {
  h1 {
    font-size: (32px, 8vw, 60px);
    color: $colorLightOrange;

    span {
      color: $colorOrange;
    }

    @include media("<tablet") {
      // max-width: 482px;
      .desktop-break {
        display: none;
      }
    }

    .anim-gradient {
      color: $colorLightOrange;
      background: -webkit-linear-gradient(
        1deg,
        $colorLightOrange 0%,
        $colorLightOrange 50%,
        $colorOrange 51%,
        $colorLightOrange 100%
      );
      background-size: 200% 200%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 2s ease-out infinite;
    }

    @keyframes gradient {
      0% {
        background-position-x: 200%;
      }

      100% {
        background-position-x: 0%;
      }
    }
  }
}

.blog__blackBlock-container {
  margin-top: 250px;
  background-color: $colorBlack;
  height: 200svh;

  @include media("<tablet") {
    margin-top: 180px;
    height: 100svh;
  }

  @include media("<phone") {
    height: 812px;
  }

  .blog__blackBlock-content {
    font-family: "SFPro";
    color: $colorMain;
    max-width: 972px;
    margin: 0 auto;
    padding-top: clamp(80px, 15%, 200px);

    @include media("<tablet") {
      margin: 24px;
    }

    .blog__blackBlock-introducing {
      color: $colorMain;
      font-size: clamp(32px, 7vw, 54px);
      font-weight: 600;
      margin-bottom: 250px;

      @include media("<desktop") {
        margin-bottom: 200px;
      }

      @include media("<tablet") {
        margin-bottom: 120px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
    }

    .blog__blackBlock-co {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 180px;

      @include media("<tablet") {
        justify-content: start;
        margin-bottom: 80px;
      }

      .letter {
        width: clamp(108px, 15vw, 230px);
      }

      .letter:last-of-type {
        margin-left: clamp(16px, 2vw, 36px);
      }

      .asterizk {
        width: clamp(73px, 10vw, 156px);
        margin-left: clamp(20px, 2vw, 40px);

        svg {
          width: 100%;
          height: 100%;
        }

        svg path {
          fill: $colorPink;
        }
      }
    }

    .blog__blackBlock-footer {
      padding-right: 160px;

      p {
        text-align: right;
        font-size: 25px;
        font-weight: 500;
        line-height: 32px;
        color: $colorMain;
        letter-spacing: 0.5px;
      }

      @include media("<tablet") {
        p {
          text-align: left;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}

.blog__assistantVideo-container {
  height: 100vh;
  height: 100svh;
  position: relative;
  background-color: $colorBlack;

  .blogassistantVideo__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .blog__container {
    position: relative;
    color: $colorMain;
    padding-top: 120px;
    z-index: 1;

    @include media("<tablet") {
      padding-top: 80px;
    }
  }
}
