.blogClockVideo__container {
  position: relative;
  height: calc(85vh - 144px); // Fallback for browsers not supporting svh
  height: calc(85svh - 144px);
  z-index: 1;

  .blog__unmute-btn {
    transform: translateY(-144px);

    svg {
      fill-opacity: 1;

      path {
        fill: white;
      }
    }

    &.muted svg {
      fill-opacity: 0.6;
    }

    @include media("<phone") {
      transform: translateY(-88px);
    }
  }

  @include media("<tablet") {
    height: calc(100vh - 80px); // Fallback for browsers not supporting svh
    height: calc(100svh - 80px);
  }
}

.blogClockVideo__videoBg {
  background-color: $colorBlack;
  position: absolute;
  top: -144px;
  left: 0;
  width: 100%;
  height: 85vh; // Fallback for browsers not supporting svh
  height: 85svh;
  object-fit: cover;
  z-index: -1;

  video {
    width: 100%;
    // opacity: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.mobile-poster {
      display: none;
    }

    @include media("<phone") {
      &.desktop-poster {
        display: none;
      }

      &.mobile-poster {
        display: block;
      }
    }
  }

  &.mobile-video {
    display: none;
  }

  @include media("<phone") {
    top: -88px;
    height: 100vh; // Fallback for browsers not supporting svh
    height: 100svh;
  }

  @include media("<phone") {
    &.desktop-video {
      display: none;
    }

    &.mobile-video {
      display: block;
    }
  }
}
