.blogHero__container{
  height: calc(100svh - 124px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 72px;

  @include media("<tablet") {
    height: calc(100svh - 120px);
    padding: 0 24px 92px;
  }
}

.blogHero__lottieAnimation{
  margin-top: 28px;
  position: relative;
  width: 400px;
  height: 400px;

  @include media("<tablet") {
    margin-top: 22px;
    width: min(311px , 10svh);
    height: min(311px , 10svh);
  }
}

.blogHero__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 740px;
  gap: 32px;
}

.blogHero__headline{
  text-align: center;
  font-size: 28px;
  font-weight: 450;
  line-height: 36px;

  @include media("<tablet") {
    font-size: 20px;
    font-weight: 450;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;    
  }
}