.discussion__container {
  flex: 1;
  width: 100%;
  max-width: 870px;

  @include media("<tablet") {
    max-width: 95vw;
  }

  .discussion__user,
  .discussion__ai {
    position: relative;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;

    p {
      overflow-wrap: break-word;
    }

    .images__container {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      img {
        width: 98px;
        height: 98px;
        border-radius: 4px;
      }
    }

    @include media("<tablet") {
      font-size: 18px;
    }
  }
  .discussion__user {
    color: rgba($colorBlue, 0.72);
    text-align: right;
    margin-left: auto;
    padding-right: 16px;
    margin-left: 112px;

    img {
      margin-left: auto;
      width: unset;
      height: unset;
      max-width: 100%;
      max-height: 60vh;
      object-fit: cover;
      object-position: center;
      border-radius: 20px;
    }

    @include media("<tablet") {
      padding-right: 24px;
    }
  }

  .discussion__ai {
    color: $colorBlack;
    // For cursor
    min-height: 24px;
    padding-left: 16px;
    margin-right: 112px;

    .top-status {
      color: $colorBlack;
      font-size: 16px;
      font-style: normal;
      font-weight: 450;
      line-height: 20px;
      letter-spacing: 0.6px;
      text-transform: capitalize;
      position: relative;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      //   border: 1px solid red;

      letter-spacing: 0.6px;

      &:after {
        content: "";
        z-index: 1;
        display: block;
        height: 1px;
        width: 100%;
        margin-left: 110px;
        background: #0000001f;
      }

      .typing__container {
        // border: 1px solid red;
      }
    }

    .AIstatus {
      display: block;
      margin-top: 24px;
      margin-bottom: 8px;
      font-size: 20px;
      font-weight: 450;
      line-height: 24px;
      letter-spacing: 0.6px;
      text-align: left;
    }

    @include media("<tablet") {
      padding-left: 24px;
      margin-right: unset;
    }
  }
}
