.discussion__container {
  flex: 1;
  max-width: 870px;

  img {
    max-height: 60vh;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }

  .discussion__user,
  .discussion__ai {
    position: relative;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;

    @include media("<tablet") {
      font-size: 18px;
    }
  }
  .discussion__user {
    color: $colorBlue;
    text-align: right;
    margin-left: auto;
    padding-right: 16px;
    margin-left: 112px;

    @include media("<tablet") {
      padding-right: 24px;
    }
  }

  .discussion__ai {
    color: $colorBlack;
    // For cursor
    min-height: 24px;
    padding-left: 16px;
    margin-right: 112px;

    @include media("<tablet") {
      padding-left: 24px;
    }
  }
}
