.logo {
  position: fixed;
  z-index: 2;
  padding: 4px 6px;

  left: 60px;
  bottom: 58px;
  backdrop-filter: blur(10px);
  background-color: #f8f6f272;
  border-radius: 12px;

  @include media("<large") {
    left: 42px;
  }

  @include media("<tablet") {
    display: none;
  }
}
