.discussion__tabs-container.none {
  display: none;
}

.discussion__tabs-header {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  gap: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease-out;

  li {
    font-family: "SFPro";
    font-size: 16px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #00254E;
    opacity: .6;

    &:hover {
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  li.active {
    color: #00254E;
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

.discussion__tabs-content {
  position: relative;
  margin-top: 12px;
  transition: opacity 0.3s ease-out;

  &.hidden {
    opacity: 0;
  }
}
