.none {
  display: none;
}

.discussion__tabs-header {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  gap: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease-out;

  li {
    font-family: "SFPro";
    font-size: 16px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: $colorBlueText;
    opacity: 0.6;
  }
}

.discussion__tabs-content {
  position: relative;
  margin-top: 12px;
  transition: opacity 0.3s ease-out;

  &.hidden {
    opacity: 0;
  }
}

.sources-container {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
  gap: 12px;

  .sources-item {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    padding: 4px 12px 4px 4px;
    font-family: "SFPro";
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    display: flex !important;
    align-items: center;
    gap: 8px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  a img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }

  &.none {
    display: none;
  }
}
