.flight-toggle-button-container {
  display: flex;
  margin-bottom: 24px;
  font-family: "SFPro";
  color: $colorBlueText;
}

.flight-toggle-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.flight-toggle-button.active {
  border-radius: var(--24, 24px);
  background: var(--B6-W8, rgba(0, 0, 0, 0.06));
}

.FlightContainer {
  margin: 20px auto;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
  animation-delay: 1000ms;

  p {
    margin: 0;
  }

  @include media("<tablet") {
    max-width: 348px;
  }
}

.flightResult {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: 100%;

  @include media("<tablet") {
    max-width: 348px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.flightCard {
  position: relative;
  border-radius: 20px;
  background: rgba(246, 246, 248, 0.5);
  box-shadow: 0px 10px 30px 0px rgba(183, 183, 183, 0.25);
  gap: 10px;
}

.flightCard__main {
  border-radius: 20px;
  border: 0.5px solid rgba($colorLight, 0.4);
  background: rgba(248, 248, 248, 0.5);
  padding: 16px;
  box-shadow: 0px 10px 30px -9px rgba(55, 69, 108, 0.1);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  color: $grey-4;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.flightCard__duration {
  opacity: 0.5;
}

.flightCard__main-body {
  margin-top: 20px;
  color: $colorMain;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.flightCard__progress-line {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  path {
    fill: $grey-2;
  }
}

.flightCard__progress-dot {
  width: 4px;
  height: 4px;
  border-radius: 6px;
  background-color: $grey-3;
}

.flightCard__airline-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 32px;
  height: 32px;
  border-radius: 24px;
}

.flightCard__main-footer {
  margin-top: 20px;
  opacity: 0.5;
}

.flightCard__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  color: $grey-4;
  padding: 10px 16px 12px;

  .flightCard__price {
    display: flex;
    gap: 8px;
  }

  .flightCard__price-value {
    color: $colorMain;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px; /* 117.647% */
  }
}
