// Filters
.hotels-ui__filter-container {
  display: flex;
  gap: 13px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  margin-bottom: 24px;
}

.hotels-ui__filter-item {
  padding: 6px 16px;
  border-radius: 24px;
  border: 1px solid $grey-2;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba($colorLight, 0.5);
  }

  &.active {
    background-color: $colorLight;
    border: none;
  }
}

// HOTELS CARD CONTAINER
.hotels-ui__main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $colorMain;
  column-gap: 9px;
  row-gap: 10px;

  @include media("<tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media("<phone") {
    grid-template-columns: 1fr;
  }
}

// HOTEL CARD
.hotels-ui__card-container {
  background: rgba($colorLight, 0.54);
  position: relative;
  padding: 12px;
  overflow: hidden;
  border-radius: 12px;
  min-height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-ui__hotel-details {
}

.hotels-ui__hotel-image {
  height: 142px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hotels-ui__hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.hotels-ui__hotel-name {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
  width: 75%;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotels-ui__hotel-rating {
  display: flex;
  gap: 4px;
  align-items: center;
  color: $grey-5;
}

.hotels-ui__hotel-location {
  flex: 1;
  width: 100%;
  color: $grey-3;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  margin-top: 2px;
}

.hotels-ui__hotel-price {
  color: $colorMain;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}

// HOTEL DETAILS
.hotel-details__header-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.hotel-details__body {
  margin-top: 164px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hotel-details__section {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 30px rgba(55, 69, 108, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 12px;
}

.hotel-details__description {
  padding: 22px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  h2 {
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 17px;
    font-weight: 500;
    line-height: 135%; /* 22.95px */
  }
  .hotel-details__rating {
    color: $grey-3;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4px;
    width: calc(30% - 8px);
    text-align: end;

    @include media("<phone") {
      width: 100%;
      text-align: start;
    }
  }

  .hotel-details__about {
    margin-top: 6px;
    color: rgba($grey-5, 0.59);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
}
