.moviescard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  // padding: 20px;
  // padding-top: 16px;
  // padding-left: 16px;
  width: 100%;
  // background: #ffffff;
  text-align: center;
  // border-radius: 16px;
  // margin-left: -16px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: "SFPro";
  color: $colorBlueText;

  @include media("<tablet") {
    // place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  }
}

.movies-card {
  background: #ffffff;
  max-width: 236px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 16px !important;
  margin-bottom: 24px;
  opacity: 80%;

  @include media("<tablet") {
    max-width: 215px;
  }
}

.movies-card:hover {
  opacity: 100%;
}

.movies-image {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0 !important;
}

.movies-title {
  // color: var(--Text, rgba(0, 0, 0, 0.72));
  // opacity: .72;
  font-feature-settings: "liga" off;
  text-overflow: ellipsis;
  // white-space: nowrap;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 142.857% */
  letter-spacing: 0.6px;
  padding: 16px 8px 24px 8px;
  text-align: left;
  margin: 0;

  @include media("<tablet") {
    font-size: 16px;
    line-height: 20px;
  }
}

.movie-details-card {
  display: flex;
  width: 100%;
  padding: var(--16, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--0, 0px);
  border-radius: var(--24, 24px);
  // background: var(--BG-Card, rgba(255, 255, 255, 0.48));
  background: #ffffff;
  // margin-left: -16px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.movie-details-theater-header h2 {
  // color: var(--Text, rgba(0, 0, 0, 0.72));
  // opacity: 0.72;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
}

.movie-details-theater-header {
  display: block;
  // justify-content: space-between;
  // align-items: center;
}

.movie-details-date-selector {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.movie-details-date-selector .arrow {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.movie-details-date-selector .arrow:disabled {
  // color: rgba(0, 0, 0, 0.24);
  opacity: 0.24;
  cursor: auto;
}

.movie-details-showtimes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.movie-details-showtime {
  display: flex;
  width: 98px;
  padding: var(--8, 8px) var(--16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--8, 8px);
  border-top: 1px solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  border-right: var(--0, 1px) solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  border-bottom: var(--0, 1px) solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  border-left: var(--0, 1px) solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  margin-bottom: 8px;
}

.movie-details-showtime.selected {
  background: #6200ea;
  color: white;
  border-color: #6200ea;
}

.movie-details-showtime:focus {
  outline: none;
}
