.movies-ui__main-container {
}

.movies-ui__movies-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 16px;

  @include media("<tablet") {
    grid-template-columns: 1fr;
  }
}

.movies-card__container {
  border-radius: 20px;
  border: 0.5px solid rgba($colorLight, 0.4);
  background: rgb($grey-1, 0.5);
  padding: 16px 24px 16px 16px;
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 10px 30px -2px rgba(55, 69, 108, 0.04);
}

.movies-card__infos-container {
  display: flex;
  gap: 16px;
}

.movies-card__poster {
  height: 100%;
  width: 150px;
  border-radius: 12px;
  border: 1px solid $colorLight;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.movies-card__details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
}

.movies-card__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
  max-width: 120px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; /* Changed to ellipsis for better visual indication of overflow */

  @include media("<tablet") {
    max-width: 240px;
  }
}

.movies-card__cta-button {
  width: fit-content;
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: rgba($grey-4, 0.14);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
}

.movie-details-theater-header h2 {
  // color: var(--Text, rgba(0, 0, 0, 0.72));
  // opacity: 0.72;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
}

.movie-details-theater-header {
  display: block;
  // justify-content: space-between;
  // align-items: center;
}

.movie-details-date-selector {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.movie-details-date-selector .arrow {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.movie-details-date-selector .arrow:disabled {
  // color: rgba(0, 0, 0, 0.24);
  opacity: 0.24;
  cursor: auto;
}

.movie-details-showtimes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.movie-details-showtime {
  display: flex;
  width: 98px;
  padding: var(--8, 8px) var(--16, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--8, 8px);
  border-top: 1px solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  border-right: var(--0, 1px) solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  border-bottom: var(--0, 1px) solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  border-left: var(--0, 1px) solid var(--B40-W48, rgba(0, 37, 78, 0.4));
  margin-bottom: 8px;
}

.movie-details-showtime.selected {
  background: #6200ea;
  color: white;
  border-color: #6200ea;
}

.movie-details-showtime:focus {
  outline: none;
}
