.shopping-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  padding: 20px;
  width: 100%;
  // background: #ffffff;
  text-align: center;
  border-radius: 16px;
  // margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 24px;
  font-family: "SFPro";
  color: $colorBlueText;

  @include media("<tablet") {
    //   place-items: center;
    padding: 20px 0 20px 0;
  }
}

.shopping-container a {
  color: $colorBlueText !important;
}

.shopping-card {
  background: #ffffff;
  width: 215px;
  position: relative;
  overflow: hidden;
  padding: 16px 0 16px 0;
  border-radius: 16px;
  margin-bottom: 24px;
  opacity: 80%;
}

.shopping-card:hover {
  opacity: 100%;
}

.shopping-card a {
  text-decoration: none !important;
}

.shopping-image {
  width: auto;
  height: auto;
  max-width: 150px;
  border-radius: 8px;
  text-align: center;
  display: inline;
  padding: 16px 16px 16px 16px;
}

.shopping-name {
  // color: var(--Text, rgba(0, 0, 0, 0.72));
  text-align: center;
  font-feature-settings: "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 0.6px;
  padding: 16px 16px 4px 16px;
  height: 60px;
}

.shopping-description {
  font-size: 0.9em;
  // color: #555;
}

.shopping-image-dev {
  height: 150px;
  align-content: center;
  display: grid;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.shopping-price {
  // color: var(--Text, #000);
  font-feature-settings: "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 0.6px;
  // padding-bottom: 4px;
  padding: 16px 16px 20px 16px;
  line-height: 34px;
  margin: 0;
}

.shopping-source {
  // color: var(--B48-W60, rgba(0, 0, 0, 0.48));
  opacity: 0.48;
  text-align: center;
  font-feature-settings: "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  line-height: 16px;
  /* 133.333% */
  letter-spacing: 0.6px;
  padding: 0 16px 4px 16px;
  margin: 0;
}

.shopping-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;
  height: 100%;
  width: 100%;
}
