.products-ui__main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  --padding-x-and-top: 24px;

  @include media("<tablet") {
    --padding-x-and-top: 16px;
  }
}

.products-ui__header {
  margin-bottom: 8px;
}

.products-ui__sources {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: 0.2px;
  color: $grey-4;
}

.products-ui__products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.products-ui__product-container {
  position: relative;
  border-radius: 16px;
  background-color: rgba(248, 248, 248, 0.5);
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 10px 30px rgba(55, 69, 108, 0.04);

  .products-ui__product-header {
    padding: var(--padding-x-and-top) var(--padding-x-and-top) 0;
    display: none;

    @include media("<tablet") {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .products-ui__product-source-logo {
      width: 28px;
      height: 28px;
      border-radius: 30px;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .products-ui__product-infos {
    padding: var(--padding-x-and-top) var(--padding-x-and-top) 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<tablet") {
      padding: 8px var(--padding-x-and-top) 21px;
      flex-direction: column;
    }
  }

  .products-ui__product-details {
    position: relative;
    z-index: 1;
    width: 50%;
    h3 {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px; /* 133.333% */
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;

      @include media("<tablet") {
        height: 40px;
      }
    }

    p {
      margin-top: 22px;
      color: $colorGrey;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px; /* 138.462% */
      max-height: 54px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include media("<tablet") {
      order: 1;
      width: 100%;
      p {
        display: none;
      }
    }
  }

  .products-ui__product-image {
    position: relative; /* Ensure the parent is positioned */
    background: $colorLight;
    box-shadow: 0px 8px 16px 0px rgba(144, 147, 169, 0.08);
    width: 90px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    border-radius: 15px;
    transform: translate(-20px, 16px);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      opacity: 0.65;
      transform: rotate(-15deg);
      border-radius: 15px;
      background: $colorLight;
      box-shadow: 0px 8px 16px 0px rgba(144, 147, 169, 0.08);
      z-index: -1; /* Ensure this is behind the parent content */
    }

    img {
      width: 95%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    @include media("<tablet") {
      background: transparent;
      transform: translate(0, 0);
      box-shadow: none;
      width: 60%;
      margin-bottom: 8px;

      &::after {
        display: none;
      }
    }
  }
}

.products-ui__product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dedede;
  padding: 20px var(--padding-x-and-top);

  @include media("<tablet") {
    border-top: none;
    padding: 0 var(--padding-x-and-top) 21px;
  }
}

.products-ui__product-price-rating {
  display: flex;
  gap: 16px;
  align-items: center;

  @include media("<tablet") {
    justify-content: space-between;
    width: 100%;
  }
}

.products-ui__product-price {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px; /* 120% */
}

.products-ui__product-rating {
  display: flex;
  gap: 1.5px;

  svg {
    position: absolute;
  }
}

.products-ui__rating-star {
  height: 10px;
  width: 10.48px;
  display: flex;
  clip-path: url(#stars-clip);
  -webkit-clip-path: url(#stars-clip);

  .yellow {
    background: #f2d433;

    @include media("<tablet") {
      background: $grey-4;
    }
  }

  .grey {
    background: $grey-2;
    flex-grow: 1;
  }
}

.products-ui__product-source {
  opacity: 0.3;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

@include media("<tablet") {
  .products-ui__product-footer .products-ui__product-source {
    display: none;
  }
}
