.products-ui__main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.products-ui__header {
  margin-bottom: 8px;
}

.products-ui__sources {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: 0.2px;
  color: $grey-4;
}

.products-ui__products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;

  @include media("<tablet") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media("<phone") {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Product Card
.products-ui__product-container {
  position: relative;
  border-radius: 20px;
  background-color: rgba(248, 248, 248, 0.5);
  border: 0.5px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 30px -2px rgba(55, 69, 108, 0.04);

  .products-ui__product-header {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .products-ui__product-source-logo {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      overflow: hidden;
      border: 1px solid white;

      &.placeholder {
        background: $grey-2;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .products-ui__product-source {
      opacity: 0.3;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px; /* 138.462% */
      max-width: 96px;
      max-height: 14px;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $grey-4;
    }
  }

  .products-ui__product-details {
    position: relative;
    width: 80%;
    padding: 12px 16px 0;
    h3 {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px; /* 133.333% */
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include media("<tablet") {
      width: 100%;
    }
  }

  .products-ui__product-image {
    position: relative; /* Ensure the parent is positioned */
    background: $colorLight;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    border-radius: 12px;

    img {
      width: 95%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.products-ui__product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 16px;
}

.products-ui__product-price {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px; /* 120% */
}

.product-ui__product-price-reduction {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.products-ui__product-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  gap: 1.5px;
  color: $colorGrey;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}

.products-ui__rating-star {
  height: 10px;
  width: 10.48px;
  display: flex;
  clip-path: url(#stars-clip);
  -webkit-clip-path: url(#stars-clip);

  .yellow {
    background: #f2d433;

    @include media("<tablet") {
      background: $grey-4;
    }
  }

  .grey {
    background: $grey-2;
    flex-grow: 1;
  }
}

@include media("<tablet") {
  .products-ui__product-footer .products-ui__product-source {
    display: none;
  }
}
