<section class="herobanners__container no-scrollbar">
  <div class="herobanner__container dark-section">
    <h1>I am a <span>companion.</span> <br /> Chat with me about anything.</h1>
    <button class="herobanner__button dark-section__button"> Try Me</button>
  </div>
  <div class="herobanner__container light-section">
    <h1>Create your own use case <br /> with a <span>prompt.</span></h1>
    <button class="herobanner__button dark-section__button"> Try Me</button>
  </div>

  <div class="herobanner__scroll-indicator-container dark">
    <div class="herobanner__scroll-indicator"></div>
    <div class="herobanner__scroll-indicator"></div>
  </div>
</section>