<div class="heroBentoGrid__container">

  <div class="heroBentoGrid__wrapper">
    <h1> <span class="overlay">Good Morning, </span> <br /> <span class="name">Alex</span></h1>
    <div class="heroBentoGrid__grid">
      <div class="heroBentoGrid__grid-item square-item tagline-item">
        <h3>Get things <br />done in the real world.</h3>
        <p>
          Ask me to call your friends. I’ll set up meetups etc.
        </p>
      </div>
      <div class="heroBentoGrid__grid-item wide-item multitasking-item">
        <div class="feature-box">
          <h3>Your Multitasking<br /> Marvel! 
          <p>
            Watch me juggle multiple tasks simultaneously, no matter how many you throw my way.
          </p>
        </div>

        <div class="feature-illustration cards">
          <div class="shadow-floating-card floating-card">
            <h4>Email</h4>
            <p>composed to investors</p>
          </div>
          <div class="floating-card">
            <div class="floating-card__avatar-wrapper">
              <img src="https://res.cloudinary.com/dfdqiqn98/image/upload/c_scale,w_50/v1724257717/Home/avatar-photo_fj51go.png" alt="Avatar" class="avatar">
              <div class="floating-card__more-button">
                +5
              </div>
            </div>
            <p><span>List</span> of investors for raising money</p>
          </div>
        </div>
      </div>
      <div class="heroBentoGrid__grid-item high-item talk-item">
          <div class="feature-box">
            <h3>Just Talk.</h3>
            <p>
              Ask anything, in any language. No search, just direct conversation.
            </p>
          </div>
          <div class="feature-illustration conversation-widget">
            <p>Hello</p>
            <div class="mic-icon">
              <img src="/icons/mic-icon.svg" alt="mic icon">
            </div>
          </div>
      </div>
      <div class="heroBentoGrid__grid-item wide-item travel-item">
        <div class="feature-box">
          <h3>Plan Travel. <br />Effortlessly.</h3>
          <p>
            Need London trip help? Ask me to find the cheapest flights, hotels, and best spots to eat and explore
          </p>
        </div>
        <div class="feature-illustration travel-pictures">
          <div class="travel-picture">
            <img src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1724312644/Home/bento-illu-beatch_oufrei.png" alt="beatch">
          </div>
          <div class="travel-picture">
            <img src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1724312644/Home/bento-illu-sea_akahuh.png" alt="sea">
          </div>
          <div class="travel-picture">
            <img src="https://res.cloudinary.com/dfdqiqn98/image/upload/v1724312644/Home/bento-illu-girl_fsdl1s.png" alt="girl in front of the sea">
          </div>
        </div>
      </div>
      <div class="heroBentoGrid__grid-item square-item entertainment-item">
        <h3>Your<br /> Entertainment <br /> Guru</h3>
        <p>
          Want to watch a movie but need to fit your schedule?
        </p>
      </div>
    </div>
  </div>
</div>