<div class="overlay__recording">
  <div class="circle__container">
    <span class="circle"></span>
    <p class="record-counter">00:00</p>
  </div>
  <p class="info-text">Tap Anywhere to Stop</p>
</div>