<div class="task-manager__debug">
</div>

{{! created by taskManager.js }}
{{! <div class="task-manager__notification-container hidden">
  <p class="task-manager__notification-label">
    Text input required
  </p>

  <button class="task-manager__notification-closeBtn">
    <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.800781" y="1.47949" width="0.96" height="10.56" rx="0.48" transform="rotate(-45 0.800781 1.47949)"
        fill="white" />
      <rect x="0.799805" y="8.26758" width="10.56" height="0.96" rx="0.48" transform="rotate(-45 0.799805 8.26758)"
        fill="white" />
    </svg>
  </button>
</div> }}

<div id="tasks" class="task-manager__container">
  <div class="task-manager__content">
    <ul class="task-manager__tasks-grid">
      <li class="task-manager__task-card">
        <div class="task-manager__task-card-content">
          <h3 class="task-manager__task-card-title">
            Find the best flights from Paris to Vienna
          </h3>

          <div class="task-manager__task-status">
            <span class="task-manager__task-status-label">
              View Results
            </span>
          </div>
        </div>
        <div class="task-manager__task-illustration">
          <div class="task-manager__task-illustration-cover">
          </div>
          <div class="task-manager__task-illustration-behind">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>