<form id="divwaitlistform" class="divwaitlistform">
  {{! first part of form }}
  <h3>Please enter your name and email address</h3>
  <label for="first-name">First name</label>
  <input type="text" id="first-name" placeholder="Enter here" />
  <label for="last-name">Last name</label>
  <input type="text" id="last-name" placeholder="Enter here" />
  <label for="email">Email</label>
  <input type="text" id="email" placeholder="example@gmail.com" />

  {{! second part of form }}
  <h3>Please enter your socials to enjoy a more <span>personalised</span> experience</h3>
  <label for="facebook">Social Media Accounts</label>
  <input type="text" id="facebook" placeholder="Facebook Profile" />
  <input type="text" id="instagram" placeholder="Instagram Handle" />
  <input type="text" id="twitter" placeholder="Twitter Handle" />
  <label>What would you like to use CO * for?</label>
  <textarea id="txtuse" placeholder="Example: I need an assistant to help manage my time"></textarea>

  {{! submit button }}
  <div class="btnsave">
    <button id="btnwaitlistinfosubmit" class="button" type="button">SEND</button>
  </div>
</form>
<!-- <div id="divwaitlisttext" class="divwaitlisttext">
          Thank you for your interest,<br />
          we’ll email you once<br />
          approved
        </div>
        <div id="divlinklogout" class="divlink">
          <a href="/blog/" target="_blank">find out more</a><br /><a href="#" id="linksignout">sign out</a>
        </div> -->