<form id="divwaitlistform" class="divwaitlistform">
  {{! first part of form }}
  {{! <h3>Please enter your name and email address</h3>
  <label id="label-first-name" for="first-name">First name</label>
  <input type="text" id="first-name" data-label="label-first-name" placeholder="Enter here" />
  <label id="label-last-name" for="last-name">Last name</label>
  <input type="text" id="last-name" data-label="label-last-name" placeholder="Enter here" />
  <label id="label-email" for="email">Email</label>
  <input type="text" id="email" data-label="label-email" placeholder="example@gmail.com" /> }}

  {{! second part of form }}
  <h3>Please enter your details to enjoy a more <span>personalised</span> experience</h3>
  <label id="label-company" for="company">Company</label>
  <div class="input-container">
    <input type="text" id="txtcompany" data-label="label-company" placeholder="Your Company" required />
  </div>
  <label id="label-socials" for="facebook">Social Media Accounts</label>
  <div class="input-container">
    <input type="text" id="txtfacebook" data-label="label-socials" placeholder="Facebook Profile" />
    <p>Optionnal*</p>
  </div>
  <div class="input-container">
    <input type="text" id="txtinstagram" data-label="label-socials" placeholder="Instagram Handle" />
    <p>Optionnal*</p>
  </div>
  <div class="input-container">
    <input type="text" id="txttwitter" data-label="label-socials" placeholder="Twitter Handle" />
    <p>Optionnal*</p></div>
  <div class="input-container">
    <input type="text" id="txtlinkedin" data-label="label-socials" placeholder="Linkedin Handle" />
    <p>Optionnal*</p></div>
  <label id="label-txtuse">What would you like to use CO * for?</label>
  <div class="input-container">
    <textarea
      required
      id="txtuse"
      data-label="label-txtuse"
      placeholder="Example: I need an assistant to help manage my time"
    ></textarea>
  </div>

  {{! submit button }}
  <div class="btnsave inactive">
    <button id="btnwaitlistinfosubmit" class="button" type="button">SEND</button>
  </div>
</form>
<div class="waitListForm__validation-container">
  <div id="divwaitlisttext" class="divwaitlisttext">
    Thank you for your interest,<br />
    <span>we’ll email you once approved</span>
  </div>
  <div id="divlinklogout" class="divlink">
    <a class="blog-link" href="/blog/" target="_blank">Visit Blog</a>
    <a class="signOut-link" href="#" id="linksignout">Sign Out</a>
  </div>
</div>