.accorSearchBar__calendar-wrapper {
  display: none;
  position: absolute;
  width: 666px;
  min-height: 100px;
  background-color: $backgroundColorGreyPage;
  border-radius: 16px;
  padding: 24px 16px 32px;
  top: calc(100% + 32px);
  z-index: 1;

  .accorSearchBar__calendar-nav {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
    gap: 16px;

    .calendar_nav-item {
      padding: 8px 16px;
      border-radius: 32px;
      font-size: 12px;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.5px;

      &.active {
        background-color: rgba($accorMain, 0.12);
      }

      &:not(.active):hover {
        background: rgba($accorMain, 0.05);
      }
    }
  }

  .date_pick-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 24px;
  }

  .date_picker_calendar {
    position: relative;
    width: 252px;
    min-height: fit-content;
    overflow: hidden;
    padding: 12px;
  }

  .date_picker_calendar {
    border-radius: 15px;
    background-color: inherit;
  }

  .calendar_header {
    width: 100%;
    min-height: 30px;
    /*   background: pink; */
    margin-bottom: 24px;
    color: $accorMain;
    font-weight: 600;
    text-align: center;
  }

  .cal-btn {
    width: 24px;
    height: 24px;
    background-color: rgba($accorMain, 0.24);
    border-radius: 24px;
    display: flex;
    position: absolute;
    top: 50%;
    right: 16px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-out;
    transform: translateY(-50%);

    &:hover {
      background-color: $accorMain;
    }
  }

  .cal-btn img {
    width: auto;
    // height: 100%;
  }

  .cal-btn.back {
    right: unset;
    left: 16px;
    img {
      transform: rotate(180deg);
    }
  }

  .cal_days,
  .calendar_main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    color: $accorMain;
  }

  .cal_days {
    margin-top: 10px;
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 600;

    .cell_wrapper {
      font-size: 12px;
      color: $accorMain;
    }
  }

  .calendar_main {
    grid-template-rows: repeat(5, min(30px));

    .cell_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      position: relative;
      color: rgba($accorMain, 0.24);
      font-size: 10px;
      font-weight: 600;
    }

    .current {
      transition: background-color 0.2s ease-out;
      color: $accorMain;
    }

    .current:not(.active):hover {
      background-color: $accorExtraExtraLight;
    }

    .active {
      background: $accorMain;
      color: white;
      border-radius: 30px;
      outline: 3px solid $accorMain;
    }
  }

  .cal-btn:hover,
  .current:hover {
    cursor: pointer;
  }
}
