.accorPartners__partners-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.accorPartners__partner {
  h3 {
    margin: 32px 0 16px;
  }

  p {
    color: $accorExtraLight;
  }
}

.accorPartners__partner-logo {
  background-color: $backgroundColorGreyPage;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;

  img {
    max-width: 75%;
  }

  &.qatar img {
    max-width: 85%;
  }

  &.europcar img {
    max-width: 100%;
  }

  &.europcar {
    background-color: #0e8102;
  }
}

.accorOffers__container {
  background-color: $accorMain;
  color: $accorSecondary;
  padding: 120px 0;

  h5 {
    color: $accorSecondary;
  }

  h2 {
    margin-bottom: 40px;
  }

  h4 {
    color: white;
    margin-top: 8px;
    line-height: 100%;
  }

  @include media("<phone") {
    .accor__container {
      margin: 0;
    }

    .accorOffers__header {
      padding: 0 clamp(24px, 4vw, 108px);

      h2 {
        max-width: 250px;
      }
    }
  }
}

.accorOffers__bento-container {
  display: grid;
  grid-template-columns: 46% 1fr;
  gap: 32px;
  width: 100%;

  h3,
  p {
    margin-top: 16px;
  }

  .img-container {
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @include media("<phone") {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.accorOffers__main-item {
  h3 {
    max-width: 350px;
  }

  .img-container {
    height: 500px;
  }

  @include media("<phone") {
    h3 {
      max-width: 330px;
    }

    h4 {
      max-width: 262px;
    }

    h3,
    h4 {
      padding: 0 clamp(24px, 4vw, 108px);
    }

    .img-container {
      border-radius: 0;
      height: auto;
      aspect-ratio: square;
    }
  }
}

.accorOffers__items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  column-gap: 24px;
  row-gap: 48px;

  @include media("<phone") {
    grid-template-columns: 1fr;
    padding: 0 clamp(24px, 4vw, 108px);
    row-gap: 32px;
  }
}

.accorOffers__item {
  height: fit-content;

  .img-container {
    height: 209px;
  }
}

.accorOffers__footer {
  margin-top: 142px;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  .accorOffers__newsletter-form {
    background-color: white;
    max-width: 500px;
    color: $accorMain;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-radius: 12px;
    margin-top: 16px;
    padding: 8px 8px 8px 24px;

    input {
      width: 100%;
    }

    button {
      background-color: $accorMain;
      color: white;
      padding: 8px 24px;
      border-radius: 12px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      white-space: nowrap;
      transition: background-color 0.2s ease-out;

      &:hover {
        background-color: $accorLight;
      }
    }
  }

  .accorOffers__contacts li {
    color: white;
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
  }

  .accorOffers__contacts-infos {
    margin-top: 48px;

    ul li {
      font-size: 16px;
      margin-top: 8px;
      font-weight: 500;
    }
  }

  @include media("<phone") {
    margin-top: 60px;
    flex-direction: column;
    gap: 48px;
    padding: 0 clamp(24px, 4vw, 108px);

    .accorOffers__newsletter-form {
      margin-top: 40px;
    }
  }
}

.accorLoyalty__container {
  h2 {
    margin-bottom: 40px;

    @include media("<phone") {
      max-width: 212px;

      span {
        display: block;
        margin-top: 16px;
      }
    }
  }
}

.accorLoyalty__img-container {
  border-radius: 24px;
  overflow: hidden;

  @include media("<phone") {
    margin: 0;
    border-radius: 0;
    height: 439px;
  }

  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}

.accorLoyalty__content {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  border-top: 1px solid $accorExtraExtraLight;
  border-bottom: 1px solid $accorExtraExtraLight;

  @include media("<phone") {
    margin: 32px;
    grid-template-columns: 1fr;
    border: none;
    gap: 0;
  }
}

.accorLoyalty__content-item {
  border-right: 1px solid $accorExtraExtraLight;
  padding: 72px 16px 72px 0;

  &:last-child {
    border-right: none;
  }

  h3 {
    margin-bottom: 24px;
    letter-spacing: 0.5px;
    min-height: 56px;
    max-width: 245px;
  }

  p {
    color: $accorLight;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    min-height: 72px;
  }

  a {
    margin-top: 28px;
    text-decoration: underline;
  }

  @include media("<phone") {
    padding: 32px 0 40px;
    border-bottom: 1px solid $accorExtraExtraLight;
    border-right: none;

    h3 {
      min-height: auto;
    }

    p {
      min-height: auto;
    }
  }
}

.accorLive__container {
  h2 {
    text-align: center;
    margin: 0 0 40px;

    @include media("<phone") {
      text-align: left;
    }
  }

  .accorLive__links {
    li {
      padding: 40px 0;
      border-bottom: solid 1px $accorExtraExtraLight;
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0.5px;

      @include media("<phone") {
        font-size: 20px;
      }
    }
  }
}
