.accorHotels__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 32px; // Vertical gap
  margin-top: 40px;

  @include media("<desktop") {
    width: fit-content;
    grid-template-columns: repeat(2, 343px);
    margin: 40px auto;
  }

  @include media("<tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media("<phone") {
    grid-template-columns: 1fr;
  }
}

.accorHotels__hotel-card {
  height: 343px;
  background-color: $backgroundColorGreyPage;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .slider-container {
    flex: none;
    position: relative;

    height: 200px;

    .slider {
      position: static;
      display: flex;
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      // height: 100%;
    }
  }

  .slider-nav {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 6px;
    z-index: 1;

    .image-nav-indicator {
      height: 8px;
      width: 8px;
      border-radius: 8px;
      background-color: white;
      opacity: 0.6;
      transform: translate3d(-50%, 0, 0);
      transition: opacity ease-out 0.2s;

      &.active {
        opacity: 1;
      }
    }
  }

  .slider-nav-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;

    &.forward {
      right: 20px;
      left: auto;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .slider-img {
    flex: none;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      // opacity: 0;
      object-position: center;
    }
  }
  .content-container {
    padding: 8px 24px 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      color: $accorMain;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      letter-spacing: 0.8px;
      margin-bottom: 4px;
    }

    .hotel-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .star-icon {
      width: 10px;
    }

    .hotel-ratings {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.4px;
      gap: 8px;

      span {
        font-weight: 500;
        color: rgba($accorMain, 0.4);
      }
    }

    .hotel-location {
      display: flex;
      align-items: center;
      gap: 8px;
      .location-icon {
        height: 12px;

        img {
          height: 100%;
        }
      }
    }

    .hotel-footer {
      display: flex;
      justify-content: space-between;
      align-items: end;

      .hotel-price {
        position: relative;

        p {
          font-size: 40px;
          font-weight: 600;
          letter-spacing: 1px;

          span {
            font-size: 16px;
            letter-spacing: 0.8px;
          }
        }

        .reduction {
          position: absolute;
          top: 0;
          right: 12px;
          text-decoration: line-through;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          letter-spacing: 0.8px;
        }
      }

      .hotel-cta {
        padding: 12px 29px;
        background-color: $accorMain;
        color: white;
        border-radius: 12px;
      }
    }
  }
}

.accorHotels__more-btn {
  padding: 10px 27px;
  border: solid 2px $accorMain;
  border-radius: 12px;
  margin: 48px auto 0;
}

.accorHotels__bg-img-container {
  position: relative;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: url("/images/accor/bg-islands.png");
  background-position: center;
  background-size: cover;

  p {
    margin-left: min(15vw, 220px);
    position: inherit;
    z-index: 1;
    font-size: clamp(48px, 10vw, 96px);
    font-weight: 600;
    line-height: clamp(60px, 12vw, 100px);
    letter-spacing: 0.5px;
    color: white;

    @include media("<phone") {
      margin-left: 24px;
    }
  }
}

.accorBreaks {
  h5 {
    padding-top: 10px;
  }
}

.accorBreaks__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 32px;

  @include media("<tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media("<phone") {
    grid-template-columns: 1fr;
  }
}

.accorBreaks__item {
  border-radius: 16px;
  overflow: hidden;
}

.accorBreaks__item-location {
  height: 200px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: white;
  }
}

.accorBreaks__item-footer {
  background-color: rgba(248, 246, 242, 1);
  padding: 8px 0 16px;

  p {
    text-align: center;
  }

  .accorBreaks__item-price {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
  }

  .accorBreaks__item-currency {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.800000011920929px;
  }
}
