.accorHotels__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 32px; // Vertical gap
  margin-top: 40px;
}

.accorHotels__hotel-card {
  height: 343px;
  background-color: $backgroundColorGreyPage;
  border-radius: 16px;
}

.accorHotels__more-btn {
  padding: 10px 27px;
  border: solid 2px $accorMain;
  border-radius: 12px;
  margin: 48px auto 0;
}

.accorHotels__bg-img-container {
  position: relative;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  display: flex;
  align-items: center;

  p {
    margin-left: min(15vw, 220px);
    position: inherit;
    z-index: 1;
    font-size: 96px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 0.5px;
    color: white;
  }
}

.accorHotels__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100svh;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.accorBreaks {
  h5 {
    padding-top: 10px;
  }

  h2 {
    margin-top: 24px;
  }
}

.accorBreaks__container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.accorBreaks__item {
  border-radius: 16px;
  overflow: hidden;
}

.accorBreaks__item-location {
  height: 200px;
  background-image: url("/public/images/accor/bg-islands.png"); // will be set through js later
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: white;
  }
}

.accorBreaks__item-footer {
  background-color: rgba(248, 246, 242, 1);
  padding: 8px 0 16px;

  p {
    text-align: center;
  }

  .accorBreaks__item-price {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1px;
  }

  .accorBreaks__item-currency {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.800000011920929px;
  }
}
