.accorSearchBar__calendar-wrapper {
  display: none;
  position: absolute;
  top: calc(100% + 32px);
}

.accorSearchBar__calendar-bg {
  position: fixed;
  inset: 0;
  background-color: rgba(white, 0.65);
  z-index: 0;
}

.accorSearchBar__calendar {
  position: relative;
  width: 666px;
  min-height: 100px;
  background-color: $backgroundColorGreyPage;
  border-radius: 16px;
  padding: 24px 16px 32px;
  z-index: 1;

  @include media("<tablet") {
    width: 632px;
  }

  @include media("<phone") {
    width: 100vw;
    padding: 24px 16px;
    border-radius: 0;
  }

  .accorSearchBar__calendar-nav {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
    gap: 16px;

    .calendar_nav-item {
      padding: 8px 16px;
      border-radius: 32px;
      font-size: 12px;
      line-height: 16px; /* 133.333% */
      letter-spacing: 0.5px;

      &.active {
        background-color: rgba($accorMain, 0.12);
      }

      &:not(.active):hover {
        background: rgba($accorMain, 0.05);
      }
    }
  }

  .years_pick-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 00;

    color: $accorMain;
    font-size: 12px;
    line-height: 16px; /** 133.333% */
    letter-spacing: 0.5px;
    font-weight: 600;

    &.months {
      display: block;
      margin: 6px 100px 12px;

      @include media("<phone") {
        margin: 6px 0 12px;
        text-align: center;
      }
    }

    .unactive {
      color: rgba($accorMain, 0.12);
    }

    .selected {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .date_pick-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

    @include media("<tablet") {
      gap: 24px;
    }
  }

  &.months .date_pick-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin: 0 100px;

    @include media("<phone") {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }

  .date_picker_calendar {
    position: relative;
    width: 252px;
    min-height: fit-content;
    overflow: hidden;
    padding: 4px;
  }

  .date_picker_calendar {
    border-radius: 15px;
    background-color: inherit;
  }

  .calendar_header {
    width: 100%;
    margin-bottom: 24px;
    color: $accorMain;
    font-weight: 600;
    text-align: center;
  }

  .cal-btn {
    width: 24px;
    height: 24px;
    background-color: rgba($accorMain, 0.24);
    border-radius: 24px;
    display: flex;
    position: absolute;
    top: 50%;
    right: 16px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-out;
    transform: translateY(-50%);

    &:hover {
      background-color: $accorMain;
    }
  }

  .cal-btn img {
    width: auto;
    // height: 100%;
  }

  .cal-btn.back {
    right: unset;
    left: 16px;
    img {
      transform: rotate(180deg);
    }
  }

  .cal_days,
  .calendar_main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    color: $accorMain;
  }

  .cal_days {
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 600;

    .cell_wrapper {
      text-align: center;
      font-size: 12px;
      line-height: 36px;
      color: $accorMain;
    }
  }

  .calendar_main {
    grid-template-rows: repeat(5, min(30px));

    .cell_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      position: relative;
      color: rgba($accorMain, 0.24);
      opacity: 0;
      pointer-events: none;
      font-size: 10px;
      font-weight: 600;
    }

    .current {
      transition: background-color 0.2s ease-out;
      color: $accorMain;
      opacity: 1;
      pointer-events: auto;
    }

    .current:not(.active):hover {
      background-color: $accorExtraExtraLight;
    }

    .inactive {
      color: rgba($accorMain, 0.24);
    }

    .active {
      position: relative;
      background: $accorMain;
      color: white;
      border-radius: 30px;

      &:after {
        $outlineWidth: 2px;

        content: "";
        position: absolute;
        top: -$outlineWidth; // border: 2px + offset: 1px
        right: -$outlineWidth; // border: 2px + offset: 1px
        bottom: -$outlineWidth; // border: 2px + offset: 1px
        left: -$outlineWidth; // border: 2px + offset: 1px
        border: $outlineWidth solid $accorMain;
        border-radius: 30px;
      }
      // outline: 3px solid $accorMain;
    }
  }

  .cal-btn:hover,
  .current:hover {
    cursor: pointer;
  }

  &.months {
    .accorSearchBar__calendar-nav {
      margin-bottom: 0;
    }

    .date_picker_calendar {
      width: 100%;
      padding: 8px 12px 12px;
      background-color: rgba($accorMain, 0.04);
      cursor: pointer;

      &:hover {
        background-color: rgba($accorMain, 0.12);
      }

      @include media("<phone") {
        width: 108px;
      }

      .calendar_header {
        margin-bottom: 10px;
        font-size: 12px;

        .year {
          display: none;
        }
      }

      .cal_days {
        margin-top: 0;
        margin-bottom: 0;
        .cell_wrapper {
          font-size: 6px;
          line-height: 12px;
        }
      }

      .calendar_main {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 12px);
        row-gap: 0;
        column-gap: 0;

        .cell_wrapper {
          font-size: 6px;
          line-height: 12px;
          pointer-events: none;
        }

        .cell_wrapper.current {
          color: $accorMain;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}
