$expandedSearchBarWidth: min(763px, 50vw);

.accorNavbar__container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 20px 24px 32px;
  overflow: hidden;

  @include media("<tablet") {
    grid-template-columns: 1fr;
  }
}

.accorNavbar__item {
  grid-column: span 2;
  display: flex;
  align-items: center;
}

.accorNavbar__logo {
  width: 80px;
  padding: 8px 10px;
  margin-left: 16px;
  @include media("<tablet") {
    display: none;
  }
}

.accorNavbar__navlist {
  justify-content: end;
  gap: 8px;

  li {
    text-wrap: nowrap;
    padding: 6px 16px;
  }

  @include media("<tablet") {
    display: none;
  }
}

// SEARCH BAR COMPONENT
.accorNavbar__mainBar {
  display: flex;
  gap: 24px;
}

.accorSearchBar__wrapper {
  position: relative;
  grid-column: span 6;
  justify-content: center;
  min-height: 60px;
}

.accorSearchBar__item-container {
  position: relative;
  border-radius: 60px;
  padding: 10px 10px 10px 24px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);

  & > * {
    align-self: center;
  }
}

// MINIMIZED STATE
.minimized {
  .accorSearchBar__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .accorSearchBar__write-btn {
    display: block;
  }

  .accorSearchBar__expand-btn span {
    display: block;
  }

  .accorSearchBar__expand-btn:hover span {
    opacity: 1;
    pointer-events: auto;
  }
}

// TEXT-INPUT STATE
.text-input {
  .accorSearchBar__container {
    display: flex;
    gap: 8px;
    min-width: $expandedSearchBarWidth;
  }

  .accorSearchBar__write-btn {
    display: none;
  }

  .accorSearchBar__expand-btn {
    display: none;
  }

  .accorSearchBar__text-input-container {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.800000011920929px;

    input {
      width: 100%;
    }
  }

  .accorSearchBar__action-btn {
    .phone-icon {
      display: none;
    }

    .arrow-icon {
      display: block;
    }
  }
}

// STANDARD-OPTIONS STATE
.standard-options {
  .accorSearchBar__container {
    display: flex;
    justify-content: space-between;
    width: $expandedSearchBarWidth;
  }

  .accorSearchBar__write-btn {
    display: block;
  }

  .accorSearchBar__expand-btn {
    position: absolute;
    left: calc(94px + 5%);
    img {
      transform: rotate(-180deg);
    }
  }

  .standard-input {
    display: block;
    opacity: 0;
  }
}

// Elements present on several states
.accorSearchBar__write-btn {
  display: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: left;

  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $accorExtraLight;
  }
}

.accorSearchBar__text-input-container {
  display: none;
}

.accorSearchBar__input-btn {
  display: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: left;

  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $accorExtraLight;
  }
}

.accorSearchBar__action-btn {
  background-color: $accorLight;
  width: 40px;
  height: 40px;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  justify-self: end;
  border-radius: 50px;
  transition: background-color 0.2s ease-out;

  img {
    width: 16px;
  }

  .arrow-icon {
    display: none;
    width: 18px;
  }

  &:hover {
    background-color: $accorMain;
  }
}

.accorSearchBar__expand-btn {
  position: relative;
  background-color: rgba(18, 17, 49, 0.24);
  border-radius: 50px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: background-color 0.2s ease-out;

  img {
    width: 10px;
  }

  span {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(100% + 8px);
    transform: translateY(-50%);
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0.5px;
    color: $accorMain;
    transition: opacity 0.2s 0.1s ease-out;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    background-color: $accorMain;
  }
}

.switch-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $accorLight;
  transition: color 0.2s ease-out;

  &:hover {
    color: $accorMain;
  }
}

// SECONDARY BARS (ADVANCED AND CALL)
.accorBar__secondaryBar {
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  // opacity: 0.5;
  display: flex;
  justify-content: center;
}

// ADVANCED BAR
.accorBar__advancedBar-wrapper {
  display: flex;
  gap: 16px;

  &.none {
    display: none;
  }
}

.accorSearchBar__advancedBar {
  position: relative;
  background-color: white;
  border-radius: 60px;
  padding: 10px 10px 10px 24px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);
  width: $expandedSearchBarWidth;
  display: flex;
  justify-content: space-between;

  & > * {
    align-self: center;
  }

  .advanced-input {
    display: block;
  }
}

// CALL BAR
.accorSearchBar__phoneBar {
  display: flex;
  padding-top: 10px;
  align-items: center;
  gap: 86px;

  &.none {
    display: none;
  }

  &.absolute {
    position: absolute;
    top: 200px;
  }

  .phone-bar__container {
    .phone__container {
      height: 12px;

      // padding: 0;
      position: static;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .phone__bottom {
      margin-top: 12px;
      overflow: auto;
      p {
        font-size: 12px;
        color: $accorLight;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px; /* 120% */
        letter-spacing: 0.5px;
      }
    }
  }

  .accorSearchBar__action-btn {
    background-color: #fe5858;
    transition: background-color 0.2s ease-out;

    img {
      transform: rotate(-135deg);
    }

    &:hover {
      background-color: #ff0000;
    }
  }
}
