.divwaitlist {
  display: none;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; // backup for browsers that don't support 100vh
  min-height: 100svh;
  color: $colorBlueText;
  background-color: white;
  padding: 30px 24px 90px;

  .divlink {
    margin: 0;
  }
}

.divwaitlistform {
  display: flex;
  flex-direction: column;
  max-width: 718px;
  width: 100%;
  margin: 0 auto;
  // text-align: center;
  border-radius: 16px !important;
  padding: 16px;
  font-feature-settings: "liga" off;
  font-family: "SFPro";
  font-size: 24px-;
  font-style: normal;
  font-weight: 450;
  line-height: 32px;
  letter-spacing: 1px;
  // margin-bottom: 48px;

  @include media("<maximum") {
    max-width: 552px;
  }

  @include media("<tablet") {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  h3 {
    white-space: pre-wrap;
    text-wrap: wrap;
    text-wrap: balance;
    color: $colorBlueText;
    font-size: 32px;
    line-height: 36px; /* 112.5% */
    letter-spacing: 0.5px;

    letter-spacing: 0.5px;
    margin-bottom: 32px;

    span {
      background: linear-gradient(90deg, #007aff 0%, #ad00ff 51%, #00bad3 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // animation: gradient 2s ease-out infinite;
    }

    &:last-of-type {
      margin-top: 16px;
    }

    @include media("<maximum") {
      font-size: 24px;
      line-height: 28px; /* 116.667% */
      margin-bottom: 28px;
    }
  }

  label {
    white-space: pre-wrap;
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 20px;
    line-height: 24px; /* 120% */

    &:first-of-type {
      margin-top: 0;
    }

    &.active {
      color: #007aff;
    }

    &:focus {
      color: red;
    }

    @include media("<maximum") {
      margin-top: 0;
      font-size: 16px;
      line-height: 20px; /* 125% */
      margin-bottom: 8px;
    }
  }

  input,
  textarea {
    outline: none;
    border: 1px solid rgba($colorBlueText, 0.24);
    background: rgba($colorBlueText, 0.03);
    border-radius: 8px;
    width: 100%;
    padding: 16px 25px 16px 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: 0.5px;

    &::placeholder {
      color: rgba($colorBlueText, 0.4);
    }

    &:focus {
      border: 1px solid #007aff;
    }

    @include media("<maximum") {
      font-size: 12px;
      padding: 12px 8px 12px 12px;
      line-height: 16px; /* 133.333% */
    }
  }

  .input-container {
    position: relative;
    margin-bottom: 16px;

    p {
      top: 26px;
      position: absolute;
      right: 25px;
      color: rgba($colorBlueText, 0.4);
      font-size: 12px;
      font-weight: 500;
      line-height: 100%; /* 133.333% */
      letter-spacing: 0.5px;
      transition: opacity ease-out 0.1s;
      transform: translate(0, -50%);

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }

      @include media("<maximum") {
        top: 21px;
        right: 16px;
      }
    }
  }

  textarea {
    min-height: 116px;
  }

  .btnsave {
    margin-top: 40px;
    align-self: center;
    background-color: rgba(#007aff, 0.6);
    background-color: #007aff;
    padding: 10px 24px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.6px;
    transition: background-color 0.3s ease-in;

    &.inactive {
      cursor: not-allowed;
      background-color: rgba(#007aff, 0.6);

      button {
        cursor: not-allowed;
      }
    }

    &.active:hover {
      background-color: #006ee4;
    }

    @include media("<maximum") {
      margin-top: 20px;
    }
  }
}

.error {
  border: 2px solid red !important;
}

// ---- VALIDATION MESSAGE ----
.waitListForm__validation-container {
  padding-top: 96px;

  .divwaitlisttext {
    color: $colorBlack;
    text-align: center;
    font-family: "SFPro";
    font-size: clamp(20px, 5vw, 80px);
    font-weight: 600;
    line-height: 105%; /* 105% */
    letter-spacing: 0.5px;
    margin-bottom: 60px;
    white-space: normal;
    text-wrap: balance;

    @include media("<desktop") {
      margin-bottom: 48px;
    }

    @include media("<tablet") {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px; /* 120% */

      span {
        margin-top: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; /* 120% */
        letter-spacing: 0.5px;
      }
    }
  }

  .divlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1px;
    gap: 32px;

    * {
      padding: 18px 62px;
    }

    @include media("<tablet") {
      font-size: 16px;
      gap: 16px;
      line-height: 20px;
    }

    .blog-link {
      --r: 30px; /* radius */
      --b: 5px; /* border width */

      background: linear-gradient(90deg, #003876 0%, #007aff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      border-radius: var(--r);
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border: var(--b) solid transparent;
        border-radius: var(--r);
        background: inherit;
        background-origin: border-box;
        background-clip: border-box;
        -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        -webkit-mask-repeat: no-repeat;
      }
      /**/
      &:hover {
        color: #fff;
        -webkit-text-fill-color: #fff;
        -webkit-background-clip: border-box;
        background-clip: border-box;
      }

      &:hover::before {
        -webkit-mask: none;
      }

      @include media("<tablet") {
        padding: 10px 30px;
      }
    }

    .signOut-link {
      color: $colorBlueText;
      border-radius: 30px;
      transition: all ease-out 0.1s;

      &:hover {
        background-color: $colorBlueText;
        color: white;
      }

      @include media("<tablet") {
        padding: 10px 30px;
      }
    }
  }
}
