.heroBentoGrid__container {
  position: fixed;
  inset: 0;
  z-index: 3;
  font-family: "SFPro";
}

.heroBentoGrid__wrapper {
  max-width: $maxWidth;
  padding: 160px 0 0;
  margin: 0 auto;

  h1 {
    margin: 0 0 24px;
    color: $colorMain;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 60px */
    letter-spacing: -0.4px;

    span {
      font-weight: 300;
      mix-blend-mode: overlay;
    }
  }

  h3 {
    margin: 0;
    color: $colorMain;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
  }

  h4 {
    margin: 0;
    color: $colorMain;
    font-size: 9px;
    font-weight: 600;
    line-height: 14px; /* 155.556% */
  }

  p {
    margin: 6px 0 0;
    color: $colorGrey;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
  }
}

.heroBentoGrid__grid {
  $bentoGap: 4px;
  $bentoWidth: 160px;

  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: $bentoGap;

  .heroBentoGrid__grid-item {
    padding: 20px 24px;
    background-color: rgba(248, 248, 248, 0.5);
    max-height: 160px;
    border: 0.5px solid rgba($colorLight, 0.4);
    border-radius: 20px;
    filter: drop-shadow(0px 10px 30px rgba(55, 69, 108, 0.04));
  }

  .square-item {
    grid-column: span 13;
    grid-row: span 3;
  }

  .wide-item {
    display: flex;
    justify-content: space-between;
    grid-column: span 34;
    grid-row: span 3;
  }

  .high-item {
    grid-row: span 6;
    grid-column: span 13;
    max-height: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wide-item.travel-item {
    padding: 16px 24px;

    .feature-box {
      max-width: 212px;
      padding-top: 4px;
    }
  }

  .feature-box {
    max-width: 215px;

    p {
      margin-top: 26px;
    }
  }

  .feature-illustration.cards {
    position: relative;
    .floating-card {
      position: relative;
      z-index: 1;
      background-color: $colorLight;
      width: 90px;
      height: 90px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;

      p {
        color: $colorGrey;
        font-size: 9px;
        font-weight: 400;
        line-height: 14px;

        span {
          color: $colorMain;
          font-weight: 600;
        }
      }
    }

    .floating-card__avatar-wrapper {
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0 auto;

      img {
        border-radius: 30px;
        width: 100%;
        object-fit: cover;
      }

      .floating-card__more-button {
        position: absolute;
        top: 0;
        left: 60%;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #edeef0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 500;
        line-height: 20px; /* 200% */
      }
    }

    .shadow-floating-card {
      position: absolute;
      top: 22.89px;
      right: 32.89px;
      transform: rotate(-15deg);
      opacity: 0.5;
      z-index: 0;
      box-shadow: 0px 8px 16px 0px rgba(144, 147, 169, 0.08);

      justify-content: end;

      p {
        margin-top: 0;
      }
    }
  }

  .feature-illustration.travel-pictures {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;

    .travel-picture:first-of-type {
      position: absolute;
      top: 24px;
      left: 0px;
      width: min(40%, 56px);
    }

    .travel-picture:nth-of-type(2) {
      position: absolute;
      bottom: 0;
      left: 48px;
      width: min(35%, 48px);
    }

    .travel-picture:nth-of-type(3) {
      width: min(50%, 79px);
    }
  }

  .feature-illustration.conversation-widget {
    position: relative;
    box-sizing: content-box;
    height: 94px;
    width: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 10px solid rgba(255, 255, 255, 0.22);
    border-radius: 50px;

    p {
      color: $colorMain;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px; /* 112.5% */
    }

    .mic-icon {
      width: 24px;
    }
  }
}
