.image-drop-zone,
.img-dropped {
  pointer-events: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.image-drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: $backgroundColor;
  transition: opacity 0.3s ease-in-out;
  &.hovered {
    opacity: 1;
  }

  .input-image {
    display: none;
  }
}

.img-dropped {
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid red;
  }
}
