.input__container {
  $borderRadius: 24px;

  position: relative;
  margin-bottom: 28px;
  border-radius: $borderRadius;
  width: 100%;
  overflow: hidden;

  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;

  // Grey page
  &.grey {
    .input__front {
      background: $backgroundColorGreyPage;
      box-shadow: unset;
      border: 4px solid #dee0e1;
      font-family: "Noto Sans";

      path,
      circle {
        stroke: $colorBlackForGreyPage;
      }
    }

    .input__image--container {
      .icon-file-upload {
        background-color: $backgroundColorGreyPage;

        path:not(:first-child) {
          stroke: $colorBlackForGreyPage;
        }
        rect {
          fill: $colorBlackForGreyPage;
        }
      }
      .input__image {
        background-color: $backgroundColorGreyPage;
        font-family: "Noto Sans";
      }
    }

    .input__back {
      border: 4px solid #dee0e1;
      background-color: $backgroundColorGreyPage;
      border-radius: 24px;

      .input__controls {
        .left {
          .camera-btn {
            path,
            circle,
            rect {
              stroke: $colorBlackForGreyPage;
            }
          }
          .mic-btn {
            path {
              fill: $colorBlackForGreyPage;
            }
            rect {
              stroke: $colorBlackForGreyPage;
            }
          }
        }
        .right {
          path {
            fill: $backgroundColorGreyPage;
          }
        }
      }
      .input__controls {
        background-color: $backgroundColorGreyPage;
      }
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  @include media("<tablet") {
    margin-bottom: 10px;
    margin: 0 16px 10px;
  }

  .record-counter {
    color: $colorBlack;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    visibility: hidden;
    opacity: 0;
  }

  .input__front {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.091);

    border-radius: $borderRadius;
    padding: 4px 16px;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: space-between;
    background: $colorMain;

    max-width: 100vw;
    overflow: hidden;

    // initial height used for animation
    height: 48px;

    .camera-btn {
      position: relative;
      .icon-upload {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }

      &.active-imagedrop {
        .icon-upload {
          opacity: 1;
        }
      }
    }

    .center-btn {
      color: rgba($colorBlack, 0.5);
      font-size: 20px;
      flex: 1;
      @media (max-height: 780px) {
        font-size: 18px;
      }
    }
  }

  .input__back {
    position: relative;

    background-color: $colorMain;
    padding: 16px;

    pointer-events: none;
    opacity: 0;
  }

  .input-text__expand {
    @include inputTextExpand {
      max-height: calc(15 * 20px);
      margin-bottom: 8px;
      font-family: "Noto Sans";
      // font: inherit;
      font-size: 20px;

      @media (max-height: 780px) {
        max-height: calc(10 * 20px);
      }

      @include media("<tablet") {
        font-size: 18px;
      }
    }

    &.height-imageQuestions {
      @include inputTextExpand {
        max-height: calc(5 * 20px);
      }
    }
  }

  .input__controls {
    background-color: $colorMain;
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
    }

    .left {
      gap: 8px;

      .mic-btn__container {
        display: flex;
        align-items: center;
        color: red;
        font-size: 14px;

        p {
          visibility: hidden;
        }
        &.active {
          p {
            visibility: visible;
          }
          path {
            fill: red;
          }
          rect {
            stroke: red;
          }
        }
      }
    }

    .submit {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      // background: $colorBlue;
      background: rgba($colorBlack, 0.8);
      border-radius: 50%;

      &:disabled {
        background: $colorGrey;
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
