.logo__main {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.logo__mobile {
  position: fixed;
  top: $paddingTop;
  left: 32px;
  opacity: 0;
  display: none;

  @include media("<tablet") {
    display: block;
  }
}
