.nav {
  position: fixed;
  z-index: 3;
  top: calc($paddingTop - 12px);
  right: $paddingHor;

  //   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  //   transition-delay: 500ms;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
  }

  .logo {
    display: none;
  }

  rect {
    transition: fill 1s ease-in-out;
  }

  circle,
  path {
    transition: stroke 1s ease-in-out;
  }

  &.dark {
    rect {
      fill: #00254e;
    }
  }

  .nav__list {
    .nav__icon {
      &:hover {
        path {
          fill-opacity: 1;
          stroke-opacity: 1;
        }
      }
    }

    .nav__languages button {
      padding: 10px;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  @include media("<tablet") {
    left: 0;
    right: 0;
    top: 0;
    height: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Adjust the blur radius as needed */
    padding: $paddingTopMobile $paddingHorMobile;

    .logo {
      padding: 4px 6px;
      display: flex;
      transform: scale(0.7);
      border-radius: 12px;
      align-items: center;
      overflow: hidden;
      backdrop-filter: blur(10px);
      background-color: #f8f6f272;
    }
  }

  .nav__btn {
    position: relative;
    z-index: 1;
    pointer-events: auto;

    .lines-icon {
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    @include media("<tablet") {
      border-radius: 12px;
      backdrop-filter: blur(10px);
      background-color: #f8f6f272;
    }
  }

  .nav__list {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    li {
      margin-top: 40px;
    }
    button:hover {
      background: rgba($colorMain, 0.2);
      border-radius: 50%;
    }

    @include media("<tablet") {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: scroll;
      background-color: $backgroundColorGreyPage;
      padding-top: 100px;

      svg {
        width: 80px;
        height: 80px;
      }

      .nav__languages button {
        padding: 24px;

        svg {
          height: auto;
          width: 32px;
        }
      }
    }

    &.show {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
    }
  }
}
