.nav {
  position: fixed;
  z-index: 3;
  top: $paddingTop;
  right: $paddingHor;
  height: 100%;

  @include media("<tablet") {
    right: $paddingHorMobile;
    top: $paddingTopMobile;
    height: unset;
  }

  .nav__btn {
    position: relative;
    z-index: 1;
    pointer-events: auto;

    .lines-icon {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
  }

  .nav__list {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    li {
      margin-top: 40px;
    }
    button:hover {
      background: rgba($colorMain, 0.2);
      border-radius: 50%;
    }

    @include media("<tablet") {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $backgroundColor;
    }

    &.show {
      pointer-events: auto;
      visibility: visible;
      opacity: 1;
    }
  }
}
