$zIndex: 1;
$backgroundTaskManager: #f0efec;
$taskMainColor: $colorBlueText;
$taskSecondaryColor: #007aff;

.task-manager__container {
  font-family: "Noto Sans", sans-serif;
  position: fixed;

  top: 100dvh;
  top: 100vh; // fallback
  left: 0;
  right: 0;
  z-index: $zIndex;
  overflow-y: scroll;
  background-color: $backgroundTaskManager;
  color: $taskMainColor;
  transition: opacity 0.3s $ease-out;

  @include media("<phone") {
    -webkit-overflow-scrolling: touch;
  }

  .task-manager__header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 8px;
    display: flex;
    background-color: $backgroundTaskManager;
    justify-content: space-between;
    align-items: center;

    h2 {
      display: none;
    }

    .relative {
      position: relative;

      @include media("<tablet") {
        display: none;
      }
    }

    .icon {
      padding: 8px;
      border-radius: 24px;
      transition: opacity 0.3s $ease-out;

      img {
        width: 100%;
      }

      &:hover {
        background-color: rgba($colorBlueText, 0.06);
      }

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }

    .task-manager__closing-icon {
      padding: 13px;

      &:hover {
        background-color: rgba($colorBlueText, 0.06);
      }
    }

    .task-manager__closeFullscreen-icon {
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
}

.task-manager__content {
  padding: 20px 24px;

  h2 {
    padding-left: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.6px;
    margin-bottom: 40px;
  }

  .task-manager__accordion-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding-left: 16px;
  }

  .task-manager__accordion {
    border-radius: 16px;
    background-color: rgba($colorBlueText, 0.03);

    .task-manager__accordion-header {
      padding: 14px 16px;
      font-weight: 500;
      border-radius: 16px;
      display: flex;
      gap: 8px;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
        white-space: nowrap;

        @include media("<phone") {
          font-size: 14px;
          line-height: 18px; /* 128.571% */
        }
      }

      &.active {
        .task-manager__accordion-chevron {
          transform: rotate(180deg);
        }
      }

      div {
        flex: none;
        display: flex;
        align-items: center;
        gap: 16px;
      }

      .task-manager__status-pill {
        font-size: 14px;
        padding: 5px 30px;
        border-radius: 32px;
        color: white;
        transition: background-color 0.3s $ease-out;

        &.clickable {
          &:hover {
            background-color: #0059bb !important;
          }
        }
      }

      .task-manager__accordion-chevron {
        width: 20px;
        margin: 0 10px;
        transition: transform 0.3s $ease-out;

        path {
          stroke: rgba($colorBlueText, 0.6);
        }

        &.hidden {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    .task-manager__accordion-panel {
      padding: 0 16px;
      overflow: hidden;
      font-size: 16px;
      max-height: 0;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.6px;
      transition: all 0.3s ease-in-out;
      position: relative;

      .task-manager__delete-btn {
        background: #fe5858;
        // margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 24px;
        border-radius: 40px;
        padding: 6px 12px;
        font-size: 12px;
        color: white;
        float: right;

        &.hidden {
          display: none;
        }
      }

      .task-manager__status-container {
        margin: 10px 0 16px;
        line-height: 20px;
        font-size: 16px;

        .task-manager__status-title {
          font-weight: 600;
          letter-spacing: 0;
        }

        .task-manager__status-description {
          font-weight: 500;
          letter-spacing: 0.5px;
        }

        &:last-of-type {
          color: $taskSecondaryColor;
        }

        @include media("<phone") {
          font-size: 14px;
          line-height: 18px; /* 128.571% */
        }
      }

      .task-manager__input-container {
        display: flex;
        margin-top: 40px;
        border-radius: 24px;
        padding: 8px 8px 8px 24px;
        width: 100%;
        background-color: white;
        gap: 8px;

        @include media("<phone") {
          padding: 8px 8px 8px 16px;
        }

        button {
          flex: none;
          height: 26px;
          width: 26px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba($colorBlueText, 0.24);

          img {
            width: 11.23px;
          }

          &:hover {
            background-color: $colorBlueText;
          }
        }
      }

      .task-manager__input {
        width: 100%;
        color: $colorBlueText;
      }

      .task-manager__status-title {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }

    .task-manager__accordion-panel-divider {
      height: 2px;
      width: 100%;
      background-color: rgba($colorBlueText, 0.08);
      margin: 8px 0;
    }
  }
}

// ------ fullscreen version ------
.task-manager__container.fullscreen {
  border-radius: 0;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;

  .task-manager__header {
    padding: 48px 48px 24px;
  }

  .task-manager__content {
    max-width: 872px;
    margin: 0 auto;

    h2 {
      padding-left: 0;
      font-size: 40px;
      line-height: 48px;
      font-weight: 500;
      margin-bottom: 60px;
    }
  }

  @include media("<phone") {
    .task-manager__header {
      h2 {
        display: block;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.6px;
        padding-left: 16px;

        @include media("<tablet") {
          padding-left: 24px;
        }
      }
    }

    .task-manager__content {
      h2 {
        display: none;
      }
    }
  }

  @include media("<phone") {
    .task-manager__header {
      padding: 44px 16px 40px;
    }

    .task-manager__content .task-manager__accordion-header {
      font-size: 14px;

      div {
        gap: 8px;
      }

      .task-manager__status-pill {
        font-size: 12px;
        padding: 4px 12px;
        border-radius: 32px;
        color: $colorMain;
      }
    }

    .task-manager__content .task-manager__accordion-panel-divider {
      display: none;
    }
  }
}

.task-manager__notification-container {
  position: fixed;
  top: 80px;
  left: calc((100vw - $maxWidth) / 2);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  overflow: hidden;
  background-color: rgb(224, 149, 2);
  cursor: pointer;
  z-index: $zIndex;

  &.hidden {
    opacity: 0;
    // pointer-events: none;
  }

  @include media("<desktop") {
    left: 24px;
  }

  @include media("<phone") {
    top: 60px;
  }

  .task-manager__notification-closeBtn {
    background-color: rgba(255, 255, 255, 0.33);
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      opacity: 0;
      width: 9px;
      height: 9px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .task-manager__notification-label {
    position: absolute;
    height: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    top: 0px;
    left: 202%;
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.5px;
    overflow: hidden;
    max-width: 350px;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include media("<phone") {
      max-width: 200px;
    }
  }
}

.task-manager__notification-container.expanded {
  width: auto;
  padding: 0 8px 0 16px;

  .task-manager__notification-closeBtn svg {
    opacity: 1;
  }

  .task-manager__notification-label {
    position: static;
    background-color: transparent;
  }
}
