$zIndex: 1;

.task-manager__container {
  font-family: "Noto Sans", sans-serif;
  position: fixed;
  inset: 0;
  z-index: $zIndex;
  overflow-y: scroll;
  transition: opacity 0.3s $ease-out;

  @include media("<phone") {
    -webkit-overflow-scrolling: touch;
  }
}

.task-manager__content {
  position: relative;
  max-width: $maxWidth;
  margin: 50px auto 0;

  @include media("<tablet") {
    padding: 0 $paddingHorMobile;
  }
}

.task-manager__tasks-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 0;

  @include media("<tablet") {
    grid-template-columns: repeat(1, 1fr);
  }
}

// ------ Task Card : CARD VIEW------
.task-manager__task-card {
  width: 100%;
  border-radius: 24px;
  padding: 20px;
  background-color: rgba($grey-1, 0.5);
  border: 0.5px solid rgba($grey-1, 0.4);
  box-shadow: 0px 10px 30px 0px rgb(55, 69, 108, 0.04);
  cursor: pointer;

  .card-state {
    display: flex;
    gap: 20px;
    min-height: 160px;
  }

  .fullscreen-state {
    display: none;
  }
}

.task-manager__task-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
  }

  .task-manager__task-status {
    width: fit-content;
    background: linear-gradient(70deg, rgba(116, 225, 30, 0.3) -10.29%, rgba(28, 204, 227, 0.3) 105%);
    border-radius: 72px;
    padding: 4px 12px;
  }

  .task-manager__task-status-label {
    color: $colorMain;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 153.846% */
    letter-spacing: 0.5px;
    mix-blend-mode: color-burn;
  }
}

.task-manager__task-illustration {
  position: relative;

  flex-grow: 1;

  & > div {
    height: 100%;
    border-radius: 15px;
    background: $colorLight;
    box-shadow: 0px 8px 16px 0px rgba(144, 147, 169, 0.08);
  }
}

.task-manager__task-illustration-behind {
  position: absolute;
  inset: 0;
  opacity: 0.65;
  transform: rotate(-15deg);
}

.task-manager__task-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80vh;
  display: flex;
  gap: 20px;
  pointer-events: none;
  &.active {
    pointer-events: auto;
  }
}

// ------ Task Card : FULLSCREEN VIEW ------
.task-manager__task-card.fullscreen {
  overflow-y: auto;
  width: 100%;
  border-radius: 20px;
  pointer-events: auto;

  .fullscreen-state {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .discussion__userspan {
    align-self: flex-end;
  }
}

// ------ Notification Container ------
.task-manager__notification-container {
  position: fixed;
  top: 80px;
  left: calc((100vw - $maxWidth) / 2);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  overflow: hidden;
  background-color: rgb(224, 149, 2);
  cursor: pointer;
  z-index: 10;

  &.hidden {
    opacity: 0;
  }

  @include media("<desktop") {
    left: 24px;
  }

  @include media("<phone") {
    top: 60px;
  }

  .task-manager__notification-closeBtn {
    background-color: rgba(255, 255, 255, 0.33);
    width: 24px;
    height: 24px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      opacity: 0;
      width: 9px;
      height: 9px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .task-manager__notification-label {
    position: absolute;
    height: 100%;
    white-space: nowrap;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    top: 0px;
    left: 202%;
    font-size: 16px;
    font-weight: 450;
    line-height: 20px;
    letter-spacing: 0.5px;
    overflow: hidden;
    max-width: 350px;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @include media("<phone") {
      max-width: 200px;
    }
  }
}

.task-manager__notification-container.expanded {
  width: auto;
  padding: 0 8px 0 16px;

  .task-manager__notification-closeBtn svg {
    opacity: 1;
  }

  .task-manager__notification-label {
    position: static;
    background-color: transparent;
  }
}
