$radiusDotTyping: 22px;

.typing__container {
  position: absolute;
  z-index: 1;
  width: 99%;
  height: $radiusDotTyping;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  visibility: hidden;
  // overflow: hidden;
  pointer-events: none;
}

.typing__mask {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.typing__logo {
  position: absolute;
  left: 0;  
  top: 50%;
  transform: translateY(-50%);
  width: $radiusDotTyping;
  height: $radiusDotTyping;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

.typing__skeleton-container {
  position: absolute;
  top: calc(50% + 20px);
  width: 100%;
  display: flex; 
  flex-direction: column;
  gap: 16px;
  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}



.typing__skeleton{
  background-color: $colorGrey;
  height: 12px;
  transform: scaleX(0);
  transform-origin: left;
  animation: pulse 1.5s ease-in infinite;
}

.typing__skeleton-0{
  width: 75%;
}

.typing__skeleton-1{
  width: 80%;
}

.typing__skeleton-2{
  width: 78%;
}

.typing__skeleton-3{
  width: 76%;
}



.typing__text {
  //   margin-left: 16px;
  position: relative;
  color: $colorBlack;
}

@keyframes pulse {
  0% { background-color: $colorGrey; }
  50% { background-color: #dddcdc; }
  100% { background-color: $colorGrey; }
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
