.input__video--container {
  background: $backgroundColorGreyPage;
  position: fixed;
  z-index: 10;
  opacity: 0;
  inset: 0;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 0.3s ease-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.input__video--header {
  display: flex;
  padding: 28px 40px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: $colorLight;

  .flash-btn {
    font-family: "SFPro";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}

.input__video--timer {
  background-color: rgba(255, 0, 0, 1);
  padding: 6px 12px 4px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.input__video--camera {
  position: absolute;
  inset: 0;
  // background-color: $colorBlueText;

  video {
    pointer-events: none;
    height: 100%;
    inset: 0;
    object-fit: cover;

    &.none {
      display: none;
    }
  }

  video::-webkit-media-controls {
    display: none !important;
  }
}

.input__video--canvas {
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input__video--camera-loader {
  display: none;
  width: 48px;
  height: 48px;
  z-index: 1;
  border: 5px solid $colorBlueText;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input__video--footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  padding: 24px 0 80px;
  z-index: 2;

  @include media("<phone") {
    padding: 24px 0 67px;
  }

  .input__video--buttons-wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 74px;
    color: $colorLight;
  }

  .input__video--info-container {
    text-align: center;
    color: $colorLight;
  }
}

.input__video--button {
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: rgba(0, 0, 0, 0.24);

  transition: background-color ease-out 0.2s;

  rect,
  path,
  mask {
    fill: white;
    stroke: white;
  }

  &.pause-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .pause-btn__line {
    width: 2px;
    height: 13px;
    border-radius: 2px;
    background-color: $colorLight;
  }

  &.exit-btn {
    font-family: "SFPro";
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  &.flash-btn {
    background-color: transparent;
  }

  * {
    transition: all ease-out 0.2s;
  }
  &:hover,
  &:active {
    background: rgba(44, 44, 43, 1);
  }

  &.pause-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include media("<tablet") {
    &:hover {
      background-color: rgba($colorBlueText, 0.03);

      rect,
      path,
      mask {
        fill: $colorBlueText;
        stroke: $colorBlueText;
      }
    }
  }

  &.reverse-btn.hidden {
    display: none;
  }
}
