.input__video--container {
  background: $backgroundColorGreyPage;
  position: fixed;
  z-index: 10;
  opacity: 0;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 0.3s ease-out;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.input__video--phone-container {
  background-color: green;
  height: 136px;
  flex: 1;

  @include media("<phone") {
    padding-top: 96px;
  }

  .content {
    background-color: lightcoral;
    height: 100%;
  }
}

.input__video--camera {
  background-color: blue;
  flex-grow: 1;

  video {
    height: 100%;
    width: 100%; // Ensuring video takes full width
  }
}

.input__video--footer {
  flex: 1;
  background-color: salmon;
  padding: 24px 0 46px;

  .input__video--buttons-wrapper {
    // max-width: 360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 74px;
    background-color: green;
  }

  .input__video--button {
    border: 1px solid red;
    height: 60px;
  }
}
