// containers
.preLoginContent__container {
  $background: #333333;
  $secondary: rgba(255, 255, 255, 0.72);
  $maxWidth: 1232px;

  background-color: $background;
  min-height: 200vh;
  padding: 80px 0 198px;
  font-family: "SFPro";
  position: relative;

  @media screen and (max-height: 800px) {
    padding: 24px 0 120px;
  }

  @include media("<tablet") {
    padding: 60px 0 120px;
  }

  .x-container {
    max-width: $maxWidth;
    margin: 0 auto;

    @include media("<large") {
      max-width: none;
      margin: 0 120px;
    }

    @include media("<desktop") {
      margin: 0 clamp(48px, 8vw, 120px);
    }

    @include media("<tablet") {
      margin: 0 clamp(24px, 4vw, 60px);
    }
  }

  // text styles
  h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px; /* 125% */
    letter-spacing: 1px;

    @include media("<tablet") {
      font-size: 32px;
      line-height: 40px; /* 125% */
    }
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 1px;
  }

  h4 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    letter-spacing: 1px;

    @include media("<tablet") {
      font-size: 20px;
      line-height: 24px; /* 120% */
    }
  }

  // ---------- BUTTON ----------
  .preLoginContent__button {
    top: 80px;
    right: 120px;
    padding: 10px 24px;
    background-color: $background;
    border-radius: 16px;
    color: $secondary;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px; /* 125% */
    letter-spacing: 1px;
    transition: background-color 0.3s ease-out;
    text-wrap: nowrap;

    &:hover {
      background-color: #292828;
    }

    @include media("<tablet") {
      padding: 8px 16px;
      font-size: 12px;
      line-height: 16px; /* 133.333% */
    }
  }

  // ---------- HEADER ----------
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  // ---------- SLIDER ----------
  .preLoginContent__slider {
    display: flex;
    padding: 0 120px;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;

    // Hide scrollbar for Chrome, Safari and Opera
    &::-webkit-scrollbar {
      display: none;
    }

    // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    @include media("<desktop") {
      padding: 0 clamp(24px, 4vw, 120px);
    }

    // .preLoginContent__gutter {
    //   width: calc(((100vw - $maxWidth) / 2));
    // }

    .preLoginContent__slider-card {
      scroll-snap-align: center;

      width: 400px;
      flex: none;
      margin-right: 16px;

      &.last {
        margin-right: 0;
      }

      .preLoginContent__slider-content {
        position: relative;
        height: 500px;
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid blue;
        padding: 32px 24px;
        background-image: url("https://res.cloudinary.com/dfdqiqn98/image/upload/v1715266574/Home/Announcing_CO_ojqqx0.png");
        background-size: cover;

        &.first {
          background: black;
          display: flex;
          justify-content: center;
          align-items: center;

          h3 {
            position: absolute;
            top: 32px;
            left: 24px;
          }

          .CO-logo-gradient {
            width: 100%;
          }
        }

        &.second {
          background: url("https://res.cloudinary.com/dfdqiqn98/image/upload/v1715270730/Home/Multitask-illustration_u2igpr.png")
            center no-repeat;
          background-size: cover;
        }

        &.third {
          background: url("https://res.cloudinary.com/dfdqiqn98/image/upload/v1715270728/Home/Planet-of-the-apes_qjbmds.png")
            center no-repeat;
          background-size: cover;
        }

        &.fourth {
          padding: 0;

          video {
            object-fit: cover;
            object-position: center;
            scale: 1.1;
          }
        }

        &.fifth {
          background: url("https://res.cloudinary.com/dfdqiqn98/image/upload/v1715270728/Home/Red-with-texture_puila8.png")
            center no-repeat;
          background-size: cover;

          h2 {
            font-weight: 700;
          }
        }

        &.sixth {
          background: url("https://res.cloudinary.com/dfdqiqn98/image/upload/v1715270730/Home/ClockWork-dalle_urm51v.png")
            center no-repeat;
          background-size: cover;
        }

        &.seventh {
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;

          p {
            font-size: 72px;
            font-weight: 600;
            line-height: 72px; /* 33.333% */
            letter-spacing: 1px;

            background: -webkit-linear-gradient(0deg, #ff0f01 0%, white 100%);
            background-size: 150% 200%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      h4 {
        margin-top: 16px;
        padding: 0 16px;
      }

      @include media("<phone") {
        width: 100%;
      }
    }
  }
}

// ---------- FOOTER ----------
.preLoginContent__container .preLoginContent__footer {
  position: relative;

  margin-top: 98px;

  @include media("<tablet") {
    margin-top: 48px;
  }

  @include media("<phone") {
    margin-top: 4px;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
  }

  .preLoginContent__ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .divgoogle {
    display: flex;
    border: none;
    background-color: black;
    padding: 14px 42px 14px 14px;
    gap: 16px;
    align-items: center;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: #292828;
    }

    img {
      width: 32px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px; /* 125% */
      letter-spacing: 1px;
      text-wrap: nowrap;
    }

    @include media("<desktop") {
      padding: 8px 24px 8px 8px;

      img {
        width: 24px;
      }

      p {
        font-size: 12px;
        line-height: 16px; /* 133.333% */
      }
    }
  }

  .preLoginContent__announcingCO-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 46px 36px 26px 41px;
    border-radius: 16px;

    height: clamp(400px, 50vw, 600px);
    background: url("https://res.cloudinary.com/dfdqiqn98/image/upload/v1715266574/Home/Announcing_CO_ojqqx0.png")
      no-repeat center;
    background-size: cover;

    @include media("<phone") {
      padding: 32px 28px 28px 24px;
    }

    .CO-logo {
      display: flex;
      justify-content: end;

      img {
        width: clamp(98.5px, 25vw, 329px);

        @include media("<desktop") {
          width: max(98.5px, 15vw);
        }
      }
    }

    p {
      font-size: clamp(40px, 7vw, 96px);
      font-weight: 700;
      line-height: 100%; /* 41.667% */
      letter-spacing: 1px;

      @include media("<tablet") {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px; /* 100% */
      }
    }
  }
}
