<div class="caroussel__container">
  <div class="caroussel__inner">
    <button class="controls" id="btn-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="none">
        <path fill="#fff" d="M6.242 10.574a.8.8 0 0 1 1.131-1.131l5.649 5.649a.8.8 0 0 1-1.131 1.131l-5.65-5.649Z" />
        <path
          fill="#fff"
          d="M6.234 10.566a.8.8 0 0 1 0-1.132l5.657-5.656a.8.8 0 1 1 1.13 1.132l-5.655 5.656a.8.8 0 0 1-1.132 0Z"
        />
        <rect width="16" height="1.6" x="6" y="9.2" fill="#fff" rx=".8" />
      </svg>
    </button>
    <p class="caroussel__text"></p>
    <button class="controls" id="btn-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" fill="none">
        <path fill="#fff" d="M21.758 10.574a.8.8 0 0 0-1.131-1.131l-5.649 5.649a.8.8 0 0 0 1.131 1.131l5.65-5.649Z" />
        <path
          fill="#fff"
          d="M21.766 10.566a.8.8 0 0 0 0-1.132l-5.657-5.656a.8.8 0 1 0-1.13 1.132l5.655 5.656a.8.8 0 0 0 1.132 0Z"
        />
        <rect width="16" height="1.6" fill="#fff" rx=".8" transform="matrix(-1 0 0 1 22 9.2)" />
      </svg>
    </button>
  </div>

  <div class="caroussel__markers"></div>
</div>