<div class="categories__list--container">
  <ul class="categories__list">
    <li class="active"><button>Book</button></li>
    <li><button>Plan</button></li>
    <li><button>Reserve</button></li>
    <li><button>Buy</button></li>
    <li><button>Order</button></li>
    <li><button>Compare</button></li>
    <li><button>Brainstorm</button></li>
    <li><button>Write</button></li>
  </ul>
</div>