<div class="logo__main">
</div>
<div class="logo__mobile">
  <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M23.9998 17.9746H20.46V0H23.9998V17.9746Z" fill="black" fill-opacity="0.4" />
    <path
      d="M6.85852 0L0 18H3.69791L8.81809 3.92958L13.9699 18H17.7942L10.9042 0H6.85852Z"
      fill="black"
      fill-opacity="0.4"
    />
  </svg>
</div>