    <div class="page page-blue">
      <main>
        <div class="top">
          <!-- Logo -->
          {{> bluePage/logo}}
        </div>
        <div class="center">
          <div class="input__wrapper">
            <!-- Input -->

            {{> input labelPage="blue"}}
          </div>
        </div>
        <div class="bottom">
          <!-- Categories list -->
          {{> bluePage/categoriesList}}
          <!-- Caroussel -->
          {{> bluePage/caroussel}}
        </div>
      </main>
      <!-- Image drop -->
      {{> imageDrop}}
      <!-- Info -->
      {{> bluePage/infoText}}
    </div>