<div class="logo">
  <svg xmlns="http://www.w3.org/2000/svg" width="33" height="24" fill="none">
    <path
      fill="#000"
      fill-opacity=".24"
      d="M32.085 23.966h-4.733V0h4.733v23.966ZM9.169 0 0 24h4.944l6.845-18.76L18.676 24h5.113L14.578 0H9.169Z"
    />
  </svg>
</div>