
html {
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1px;
  font-size: 24px;
  overflow-x: hidden;
  margin: 0;
}
.header {
  cursor: pointer;
  border: none;
  outline: none;
  margin: auto;
  display: inline-block;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  min-height: 57.5px;
  vertical-align: bottom;
}
.headerinput {
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-block;
  margin: auto;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 500;
  /* line-height: 39px !important; */
  letter-spacing: 1px;
  font-size: 24px;
  /* width: 95%; */
  width: calc(100% - 100px);
  vertical-align: top;
  padding: 0;
}
.headerinput::placeholder {
  color: #000000;
  opacity: 0.4; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000000;
  opacity: 0.4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000000;
  opacity: 0.4;
}
.headerinput.mic {
  /* font-size: 20px; */
  letter-spacing: 0.4px;
  color: rgba(255, 23, 78, 0.4);
}
.image-upload {
  display: inline-block;
}
.divchatinner {
  position: absolute !important;
  width: 93.5%;
}

.collapsible {
  width: 10%;
  opacity: 0.4;
}

.active {
  width: 63%;
  opacity: 1;
}
.container {
  cursor: pointer;
  border: none;
  outline: none;
  margin: auto;
  display: inline-block;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.human {
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  padding-left: 7%;
}

.ai {
  color: #000000;
  text-align: left;
  font-weight: 500;
  padding-right: 7%;
}
.console-underscore-red {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ff4772;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.console-underscore {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: black;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.stopani {
  animation-iteration-count: 0;
}
.hidden {
  display: none;
}

/* mobile menu */
.nav-menu {
  display: none;
  padding-left: 17px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.nav-link:hover {
  color: #000000;
}

.nav-link:visted {
  color: #000000;
}

.navbar {
  display: none;
  margin-bottom: 15px;
  margin-left: 10px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 20px;
  height: 1.6px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #404244;
}

#flightdiv {
  /* overflow-x: auto; */
  white-space: nowrap;
}
#flight {
  background: #f5f5f5;
  /* width: 30%; */
  /* padding: 1%; */
  /* display: inline-block; */
  margin-bottom: 16px;
  height: 92px;
  width: 944px;
  left: 284px;
  top: 464px;
  border-radius: 24px;
}
.flightsearch {
  /* Searching the web for cheaper options */
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  letter-spacing: 1px;
  font-feature-settings: "liga" off;

  color: rgba(255, 71, 114, 0.72);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#flightbest {
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 24px;
  right: 96px;
  top: -12px;
  background-color: #007AFF;
  color: #ffffff;
  border-radius: 24px;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  display: flex;
  padding: 4px 12px;
}

#flightcontainer {
  display: flex; /*establish flex container  */
  /* flex-direction: row;            default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  width: 100%;
  position: relative;
  align-items: center;
  height: 100%;
}
#flightcontainerint {
  display: flex; /*establish flex container  */
  /* flex-direction: row;            default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  width: 100%;
  position: relative;
  align-items: center;
  height: 100%;
  /* align-items: flex-start; */
}
#flightcontainerint2 {
  display: flex; /*establish flex container  */
  /* flex-direction: row;            default value; can be omitted */
  flex-wrap: nowrap; /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  width: 100%;
  position: relative;
  align-items: center;
  /* height: 100%; */
  /* align-items: flex-start; */
  top: 4%;
}
#flightleft {
  position: absolute;
  left: 15%;
  top: 55%;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 25%;
}
#flightcenter {
  position: absolute;
  width: 50%;
  left: 25%;
  /* top: 55%; */
  margin: auto;
  text-align: center;
  font-size: 16px;
  margin: 0;
}
#flightright {
  position: absolute;
  left: 85%;
  top: 47%;
  margin: 0;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: right;
  width: 25%;
}
#country {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #404244;
}
#time {
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #404244;
}
#currency {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 2px;
  color: rgba(64, 66, 68, 0.6);
}
#price {
  font-size: 28px;
  line-height: 32px;
  align-items: center;
  text-align: right;
  letter-spacing: 1px;
  color: #404244;
}
#hours {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: right;
  letter-spacing: 1px;
  color: rgba(64, 66, 68, 0.6);
  font-weight: 500;
}
#diffDays {
  font-size: 14px;
  line-height: 20px;
  color: rgba(64, 66, 68, 0.6);
  font-weight: 500;
}
#stopovers {
  font-size: 14px;
  line-height: 20px;
  color: rgba(64, 66, 68, 0.6);
  font-weight: 500;
}
.left {
  text-align: left;
  position: relative;
  height: 67px;
}
.center {
  text-align: center;
  width: 60%;
  height: 67px;
}
.right {
  text-align: left;
  height: 67px;
  width: 20%;
}
.dot {
  height: 2px;
  width: 2px;
  background: #40424466;
  border-radius: 40%;
  display: inline-block;
}
.audio-recording-container {
  display: inline-block;
}
.recording-contorl-buttons-container {
  /*targeting Chrome & Safari*/
  display: -webkit-flex;
  /*targeting IE10*/
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  /*horizontal centering*/
  align-items: center;
  /* width: 334px; */
  /* margin-bottom: 30px; */
}
.micbtnstop {
  /* padding-bottom: 10px; */
  padding: 11px;
  /* width: 36px;  */
  /* height: 36px; */
}
.micbtnstop.hide {
  display: none;
}
.human.hide {
  display: none;
}
.hide {
  display: none;
}

.btnsubmit {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.btnsubmit:hover {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 850px) {
  html {
    line-height: 28px;
    font-size: 20px;
  }
  .headerinput {
    font-size: 20px !important;
    line-height: 28px !important;
    /* width: 85%; */
  }
  .ai {
    line-height: 28px;
    font-size: 20px;
  }
  .header.active {
    width: 80% !important;
    opacity: 1;
  }
  .container.active {
    width: 96% !important;
  }
  #divhistory {
    display: none;
  }
  #divsettings {
    display: none;
  }
  .navbar {
    display: inline-block;
  }

  .nav-menu {
    list-style-type: none;
    position: fixed;
    text-decoration: none !important;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    background: white;
    z-index: 1;
  }

  .nav-menu.actives {
    left: 0;
    display: block;
  }

  .nav-item {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.actives .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.actives .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.actives .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
